Repository dotnet/sdk, pull requests merged in 2019-08, with the labels that each got.

#3509 Change the assertion to not to catch the RAR warning
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildADesktopLibrary.cs
Labels: Infrastructure

#3500 Retry apphost creation.
  src/Tasks/Common/Resources/Strings.resx
  src/Tasks/Common/Resources/xlf/Strings.cs.xlf
  src/Tasks/Common/Resources/xlf/Strings.de.xlf
  src/Tasks/Common/Resources/xlf/Strings.es.xlf
  src/Tasks/Common/Resources/xlf/Strings.fr.xlf
  src/Tasks/Common/Resources/xlf/Strings.it.xlf
  src/Tasks/Common/Resources/xlf/Strings.ja.xlf
  src/Tasks/Common/Resources/xlf/Strings.ko.xlf
  src/Tasks/Common/Resources/xlf/Strings.pl.xlf
  src/Tasks/Common/Resources/xlf/Strings.pt-BR.xlf
  src/Tasks/Common/Resources/xlf/Strings.ru.xlf
  src/Tasks/Common/Resources/xlf/Strings.tr.xlf
  src/Tasks/Common/Resources/xlf/Strings.zh-Hans.xlf
  src/Tasks/Common/Resources/xlf/Strings.zh-Hant.xlf
  src/Tasks/Microsoft.NET.Build.Tasks/CreateAppHost.cs
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.targets
  src/Tests/Microsoft.NET.Build.Tests/AppHostTests.cs
Labels: Approved to merge, ask-mode

#3511 Fix publishing of applications that specify a full path to the profile.
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.ImportPublishProfile.targets
  src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToPublishAHelloWorldProject.cs
Labels: Approved to merge, ask-mode

#3473 Fix Publish with GeneratePackageOnBuild=true
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.PackTool.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Publish.targets
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToPublishWithGeneratePackageOnBuildAndPackAsTool.cs
  src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToPublishWithGeneratePackageOnBuildAndPackAsTool.cs
  src/Tests/Microsoft.NET.ToolPack.Tests/GivenThatWeWantToPackAToolProjectWithGeneratePackageOnBuild.cs
Labels: Approved to merge, ask-mode

#3505 Need apphost in build but do not pack it
  src/Tasks/Microsoft.NET.Build.Tasks/ResolveToolPackagePaths.cs
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.PackTool.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.RuntimeIdentifierInference.targets
  src/Tests/Microsoft.NET.ToolPack.Tests/GivenThatWeWantToPackAToolProject.cs
Labels: Approved to merge, ask-mode

#3516 Separate supported target framework into app/standard lists.
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.SupportedTargetFrameworks.props
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeManifestSupportedFrameworks.cs
Labels: Approved to merge, ask-mode

#3513 React to removal of types in Microsoft.VisualBasic.Core.dll
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.VisualBasic.targets
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildALibraryWithVB.cs
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToUseVB.cs
Labels: Approved to merge, ask-mode

#3501 Removed outdated, commented out code
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.DefaultItems.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.TargetFrameworkInference.targets
Labels: Approved to merge, tell-mode

#3506 Emit progid information into the CLSIDMap.
  src/Assets/TestProjects/ComServer/ComServer.cs
  src/Tasks/Microsoft.NET.Build.Tasks/ClsidMap.cs
  src/Tasks/Microsoft.NET.Build.Tasks/RegFreeComManifest.cs
Labels: ask-mode

#3523 Update stage 0
  global.json
  src/Tests/Microsoft.NET.Build.Tests/GivenFrameworkReferences.cs
Labels: tell-mode

#3527 Change default apphost creation retry count to zero.
  src/Tasks/Microsoft.NET.Build.Tasks/CreateAppHost.cs
  src/Tests/Microsoft.NET.Build.Tests/AppHostTests.cs
Labels: Approved to merge, ask-mode

#3529 Change default apphost creation retry count to zero.
  src/Tasks/Microsoft.NET.Build.Tasks/CreateAppHost.cs
  src/Tests/Microsoft.NET.Build.Tests/AppHostTests.cs
Labels: Approved to merge, ask-mode

#3421 Remove CheckForDuplicateItemsContinueOnError property
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.DefaultItems.targets
Labels: Approved to merge, ask-mode

#3533 Opting into dependentupon convention
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.targets
  src/Tests/Microsoft.NET.Build.Tests/GenerateResourceTests.cs
Labels: Approved to merge, ask-mode

#3543 Fix regression in selecting default RuntimeIdentifier
  src/Tasks/Microsoft.NET.Build.Tasks/GetDefaultPlatformTargetForNetFramework.cs
  src/Tasks/Microsoft.NET.Build.Tasks/ResolvePackageAssets.cs
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.RuntimeIdentifierInference.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.PackageDependencyResolution.targets
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildADesktopExe.cs
Labels: Approved to merge, ask-mode

#3528 Miscellaneous perf fixes
  src/Tasks/Common/ConflictResolution/ConflictItem.cs
  src/Tasks/Common/ConflictResolution/PackageOverride.cs
  src/Tasks/Common/ConflictResolution/PackageOverrideResolver.cs
  src/Tasks/Common/targets/Microsoft.NET.DefaultPackageConflictOverrides.targets
  src/Tasks/Microsoft.NET.Build.Tasks.UnitTests/GivenAConflictResolver.cs
  src/Tasks/Microsoft.NET.Build.Tasks.UnitTests/GivenAPackageOverrideResolver.cs
  src/Tasks/Microsoft.NET.Build.Tasks.UnitTests/Mocks/MockConflictItem.cs
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.FrameworkReferenceResolution.targets
Labels: Approved to merge, ask-mode

#3542 Allow specifying RollForward with Major/LatestMajor on all apps
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.targets
  src/Tests/Microsoft.NET.Build.Tests/GivenFrameworkReferences.cs
Labels: Approved to merge, ask-mode
