Repository dotnet/sdk, pull requests merged in 2020-09, with the labels that each got.

#13272 Switching to 4 part Windows versions
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.TargetFrameworkInference.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.WindowsSdkSupportedTargetPlatforms.props
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildALibrary.cs
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildAWindowsDesktopProject.cs
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildWithATargetPlatform.cs
Labels: Auto-Merge If Tests Pass, auto-merge

#13311 Source dependency on Microsoft.DotNet.SdkResolver
  src/Resolvers/Microsoft.DotNet.MSBuildSdkResolver/Microsoft.DotNet.MSBuildSdkResolver.csproj
  src/Tests/Microsoft.DotNet.MSBuildSdkResolver.Tests/GivenAnMSBuildSdkResolver.cs
  src/Tests/Microsoft.DotNet.MSBuildSdkResolver.Tests/Microsoft.DotNet.MSBuildSdkResolver.Tests.csproj
Labels: Auto-Merge If Tests Pass, auto-merge, tell-mode

#13337 Merge RC1 to master
  .vsts-ci.yml
  documentation/general/tab-completion.md
  src/Assets/TestProjects/NETCoreCppClApp/NETCoreCppCliTest/NETCoreCppCliTest.vcxproj
  src/Assets/TestProjects/NetCoreCsharpAppReferenceCppCliLib/CSConsoleApp/CSConsoleApp.csproj
  src/Cli/Microsoft.DotNet.Configurer/LocalizableStrings.resx
  src/Cli/Microsoft.DotNet.Configurer/xlf/LocalizableStrings.cs.xlf
  src/Cli/Microsoft.DotNet.Configurer/xlf/LocalizableStrings.de.xlf
  src/Cli/Microsoft.DotNet.Configurer/xlf/LocalizableStrings.es.xlf
  src/Cli/Microsoft.DotNet.Configurer/xlf/LocalizableStrings.fr.xlf
  src/Cli/Microsoft.DotNet.Configurer/xlf/LocalizableStrings.it.xlf
  src/Cli/Microsoft.DotNet.Configurer/xlf/LocalizableStrings.ja.xlf
  src/Cli/Microsoft.DotNet.Configurer/xlf/LocalizableStrings.ko.xlf
  src/Cli/Microsoft.DotNet.Configurer/xlf/LocalizableStrings.pl.xlf
  src/Cli/Microsoft.DotNet.Configurer/xlf/LocalizableStrings.pt-BR.xlf
  src/Cli/Microsoft.DotNet.Configurer/xlf/LocalizableStrings.ru.xlf
  src/Cli/Microsoft.DotNet.Configurer/xlf/LocalizableStrings.tr.xlf
  src/Cli/Microsoft.DotNet.Configurer/xlf/LocalizableStrings.zh-Hans.xlf
  src/Cli/Microsoft.DotNet.Configurer/xlf/LocalizableStrings.zh-Hant.xlf
  src/Resolvers/Microsoft.DotNet.MSBuildSdkResolver/Microsoft.DotNet.MSBuildSdkResolver.csproj
  src/Tasks/Microsoft.NET.Build.Tasks.UnitTests/GivenADependencyContextBuilder.cs
  src/Tasks/Microsoft.NET.Build.Tasks.UnitTests/GivenAProjectContext.cs
  src/Tasks/Microsoft.NET.Build.Tasks.UnitTests/GivenAResolvePackageDependenciesTask.cs
  src/Tasks/Microsoft.NET.Build.Tasks.UnitTests/GivenAnAssetsFileResolver.cs
  src/Tasks/Microsoft.NET.Build.Tasks.UnitTests/GivenThatWeWantToGetDependenciesViaDesignTimeBuild.cs
  src/Tasks/Microsoft.NET.Build.Tasks.UnitTests/LockFileSnippets.cs
  src/Tasks/Microsoft.NET.Build.Tasks.UnitTests/LockFiles/all.asset.types.project.lock.json
  src/Tasks/Microsoft.NET.Build.Tasks.UnitTests/LockFiles/dependencies.withgraphs.project.lock.json
  src/Tasks/Microsoft.NET.Build.Tasks.UnitTests/LockFiles/dotnet.new.project.lock.json
  src/Tasks/Microsoft.NET.Build.Tasks.UnitTests/LockFiles/simple.dependencies.project.lock.json
  src/Tasks/Microsoft.NET.Build.Tasks/CheckForTargetInAssetsFile.cs
  src/Tasks/Microsoft.NET.Build.Tasks/FilterResolvedFiles.cs
  src/Tasks/Microsoft.NET.Build.Tasks/GenerateDepsFile.cs
  src/Tasks/Microsoft.NET.Build.Tasks/GenerateRuntimeConfigurationFiles.cs
  src/Tasks/Microsoft.NET.Build.Tasks/LockFileExtensions.cs
  src/Tasks/Microsoft.NET.Build.Tasks/PreprocessPackageDependenciesDesignTime.cs
  src/Tasks/Microsoft.NET.Build.Tasks/ProjectContext.cs
  src/Tasks/Microsoft.NET.Build.Tasks/ResolveCopyLocalAssets.cs
  src/Tasks/Microsoft.NET.Build.Tasks/ResolvePackageAssets.cs
  src/Tasks/Microsoft.NET.Build.Tasks/ResolvePackageDependencies.cs
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.ComposeStore.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.CrossGen.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.DesignerSupport.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Publish.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.Analyzers.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.FSharp.props
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.TargetFrameworkInference.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Windows.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.WindowsSdkSupportedTargetPlatforms.props
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.PackageDependencyResolution.targets
  src/Tests/Microsoft.DotNet.MSBuildSdkResolver.Tests/GivenAnMSBuildSdkResolver.cs
  src/Tests/Microsoft.DotNet.MSBuildSdkResolver.Tests/Microsoft.DotNet.MSBuildSdkResolver.Tests.csproj
  src/Tests/Microsoft.NET.Build.Tests/DesignTimeBuildTests.cs
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildADesktopExeWithFSharp.cs
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildALibrary.cs
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildAWindowsDesktopProject.cs
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildAnAppWithoutTransitiveProjectRefs.cs
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildWithATargetPlatform.cs
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToReferenceAProject.cs
  src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToExcludeAPackageFromPublish.cs
Labels: Auto-Merge If Tests Pass, auto-merge

#13436 Added '-e, --environment' option to 'dotnet test'.
  src/Cli/dotnet/commands/dotnet-test/LocalizableStrings.resx
  src/Cli/dotnet/commands/dotnet-test/TestCommandParser.cs
  src/Cli/dotnet/commands/dotnet-test/xlf/LocalizableStrings.cs.xlf
  src/Cli/dotnet/commands/dotnet-test/xlf/LocalizableStrings.de.xlf
  src/Cli/dotnet/commands/dotnet-test/xlf/LocalizableStrings.es.xlf
  src/Cli/dotnet/commands/dotnet-test/xlf/LocalizableStrings.fr.xlf
  src/Cli/dotnet/commands/dotnet-test/xlf/LocalizableStrings.it.xlf
  src/Cli/dotnet/commands/dotnet-test/xlf/LocalizableStrings.ja.xlf
  src/Cli/dotnet/commands/dotnet-test/xlf/LocalizableStrings.ko.xlf
  src/Cli/dotnet/commands/dotnet-test/xlf/LocalizableStrings.pl.xlf
  src/Cli/dotnet/commands/dotnet-test/xlf/LocalizableStrings.pt-BR.xlf
  src/Cli/dotnet/commands/dotnet-test/xlf/LocalizableStrings.ru.xlf
  src/Cli/dotnet/commands/dotnet-test/xlf/LocalizableStrings.tr.xlf
  src/Cli/dotnet/commands/dotnet-test/xlf/LocalizableStrings.zh-Hans.xlf
  src/Cli/dotnet/commands/dotnet-test/xlf/LocalizableStrings.zh-Hant.xlf
Labels: Auto-Merge If Tests Pass

#13440 A small refactoring to get rid of a compiler warning
  src/Cli/dotnet/CommandFactory/CommandResolution/ProjectToolsCommandResolver.cs
Labels: Auto-Merge If Tests Pass

#13444 [release/5.0-rc2] Add Microsoft.Managed.{Before/After}.targets for F#
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.FSharpTargetsShim.targets
  src/Tests/dotnet-restore.Tests/GivenThatIWantToRestoreApp.cs
Labels: Servicing-approved, ask-mode

#13464 Add 'PublishIISAssets' msbuild property to help filter IIS Assets
  sdk.sln
  src/WebSdk/Publish/Targets/CopyTargets/Microsoft.NET.Sdk.Publish.FilterFiles.targets
  src/WebSdk/Publish/Targets/Microsoft.NET.Sdk.Publish.targets
  src/WebSdk/Publish/Targets/TransformTargets/Microsoft.NET.Sdk.Publish.TransformFiles.targets
Labels: Web SDK

#13506 Update to 3.1.109
  eng/Versions.props
Labels: Branding

#13571 Oob apphost override
  src/Tasks/Common/Resources/Strings.resx
  src/Tasks/Common/Resources/xlf/Strings.cs.xlf
  src/Tasks/Common/Resources/xlf/Strings.de.xlf
  src/Tasks/Common/Resources/xlf/Strings.es.xlf
  src/Tasks/Common/Resources/xlf/Strings.fr.xlf
  src/Tasks/Common/Resources/xlf/Strings.it.xlf
  src/Tasks/Common/Resources/xlf/Strings.ja.xlf
  src/Tasks/Common/Resources/xlf/Strings.ko.xlf
  src/Tasks/Common/Resources/xlf/Strings.pl.xlf
  src/Tasks/Common/Resources/xlf/Strings.pt-BR.xlf
  src/Tasks/Common/Resources/xlf/Strings.ru.xlf
  src/Tasks/Common/Resources/xlf/Strings.tr.xlf
  src/Tasks/Common/Resources/xlf/Strings.zh-Hans.xlf
  src/Tasks/Common/Resources/xlf/Strings.zh-Hant.xlf
  src/Tasks/Microsoft.NET.Build.Tasks/ResolveAppHosts.cs
  src/Tasks/Microsoft.NET.Build.Tasks/ResolveTargetingPackAssets.cs
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.FrameworkReferenceResolution.targets
Labels: Auto-Merge If Tests Pass, auto-merge

#13655 Add RuntimePackAlwaysCopyLocal run time asset
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Publish.targets
  src/Tests/Microsoft.NET.Build.Tests/GivenWeWantToRequireWindowsForDesktopApps.cs
Labels: Auto-Merge If Tests Pass, auto-merge

#13753 Remove xcopy-msbuild
  global.json
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildACppCliNonLibraryProject.cs
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildACppCliProject.cs
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildADesktopExeWithFSharp.cs
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildAP2PrefernceWithTargetPlatform.cs
  src/Tests/Microsoft.NET.Build.Tests/GiventThatWeWantDesignerSupport.cs
  src/Tests/Microsoft.NET.Pack.Tests/GivenThatWeWantToPackACppCliProject.cs
  src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToPublishACppCliAppProject.cs
  src/Tests/dotnet-list-package.Tests/GivenDotnetListPackage.cs
Labels: Auto-Merge If Tests Pass, auto-merge

#13766 Do not produce reference assembly to redist project
  src/Layout/redist/redist.csproj
Labels: Infrastructure

#13208 Add ClickOnce publishing target for Dotnet app publishing
  CODEOWNERS
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.ClickOnce.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Publish.targets
  src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToPublishToClickOnce.cs
Labels: Auto-Merge If Tests Pass

#13778 Test updated to exclude of sources under Microsoft.NET.Test.Sdk
  eng/Version.Details.xml
  eng/Versions.props
  src/Assets/TestProjects/VSTestCore/VSTestCore.csproj
Labels: Auto-Merge If Tests Pass, auto-merge

#13858 [release/5.0.1xx-rc2] Fix blame parameter quoting
  src/Cli/dotnet/commands/dotnet-test/VSTestArgumentConverter.cs
  src/Tests/dotnet.Tests/ParserTests/VSTestArgumentConverterTests.cs
Labels: Auto-Merge If Tests Pass

#13782 Add workload resolver
  sdk.sln
  src/Assets/TestWorkloads/manifests/Microsoft.NET.Sdk.TestWorkload/WorkloadManifest.json
  src/Assets/TestWorkloads/manifests/Microsoft.NET.Sdk.TestWorkload/WorkloadManifest.targets
  src/Assets/TestWorkloads/packs/Microsoft.NET.Sdk.TestWorkload.Pack/0.42.42/Sdk/AutoImport.props
  src/Assets/TestWorkloads/packs/Microsoft.NET.Sdk.TestWorkload.Pack/0.42.42/Sdk/Sdk.targets
  src/Cli/Microsoft.DotNet.Cli.Utils/Properties/AssemblyInfo.cs
  src/Layout/redist/redist.csproj
  src/Layout/redist/targets/OverlaySdkOnLKG.targets
  src/Microsoft.DotNet.TemplateLocator/Microsoft.DotNet.TemplateLocator.csproj
  src/Microsoft.DotNet.TemplateLocator/TemplateLocator.cs
  src/Resolvers/Microsoft.DotNet.MSBuildSdkResolver/FXVersion.cs
  src/Resolvers/Microsoft.DotNet.MSBuildSdkResolver/MSBuildSdkResolver.cs
  src/Resolvers/Microsoft.DotNet.MSBuildSdkResolver/Microsoft.DotNet.MSBuildSdkResolver.csproj
  src/Resolvers/Microsoft.DotNet.SdkResolver/EnvironmentProvider.cs
  src/Resolvers/Microsoft.DotNet.SdkResolver/Interop.cs
  src/Resolvers/Microsoft.DotNet.SdkResolver/Microsoft.DotNet.SdkResolver.csproj
  src/Resolvers/Microsoft.DotNet.SdkResolver/NETCoreSdkResolver.cs
  src/Resolvers/Microsoft.DotNet.SdkResolver/NETCoreSdkResolverNativeWrapper.cs
  src/Resolvers/Microsoft.DotNet.SdkResolver/SdkResolutionResult.cs
  src/Resolvers/Microsoft.DotNet.SdkResolver/VSSettings.cs
  src/Resolvers/Microsoft.NET.Sdk.WorkloadMSBuildSdkResolver/Microsoft.NET.Sdk.WorkloadMSBuildSdkResolver.csproj
  src/Resolvers/Microsoft.NET.Sdk.WorkloadMSBuildSdkResolver/SdkResolvers/Microsoft.NET.Sdk.WorkloadMSBuildSdkResolver/Microsoft.NET.Sdk.WorkloadMSBuildSdkResolver.xml
  src/Resolvers/Microsoft.NET.Sdk.WorkloadMSBuildSdkResolver/WorkloadSdkResolver.cs
  src/Resolvers/Microsoft.NET.Sdk.WorkloadManifestReader/IWorkloadManifestProvider.cs
  src/Resolvers/Microsoft.NET.Sdk.WorkloadManifestReader/IWorkloadResolver.cs
  src/Resolvers/Microsoft.NET.Sdk.WorkloadManifestReader/Microsoft.NET.Sdk.WorkloadManifestReader.csproj
  src/Resolvers/Microsoft.NET.Sdk.WorkloadManifestReader/SdkDirectoryWorkloadManifestProvider.cs
  src/Resolvers/Microsoft.NET.Sdk.WorkloadManifestReader/WorkloadManifestReader.SystemTextJson.cs
  src/Resolvers/Microsoft.NET.Sdk.WorkloadManifestReader/WorkloadResolver.cs
  src/Resolvers/WorkloadManifestValidator/WorkloadManifestValidator.csproj
  src/Tasks/Common/Resources/Strings.resx
  src/Tasks/Common/Resources/xlf/Strings.cs.xlf
  src/Tasks/Common/Resources/xlf/Strings.de.xlf
  src/Tasks/Common/Resources/xlf/Strings.es.xlf
  src/Tasks/Common/Resources/xlf/Strings.fr.xlf
  src/Tasks/Common/Resources/xlf/Strings.it.xlf
  src/Tasks/Common/Resources/xlf/Strings.ja.xlf
  src/Tasks/Common/Resources/xlf/Strings.ko.xlf
  src/Tasks/Common/Resources/xlf/Strings.pl.xlf
  src/Tasks/Common/Resources/xlf/Strings.pt-BR.xlf
  src/Tasks/Common/Resources/xlf/Strings.ru.xlf
  src/Tasks/Common/Resources/xlf/Strings.tr.xlf
  src/Tasks/Common/Resources/xlf/Strings.zh-Hans.xlf
  src/Tasks/Common/Resources/xlf/Strings.zh-Hant.xlf
  src/Tasks/Microsoft.NET.Build.Tasks/ShowMissingWorkloads.cs
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.ImportWorkloads.props
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.ImportWorkloads.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.props
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.targets
  src/Tests/Microsoft.NET.Build.Tests/WorkloadTests.cs
  src/Tests/Microsoft.NET.Sdk.WorkloadManifestReader.Tests/FakeManifestProvider.cs
  src/Tests/Microsoft.NET.TestFramework/ToolsetInfo.cs
Labels: Auto-Merge If Tests Pass

#13893 Make VSTest target depend on _ComputeTargetFrameworkItems
  src/Layout/redist/MSBuildImports/Current/Microsoft.Common.CrossTargeting.targets/ImportAfter/Microsoft.TestPlatform.CrossTargeting.targets
  src/Tests/dotnet-test.Tests/GivenDotnetTestBuildsAndRunsTestFromCsprojForMultipleTFM.cs
Labels: Approved to merge

#13904 Fix single file / R2R for apps targeting windows 10
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Publish.targets
  src/Tests/Microsoft.NET.Build.Tests/GivenWeWantToRequireWindowsForDesktopApps.cs
Labels: Approved to merge
