Repository dotnet/sdk, pull requests merged in 2020-07, with the labels that each got.

#12232 Support runtimecopylocal to enable cswinrt
  eng/restore-toolset.sh
  src/Tasks/Common/MetadataKeys.cs
  src/Tasks/Microsoft.NET.Build.Tasks.UnitTests/GivenAGenerateRuntimeConfigurationFiles.cs
  src/Tasks/Microsoft.NET.Build.Tasks.UnitTests/MockNeverCacheBuildEngine4.cs
  src/Tasks/Microsoft.NET.Build.Tasks.UnitTests/Mocks/MockTaskItem.cs
  src/Tasks/Microsoft.NET.Build.Tasks.UnitTests/ProcessFrameworkReferencesTests.cs
  src/Tasks/Microsoft.NET.Build.Tasks.UnitTests/ResolveTargetingPackAssetsTests.cs
  src/Tasks/Microsoft.NET.Build.Tasks/GenerateDepsFile.cs
  src/Tasks/Microsoft.NET.Build.Tasks/ProcessFrameworkReferences.cs
  src/Tasks/Microsoft.NET.Build.Tasks/ResolveRuntimePackAssets.cs
  src/Tasks/Microsoft.NET.Build.Tasks/ResolveTargetingPackAssets.cs
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.FrameworkReferenceResolution.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.props
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Windows.props
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Windows.targets
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildALibrary.cs
Labels: Auto-Merge If Tests Pass, auto-merge

#12317 [Port] Updating the web deploy reference to 4.0.5
  eng/Versions.props
Labels: Servicing-approved

#12371 Add _WorkloadLibraryPacksFolder
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.NuGetOfflineCache.targets
Labels: Auto-Merge If Tests Pass, auto-merge

#12106 Import Windows desktop target when property is set
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.props
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Windows.props
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Windows.targets
Labels: Auto-Merge If Tests Pass, auto-merge

#12418 Reverting #12084
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.TargetFrameworkInference.targets
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildALibrary.cs
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildALibraryWithVB.cs
Labels: Auto-Merge If Tests Pass, auto-merge

#11499 Generate target platform assembly attributes
  global.json
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.GenerateAssemblyInfo.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.TargetFrameworkInference.targets
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildALibraryWithOSMinimumVersion.cs
  src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToPublishASingleFileApp.cs
Labels: Auto-Merge If Tests Pass, auto-merge

#12451 Add error when MinimumOSPlatform is higher than TargetPlatformVersion
  src/Tasks/Common/Resources/Strings.resx
  src/Tasks/Common/Resources/xlf/Strings.cs.xlf
  src/Tasks/Common/Resources/xlf/Strings.de.xlf
  src/Tasks/Common/Resources/xlf/Strings.es.xlf
  src/Tasks/Common/Resources/xlf/Strings.fr.xlf
  src/Tasks/Common/Resources/xlf/Strings.it.xlf
  src/Tasks/Common/Resources/xlf/Strings.ja.xlf
  src/Tasks/Common/Resources/xlf/Strings.ko.xlf
  src/Tasks/Common/Resources/xlf/Strings.pl.xlf
  src/Tasks/Common/Resources/xlf/Strings.pt-BR.xlf
  src/Tasks/Common/Resources/xlf/Strings.ru.xlf
  src/Tasks/Common/Resources/xlf/Strings.tr.xlf
  src/Tasks/Common/Resources/xlf/Strings.zh-Hans.xlf
  src/Tasks/Common/Resources/xlf/Strings.zh-Hant.xlf
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.TargetFrameworkInference.targets
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildALibraryWithOSMinimumVersion.cs
Labels: Auto-Merge If Tests Pass, auto-merge

#12434 Enable BinaryFormatter killbit by default in aspnet applications; introduce feature switch
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.targets
  src/WebSdk/ProjectSystem/Targets/Microsoft.NET.Sdk.Web.ProjectSystem.targets
Labels: Review for breaking changes

#12461 Updating the None glob to include all tooling artifacts
  sdk.sln
  src/WebSdk/ProjectSystem/Targets/Microsoft.NET.Sdk.Web.DefaultItems.props
  src/WebSdk/ProjectSystem/Targets/Microsoft.NET.Sdk.Web.ProjectSystem.props
  src/WebSdk/Worker/Targets/Microsoft.NET.Sdk.Worker.props
Labels: Web SDK

#12535 [Master] Only include the LaunchSettings & ServiceDependencies in None if present
  src/WebSdk/ProjectSystem/Targets/Microsoft.NET.Sdk.Web.DefaultItems.props
Labels: Web SDK

#12533 [Preview 8] [WebSDK] Only include the existent tooling files to the None glob
  src/WebSdk/ProjectSystem/Targets/Microsoft.NET.Sdk.Web.DefaultItems.props
Labels: Servicing-approved, Web SDK

#12577 Merge preview 7 to preview 8
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.TargetFrameworkInference.targets
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildALibrary.cs
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildALibraryWithVB.cs
Labels: Auto-Merge If Tests Pass, auto-merge

#12536 [Master] [WebSdk] Passing --no-build to dotnet ef during SQL Script generation
  src/WebSdk/Publish/Targets/TransformTargets/Microsoft.NET.Sdk.Publish.TransformFiles.targets
  src/WebSdk/Publish/Tasks/AppSettingsTransform.cs
  src/WebSdk/Publish/Tasks/Properties/Resources.Designer.cs
  src/WebSdk/Publish/Tasks/Properties/Resources.resx
  src/WebSdk/Publish/Tasks/Properties/xlf/Resources.cs.xlf
  src/WebSdk/Publish/Tasks/Properties/xlf/Resources.de.xlf
  src/WebSdk/Publish/Tasks/Properties/xlf/Resources.es.xlf
  src/WebSdk/Publish/Tasks/Properties/xlf/Resources.fr.xlf
  src/WebSdk/Publish/Tasks/Properties/xlf/Resources.it.xlf
  src/WebSdk/Publish/Tasks/Properties/xlf/Resources.ja.xlf
  src/WebSdk/Publish/Tasks/Properties/xlf/Resources.ko.xlf
  src/WebSdk/Publish/Tasks/Properties/xlf/Resources.pl.xlf
  src/WebSdk/Publish/Tasks/Properties/xlf/Resources.pt-BR.xlf
  src/WebSdk/Publish/Tasks/Properties/xlf/Resources.ru.xlf
  src/WebSdk/Publish/Tasks/Properties/xlf/Resources.tr.xlf
  src/WebSdk/Publish/Tasks/Properties/xlf/Resources.zh-Hans.xlf
  src/WebSdk/Publish/Tasks/Properties/xlf/Resources.zh-Hant.xlf
  src/WebSdk/Publish/Tasks/Tasks/GenerateEFSQLScripts.cs
Labels: Web SDK

#12600 Add BlazorWebAssembly SDK
  eng/Version.Details.xml
  eng/Versions.props
  src/Layout/redist/targets/BundledSdks.targets
  src/Layout/redist/targets/sdks/sdks.csproj
Labels: auto-merge

#12652 Revert "Merge Preview 8 to master"
  eng/restore-toolset.ps1
  global.json
  src/Assets/TestProjects/TestAppWithLaunchSettings/Program.cs
  src/Assets/TestProjects/TestAppWithLaunchSettings/Properties/launchSettings.json
  src/Assets/TestProjects/TestAppWithLaunchSettings/TestAppWithLaunchSettings.csproj
  src/Cli/dotnet/commands/dotnet-run/LaunchSettings/ILaunchSettingsProvider.cs
  src/Cli/dotnet/commands/dotnet-run/LaunchSettings/LaunchSettingsApplyResult.cs
  src/Cli/dotnet/commands/dotnet-run/LaunchSettings/LaunchSettingsManager.cs
  src/Cli/dotnet/commands/dotnet-run/LaunchSettings/ProjectLaunchSettingsModel.cs
  src/Cli/dotnet/commands/dotnet-run/LaunchSettings/ProjectLaunchSettingsProvider.cs
  src/Cli/dotnet/commands/dotnet-run/LocalizableStrings.resx
  src/Cli/dotnet/commands/dotnet-run/RunCommand.cs
  src/Cli/dotnet/commands/dotnet-run/xlf/LocalizableStrings.cs.xlf
  src/Cli/dotnet/commands/dotnet-run/xlf/LocalizableStrings.de.xlf
  src/Cli/dotnet/commands/dotnet-run/xlf/LocalizableStrings.es.xlf
  src/Cli/dotnet/commands/dotnet-run/xlf/LocalizableStrings.fr.xlf
  src/Cli/dotnet/commands/dotnet-run/xlf/LocalizableStrings.it.xlf
  src/Cli/dotnet/commands/dotnet-run/xlf/LocalizableStrings.ja.xlf
  src/Cli/dotnet/commands/dotnet-run/xlf/LocalizableStrings.ko.xlf
  src/Cli/dotnet/commands/dotnet-run/xlf/LocalizableStrings.pl.xlf
  src/Cli/dotnet/commands/dotnet-run/xlf/LocalizableStrings.pt-BR.xlf
  src/Cli/dotnet/commands/dotnet-run/xlf/LocalizableStrings.ru.xlf
  src/Cli/dotnet/commands/dotnet-run/xlf/LocalizableStrings.tr.xlf
  src/Cli/dotnet/commands/dotnet-run/xlf/LocalizableStrings.zh-Hans.xlf
  src/Cli/dotnet/commands/dotnet-run/xlf/LocalizableStrings.zh-Hant.xlf
  src/Layout/redist/minimumMSBuildVersion
  src/Tasks/Common/Resources/Strings.resx
  src/Tasks/Common/Resources/xlf/Strings.cs.xlf
  src/Tasks/Common/Resources/xlf/Strings.de.xlf
  src/Tasks/Common/Resources/xlf/Strings.es.xlf
  src/Tasks/Common/Resources/xlf/Strings.fr.xlf
  src/Tasks/Common/Resources/xlf/Strings.it.xlf
  src/Tasks/Common/Resources/xlf/Strings.ja.xlf
  src/Tasks/Common/Resources/xlf/Strings.ko.xlf
  src/Tasks/Common/Resources/xlf/Strings.pl.xlf
  src/Tasks/Common/Resources/xlf/Strings.pt-BR.xlf
  src/Tasks/Common/Resources/xlf/Strings.ru.xlf
  src/Tasks/Common/Resources/xlf/Strings.tr.xlf
  src/Tasks/Common/Resources/xlf/Strings.zh-Hans.xlf
  src/Tasks/Common/Resources/xlf/Strings.zh-Hant.xlf
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.BeforeCommon.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.props
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.TargetFrameworkInference.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Windows.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.WindowsSupportedTargetPlatforms.props
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildACppCliNonLibraryProject.cs
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildACppCliProject.cs
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildALibrary.cs
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildALibraryWithOSMinimumVersion.cs
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildAWindowsDesktopProject.cs
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildWithATargetPlatform.cs
  src/Tests/Microsoft.NET.Pack.Tests/GivenThatWeWantToPackACppCliProject.cs
  src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToPublishACppCliAppProject.cs
  src/Tests/Microsoft.NET.TestFramework/Attributes/WindowsOnlyRequiresMSBuildVersionTheoryAttribute.cs
  src/Tests/dotnet-list-package.Tests/GivenDotnetListPackage.cs
  src/Tests/dotnet-run.Tests/GivenDotnetRunRunsCsProj.cs
Labels: Auto-Merge If Tests Pass, auto-merge

#12699 Add modern --blame params to dotnet vstest and dotnet test + dll
  src/Cli/dotnet/commands/dotnet-test/VSTestArgumentConverter.cs
  src/Tests/dotnet.Tests/ParserTests/VSTestArgumentConverterTests.cs
Labels: Servicing-consider, ask-mode

#12422 Add AnalysisLevel to configure both compiler warning wave and active analyzers
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.Analyzers.targets
  src/Tests/EndToEnd.Tests/GivenDotNetUsesMSBuild.cs
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeHaveAPackageReferenceWithAliases.cs
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildALibrary.cs
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildAWindowsDesktopProject.cs
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToReferenceAProject.cs
  src/Tests/Microsoft.NET.Build.Tests/GivenWeWantToRequireWindowsForDesktopApps.cs
  src/Tests/Microsoft.NET.Build.Tests/KnownRuntimePackTests.cs
  src/Tests/Microsoft.NET.Build.Tests/Net50Targeting.cs
  src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToPublishASingleFileApp.cs
  src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToPublishIncrementally.cs
  src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToPublishReadyToRun.cs
  src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToRunILLink.cs
  src/Tests/Microsoft.NET.Publish.Tests/PublishWpfApp.cs
Labels: auto-merge
