Repository dotnet/sdk, pull requests merged in 2021-01, with the labels that each got.

#15265 Update branding for 103
  eng/Versions.props
Labels: Branding

#15315 Update target frameworks for Blazor WASM SDK
  src/BlazorWasmSdk/Targets/Microsoft.NET.Sdk.BlazorWebAssembly.Current.targets
  src/BlazorWasmSdk/Tasks/Microsoft.NET.Sdk.BlazorWebAssembly.Tasks.csproj
  src/Tests/Microsoft.NET.Sdk.BlazorWebAssembly.Tests/Microsoft.NET.Sdk.BlazorWebAssembly.Tests.csproj
Labels: Area-Blazor

#15267 [release/3.1.1xx] Update branding for 112
  eng/Versions.props
  src/Assets/TestProjects/UwpUsingSdkExtras/UwpUsingSdkExtras.csproj
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildALibrary.cs
Labels: Branding

#15266 [release/3.1.4xx] Update branding for 406
  eng/Versions.props
  src/Assets/TestProjects/UwpUsingSdkExtras/UwpUsingSdkExtras.csproj
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildALibrary.cs
Labels: Branding

#15124 Adding transitive project references based on target framework
  src/Tasks/Microsoft.NET.Build.Tasks/LockFileExtensions.cs
  src/Tasks/Microsoft.NET.Build.Tasks/ResolvePackageAssets.cs
  src/Tasks/Microsoft.NET.Build.Tasks/ResolvePackageDependencies.cs
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToReferenceAProject.cs
Labels: Auto-Merge If Tests Pass, auto-merge

#15282 Add env variable for custom vstest.console path
  src/Cli/dotnet/commands/dotnet-test/VSTestForwardingApp.cs
  src/Tests/dotnet.Tests/dotnet-msbuild/GivenDotnetVsTestForwardingApp.cs
Labels: Area-DotNet Test

#15317 Update sdl-tsa-vars.config
  eng/sdl-tsa-vars.config
Labels: Area-Infrastructure

#15316 Update ClickOnce targets for publishing deps.json
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.ClickOnce.targets
Labels: Servicing-approved

#15442 Updating branding from 6.0.100 alpha to preview
  eng/Versions.props
Labels: Area-Infrastructure, Auto-Merge If Tests Pass, Branding, auto-merge

#15441 Remove Serialization ILLink warnings from test.
  src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToRunILLink.cs
Labels: Area-ILLink

#15461 Update migrated SDKs and fix Razor server
  src/Assets/TestProjects/BlazorMultiApp/BlazorMultipleApps.FirstClient/App.razor
  src/Assets/TestProjects/BlazorMultiApp/BlazorMultipleApps.FirstClient/BlazorMultipleApps.FirstClient.csproj
  src/Assets/TestProjects/BlazorMultiApp/BlazorMultipleApps.FirstClient/Program.cs
  src/Assets/TestProjects/BlazorMultiApp/BlazorMultipleApps.FirstClient/wwwroot/css/app.css
  src/Assets/TestProjects/BlazorMultiApp/BlazorMultipleApps.FirstClient/wwwroot/index.html
  src/Assets/TestProjects/BlazorMultiApp/BlazorMultipleApps.SecondClient/App.razor
  src/Assets/TestProjects/BlazorMultiApp/BlazorMultipleApps.SecondClient/BlazorMultipleApps.SecondClient.csproj
  src/Assets/TestProjects/BlazorMultiApp/BlazorMultipleApps.SecondClient/Program.cs
  src/Assets/TestProjects/BlazorMultiApp/BlazorMultipleApps.SecondClient/wwwroot/css/app.css
  src/Assets/TestProjects/BlazorMultiApp/BlazorMultipleApps.SecondClient/wwwroot/index.html
  src/Assets/TestProjects/BlazorMultiApp/BlazorMultipleApps.Server/BlazorMultipleApps.Server.csproj
  src/Assets/TestProjects/BlazorMultiApp/BlazorMultipleApps.Server/Program.cs
  src/Assets/TestProjects/BlazorMultiApp/BlazorMultipleApps.Shared/BlazorMultipleApps.Shared.csproj
  src/Assets/TestProjects/BlazorMultiApp/BlazorMultipleApps.Shared/WeatherForecast.cs
  src/BlazorWasmSdk/Sdk/Sdk.targets
  src/BlazorWasmSdk/Targets/Microsoft.NET.Sdk.BlazorWebAssembly.Current.targets
  src/RazorSdk/Sdk/Sdk.targets
  src/RazorSdk/Tasks/Microsoft.NET.Sdk.Razor.Tasks.csproj
  src/RazorSdk/Tool/Application.cs
  src/RazorSdk/Tool/CommandLine/ArgumentEscaper.cs
  src/RazorSdk/Tool/ServerProtocol/ServerConnection.cs
  src/Tests/Microsoft.NET.Sdk.BlazorWebAssembly.Tests/WasmPublishTest.cs
Labels: Area-AspNetCore

#15405 Add support for static files to dotnet-watch
  sdk.sln
  src/BuiltInTools/BrowserRefresh/WebSocketScriptInjection.js
  src/BuiltInTools/DotNetWatchTasks/DotNetWatchTasks.csproj
  src/BuiltInTools/DotNetWatchTasks/FileSetSerializer.cs
  src/BuiltInTools/dotnet-watch/BrowserRefreshServer.cs
  src/BuiltInTools/dotnet-watch/DotNetWatch.targets
  src/BuiltInTools/dotnet-watch/DotNetWatchContext.cs
  src/BuiltInTools/dotnet-watch/DotNetWatchOptions.cs
  src/BuiltInTools/dotnet-watch/DotNetWatcher.cs
  src/BuiltInTools/dotnet-watch/FileChangeHandler.cs
  src/BuiltInTools/dotnet-watch/FileItem.cs
  src/BuiltInTools/dotnet-watch/FileSet.cs
  src/BuiltInTools/dotnet-watch/IFileSet.cs
  src/BuiltInTools/dotnet-watch/IFileSetFactory.cs
  src/BuiltInTools/dotnet-watch/Internal/FileSet.cs
  src/BuiltInTools/dotnet-watch/Internal/FileSetWatcher.cs
  src/BuiltInTools/dotnet-watch/Internal/MSBuildFileSetResult.cs
  src/BuiltInTools/dotnet-watch/Internal/MsBuildFileSetFactory.cs
  src/BuiltInTools/dotnet-watch/Internal/ProcessRunner.cs
  src/BuiltInTools/dotnet-watch/LaunchBrowserFilter.cs
  src/BuiltInTools/dotnet-watch/MSBuildEvaluationFilter.cs
  src/BuiltInTools/dotnet-watch/Program.cs
  src/BuiltInTools/dotnet-watch/README.md
  src/BuiltInTools/dotnet-watch/dotnet-watch.csproj
  src/BuiltInTools/dotnet-watch/dotnet-watch.slnf
  src/Layout/redist/targets/GenerateLayout.targets
  src/Layout/redist/targets/OverlaySdkOnLKG.targets
  src/Tests/dotnet-watch.Tests/FileChangeHandlerTest.cs
  src/Tests/dotnet-watch.Tests/MSBuildEvaluationFilterTest.cs
  src/Tests/dotnet-watch.Tests/MsBuildFileSetFactoryTest.cs
  src/Tests/dotnet-watch.Tests/NoRestoreFilterTest.cs
  src/Tests/dotnet-watch.Tests/Utilities/AssertEx.cs
  src/Tests/dotnet-watch.Tests/dotnet-watch.Tests.csproj
Labels: Area-AspNetCore, Auto-Merge If Tests Pass, auto-merge

#15469 Resolve target framework for Blazor test assets for SdkTargetFramework
  src/Assets/TestProjects/BlazorHosted/blazorhosted/blazorhosted.csproj
  src/Assets/TestProjects/BlazorHosted/blazorwasm/blazorwasm.csproj
  src/Assets/TestProjects/BlazorHostedRID/blazorhosted/blazorhosted-rid.csproj
  src/Assets/TestProjects/BlazorHostedRID/blazorwasm/blazorwasm.csproj
  src/Assets/TestProjects/BlazorMultiApp/BlazorMultipleApps.FirstClient/BlazorMultipleApps.FirstClient.csproj
  src/Assets/TestProjects/BlazorMultiApp/BlazorMultipleApps.SecondClient/BlazorMultipleApps.SecondClient.csproj
  src/Assets/TestProjects/BlazorMultiApp/BlazorMultipleApps.Server/BlazorMultipleApps.Server.csproj
  src/Assets/TestProjects/BlazorWasmMinimal/blazorwasm-minimal.csproj
  src/Assets/TestProjects/BlazorWasmWithLibrary/blazorwasm/blazorwasm.csproj
  src/Tests/Microsoft.NET.Sdk.BlazorWebAssembly.Tests/BlazorWasmSdkTest.cs
  src/Tests/Microsoft.NET.Sdk.BlazorWebAssembly.Tests/Microsoft.NET.Sdk.BlazorWebAssembly.Tests.csproj
  src/Tests/Microsoft.NET.Sdk.BlazorWebAssembly.Tests/WasmBuildIncrementalismTest.cs
  src/Tests/Microsoft.NET.Sdk.BlazorWebAssembly.Tests/WasmBuildIntegrationTest.cs
  src/Tests/Microsoft.NET.Sdk.BlazorWebAssembly.Tests/WasmBuildLazyLoadTest.cs
  src/Tests/Microsoft.NET.Sdk.BlazorWebAssembly.Tests/WasmCompressionTests.cs
  src/Tests/Microsoft.NET.Sdk.BlazorWebAssembly.Tests/WasmPublishTest.cs
  src/Tests/Microsoft.NET.Sdk.BlazorWebAssembly.Tests/WasmPwaManifestTests.cs
Labels: Area-AspNetCore

#15492 [release/5.0.2xx] Update to 5.0.2 runtime
  eng/Version.Details.xml
  eng/Versions.props
Labels: Auto-Merge If Tests Pass, auto-merge

#15483 Disable flaky test
  src/Tests/dotnet-add-reference.Tests/GivenDotnetAddReference.cs
  src/Tests/dotnet-remove-reference.Tests/GivenDotnetRemoveP2P.cs
  src/Tests/dotnet-test.Tests/GivenDotnetTestBuildsAndRunsTestfromCsprojWithCorrectTestRunParameters.cs
  src/Tests/dotnet-vstest.Tests/VSTestTests.cs
Labels: Auto-Merge If Tests Pass, auto-merge

#15430 Generate error on windows SDK assembly version conflict
  src/Tasks/Common/Resources/Strings.resx
  src/Tasks/Common/Resources/xlf/Strings.cs.xlf
  src/Tasks/Common/Resources/xlf/Strings.de.xlf
  src/Tasks/Common/Resources/xlf/Strings.es.xlf
  src/Tasks/Common/Resources/xlf/Strings.fr.xlf
  src/Tasks/Common/Resources/xlf/Strings.it.xlf
  src/Tasks/Common/Resources/xlf/Strings.ja.xlf
  src/Tasks/Common/Resources/xlf/Strings.ko.xlf
  src/Tasks/Common/Resources/xlf/Strings.pl.xlf
  src/Tasks/Common/Resources/xlf/Strings.pt-BR.xlf
  src/Tasks/Common/Resources/xlf/Strings.ru.xlf
  src/Tasks/Common/Resources/xlf/Strings.tr.xlf
  src/Tasks/Common/Resources/xlf/Strings.zh-Hans.xlf
  src/Tasks/Common/Resources/xlf/Strings.zh-Hant.xlf
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.props
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Windows.targets
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildALibrary.cs
Labels: Auto-Merge If Tests Pass, auto-merge

#15518 Add compilervisible properties needed for namespace sync
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.Analyzers.targets
Labels: auto-merge

#15531 Fix Crossgen2 extra arguments escape hatch
  src/Tasks/Microsoft.NET.Build.Tasks/RunReadyToRunCompiler.cs
Labels: Area-ReadyToRun

#15571 separate temp directory
  src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToPublishASingleFileApp.cs
Labels: Auto-Merge If Tests Pass, auto-merge

#15586 Extend ReadyToRun testing for .NET 5 and .NET 6
  src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToPublishReadyToRun.cs
Labels: Area-ReadyToRun
