Repository dotnet/sdk, pull requests merged in 2022-12, with the labels that each got.

#29326 Update the short name of NUnit Playwright in approvals
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewCompleteTests.CanDoTabCompletion.Linux.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewCompleteTests.CanDoTabCompletion.OSX.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewCompleteTests.CanDoTabCompletion.Windows.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewListTests.BasicTest_WhenLegacyCommandIsUsed_common.Linux.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewListTests.BasicTest_WhenLegacyCommandIsUsed_common.OSX.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewListTests.BasicTest_WhenLegacyCommandIsUsed_common.Windows.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewListTests.BasicTest_WhenListCommandIsUsed.Linux.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewListTests.BasicTest_WhenListCommandIsUsed.OSX.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewListTests.BasicTest_WhenListCommandIsUsed.Windows.verified.txt
Labels: Area-Infrastructure

#29343 Do not copy dotnet-watch to Redist in redist.csproj
  src/Layout/redist/targets/GenerateLayout.targets
Labels: Area-Infrastructure

#29354 Respect EnableRuntimePackDownload switch for AOT and R2R
  src/Tasks/Microsoft.NET.Build.Tasks/ProcessFrameworkReferences.cs
Labels: Area-ReadyToRun

#29322 Update razor-compiler dependencies
  eng/Version.Details.xml
  eng/Versions.props
Labels: Area-CodeFlow

#29364 Multi target GenAPI for .NET Framework
  src/ApiCompat/Microsoft.DotNet.ApiCompatibility/Microsoft.DotNet.ApiCompatibility.csproj
  src/GenAPI/Microsoft.DotNet.GenAPI.Task/Microsoft.DotNet.GenAPI.Task.csproj
  src/GenAPI/Microsoft.DotNet.GenAPI.Task/build/Microsoft.DotNet.GenAPI.Task.targets
  src/GenAPI/Microsoft.DotNet.GenAPI.Tool/Microsoft.DotNet.GenAPI.Tool.csproj
  src/GenAPI/Microsoft.DotNet.GenAPI/CSharpFileBuilder.cs
  src/GenAPI/Microsoft.DotNet.GenAPI/Microsoft.DotNet.GenAPI.csproj
Labels: Area-GenAPI

#29367 Add option for specifying the version of machine-readable output of dotnet list package command
  src/Cli/dotnet/commands/dotnet-list/dotnet-list-package/ListPackageReferencesCommandParser.cs
  src/Cli/dotnet/commands/dotnet-list/dotnet-list-package/LocalizableStrings.resx
  src/Cli/dotnet/commands/dotnet-list/dotnet-list-package/xlf/LocalizableStrings.cs.xlf
  src/Cli/dotnet/commands/dotnet-list/dotnet-list-package/xlf/LocalizableStrings.de.xlf
  src/Cli/dotnet/commands/dotnet-list/dotnet-list-package/xlf/LocalizableStrings.es.xlf
  src/Cli/dotnet/commands/dotnet-list/dotnet-list-package/xlf/LocalizableStrings.fr.xlf
  src/Cli/dotnet/commands/dotnet-list/dotnet-list-package/xlf/LocalizableStrings.it.xlf
  src/Cli/dotnet/commands/dotnet-list/dotnet-list-package/xlf/LocalizableStrings.ja.xlf
  src/Cli/dotnet/commands/dotnet-list/dotnet-list-package/xlf/LocalizableStrings.ko.xlf
  src/Cli/dotnet/commands/dotnet-list/dotnet-list-package/xlf/LocalizableStrings.pl.xlf
  src/Cli/dotnet/commands/dotnet-list/dotnet-list-package/xlf/LocalizableStrings.pt-BR.xlf
  src/Cli/dotnet/commands/dotnet-list/dotnet-list-package/xlf/LocalizableStrings.ru.xlf
  src/Cli/dotnet/commands/dotnet-list/dotnet-list-package/xlf/LocalizableStrings.tr.xlf
  src/Cli/dotnet/commands/dotnet-list/dotnet-list-package/xlf/LocalizableStrings.zh-Hans.xlf
  src/Cli/dotnet/commands/dotnet-list/dotnet-list-package/xlf/LocalizableStrings.zh-Hant.xlf
Labels: Area-Infrastructure

#28845 Import the Container Build package from WebSDK
  src/WebSdk/Web/Sdk/Sdk.props
Labels: Area-WebSDK

#29266 dotnet nuget commands show correct help text
  src/Cli/dotnet/Parser.cs
  src/Cli/dotnet/commands/dotnet-nuget/Program.cs
Labels: Area-CLI

#29356 Add support for default values of methods parameters in the GenAPI.
  src/GenAPI/Microsoft.DotNet.GenAPI.Task/GenAPITask.cs
  src/GenAPI/Microsoft.DotNet.GenAPI.Task/Microsoft.DotNet.GenAPI.Task.csproj
  src/GenAPI/Microsoft.DotNet.GenAPI.Tool/Program.cs
  src/GenAPI/Microsoft.DotNet.GenAPI/AssemblySymbolOrderer.cs
  src/GenAPI/Microsoft.DotNet.GenAPI/CSharpFileBuilder.cs
  src/GenAPI/Microsoft.DotNet.GenAPI/CSharpSyntaxWriter.cs
  src/GenAPI/Microsoft.DotNet.GenAPI/GenAPIApp.cs
  src/GenAPI/Microsoft.DotNet.GenAPI/Microsoft.DotNet.GenAPI.csproj
  src/Microsoft.DotNet.ApiSymbolExtensions/Filtering/SymbolAccessibilityBasedFilter.cs
  src/Tests/Microsoft.DotNet.GenAPI.Tests/CSharpFileBuilderTests.cs
Labels: Area-GenAPI

#29235 [release/7.0.2xx] tab completion to suggest only first from short name synonyms
  src/Cli/Microsoft.TemplateEngine.Cli/Commands/create/InstantiateCommand.TabCompletion.cs
  src/Tests/Microsoft.TemplateEngine.Cli.UnitTests/ParserTests/Approvals/TabCompletionTests.Create_GetAllSuggestions.verified.txt
  src/Tests/Microsoft.TemplateEngine.Cli.UnitTests/ParserTests/Approvals/TabCompletionTests.RootCommand_GetAllSuggestions.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewCompleteTests.CanDoTabCompletion.Linux.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewCompleteTests.CanDoTabCompletion.OSX.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewCompleteTests.CanDoTabCompletion.Windows.verified.txt
Labels: Area-dotnet new

#29497 Upgrade ApiCompat / GenAPI source build tfm to net8.0
  src/ApiCompat/Microsoft.DotNet.ApiCompat.Task/Microsoft.DotNet.ApiCompat.Task.csproj
  src/ApiCompat/Microsoft.DotNet.ApiCompat.Task/build/Microsoft.DotNet.ApiCompat.Task.targets
  src/ApiCompat/Microsoft.DotNet.ApiCompat.Tool/Microsoft.DotNet.ApiCompat.Tool.csproj
  src/ApiCompat/Microsoft.DotNet.ApiCompatibility/Microsoft.DotNet.ApiCompatibility.csproj
  src/ApiCompat/Microsoft.DotNet.PackageValidation/Microsoft.DotNet.PackageValidation.csproj
  src/GenAPI/Microsoft.DotNet.GenAPI.Task/Microsoft.DotNet.GenAPI.Task.csproj
  src/GenAPI/Microsoft.DotNet.GenAPI.Task/build/Microsoft.DotNet.GenAPI.Task.targets
  src/GenAPI/Microsoft.DotNet.GenAPI.Tool/Microsoft.DotNet.GenAPI.Tool.csproj
  src/GenAPI/Microsoft.DotNet.GenAPI/Microsoft.DotNet.GenAPI.csproj
  src/Microsoft.DotNet.ApiSymbolExtensions/Microsoft.DotNet.ApiSymbolExtensions.csproj
Labels: Area-Infrastructure

#29471 Add support for an explicit interface implementation methods
  src/GenAPI/Microsoft.DotNet.GenAPI.Task/GenAPITask.cs
  src/GenAPI/Microsoft.DotNet.GenAPI/AssemblySymbolOrderer.cs
  src/GenAPI/Microsoft.DotNet.GenAPI/CSharpFileBuilder.cs
  src/GenAPI/Microsoft.DotNet.GenAPI/GenAPIApp.cs
  src/GenAPI/Microsoft.DotNet.GenAPI/SyntaxGeneratorExtensions.cs
  src/Microsoft.DotNet.ApiSymbolExtensions/Filtering/SymbolAccessibilityBasedFilter.cs
  src/Microsoft.DotNet.ApiSymbolExtensions/SymbolExtensions.cs
  src/Tests/Microsoft.DotNet.GenAPI.Tests/CSharpFileBuilderTests.cs
Labels: Area-GenAPI

#29416 Update minimum msbuild to 17.4
  src/Cli/Microsoft.DotNet.Cli.Utils/Microsoft.DotNet.Cli.Utils.csproj
  src/Layout/redist/minimumMSBuildVersion
Labels: Area-Infrastructure

#29445 Update releases-index.json
  src/Assets/TestReleases/TestRelease/releases-index.json
Labels: Area-Infrastructure

#29553 Include ApiSymbolExtensions in .NET SDK build
  source-build.slnf
  src/ApiCompat/apicompat.slnf
  src/Tasks/Microsoft.NET.Build.Tasks/Microsoft.NET.Build.Tasks.csproj
  src/Tasks/Microsoft.NET.slnf
Labels: Area-ApiCompat

#29506 Set server GC for F# FSC/FSI
  src/Layout/tool_fsharp/tool_fsc.csproj
Labels: Area-FSharp

#29369 Change the cppcli tests to use the package reference support
  src/Assets/TestProjects/CppCliLibWithWpfFrameworkReference/Project1.vcxproj
  src/Assets/TestProjects/NETCoreCppClApp/NETCoreCppCliTest/NETCoreCppCliTest.vcxproj
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildACppCliProject.cs
  src/Tests/Microsoft.NET.Pack.Tests/GivenThatWeWantToPackACppCliProject.cs
Labels: Area-Infrastructure

#29552 Improve generation of nested type symbols.
  src/GenAPI/Microsoft.DotNet.GenAPI/CSharpFileBuilder.cs
  src/GenAPI/Microsoft.DotNet.GenAPI/SyntaxGeneratorExtensions.cs
  src/Tests/Microsoft.DotNet.GenAPI.Tests/CSharpFileBuilderTests.cs
Labels: Area-GenAPI

#29566 Update the hardcoded to the current framework
  src/Assets/TestProjects/AppWithDuplicateLaunchProfiles/VbAppWithLaunchSettings.vbproj
  src/Assets/TestProjects/CppCliLibWithWpfFrameworkReference/Project1.vcxproj
  src/Assets/TestProjects/NETCoreCppClApp/NETCoreCppCliTest/NETCoreCppCliTest.vcxproj
  src/Assets/TestProjects/NetCoreCppCliLibWithTransitiveDeps/NETCoreCppCliTest/NETCoreCppCliTest.vcxproj
  src/Assets/TestProjects/NetCoreCppCliLibWithTransitiveDeps/NETCoreCppCliTestB/NETCoreCppCliTestB.vcxproj
  src/Assets/TestProjects/NetCoreCppCliLibWithTransitiveDeps/NETCoreCppCliTestC/NETCoreCppCliTestC.vcxproj
  src/Assets/TestProjects/NetCoreCsharpAppReferenceCppCliLib/CSConsoleApp/CSConsoleApp.csproj
  src/Assets/TestProjects/NetCoreCsharpAppReferenceCppCliLib/NETCoreCppCliTest/NETCoreCppCliTest.vcxproj
  src/Assets/TestProjects/TestAppWithSlnUsingPublishReleaseConflictingCasing/App2/App2.csproj
  src/Assets/TestProjects/WatchAppWithLaunchSettings/WatchAppWithLaunchSettings.csproj
Labels: Area-Infrastructure

#29470 Convert the DotnetCommand that call "new" to DotnetNewCommand
  src/Tests/EndToEnd.Tests/GivenDotNetUsesMSBuild.cs
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildALibrary.cs
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildAWindowsDesktopProject.cs
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToUseVB.cs
  src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToPublishIncrementally.cs
  src/Tests/Microsoft.NET.Publish.Tests/PublishWpfApp.cs
  src/Tests/dotnet-add-reference.Tests/GivenDotnetAddReference.cs
  src/Tests/dotnet-list-reference.Tests/GivenDotnetListReference.cs
  src/Tests/dotnet-pack.Tests/PackTests.cs
  src/Tests/dotnet-remove-reference.Tests/GivenDotnetRemoveP2P.cs
  src/Tests/dotnet-restore.Tests/GivenThatIWantToRestoreApp.cs
  src/Tests/dotnet-run.Tests/GivenDotnetRunRunsCsProj.cs
  src/Tests/dotnet-test.Tests/GivenDotnetTestBuildsAndRunsTestFromCsprojForMultipleTFM.cs
  src/Tests/dotnet.Tests/OutputPathOptionTests.cs
Labels: Area-Infrastructure

#29031 Don't Infer RID outside of dotnet publish for PublishSingleFile/PublishAot
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.RuntimeIdentifierInference.targets
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildASelfContainedApp.cs
  src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToPublishAHelloWorldProject.cs
  src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToPublishAnAotApp.cs
  src/Tests/Microsoft.NET.Publish.Tests/RuntimeIdentifiersTests.cs
  src/Tests/Microsoft.NET.TestFramework/TestAssetsManager.cs
  src/Tests/dotnet-build.Tests/GivenDotnetBuildBuildsCsproj.cs
  src/Tests/dotnet.Tests/dotnet-msbuild/GivenDotnetOsArchOptions.cs
Labels: Document for breaking changes, Area-CLI, Area-SingleFile, area-runtime, Area-NativeAOT

#29604 Add the Microsoft.CodeAnalysis.CSharp.Workspaces as a reference package to the GenAPI Task project.
  src/GenAPI/Microsoft.DotNet.GenAPI.Task/GenAPITask.cs
  src/GenAPI/Microsoft.DotNet.GenAPI.Task/Microsoft.DotNet.GenAPI.Task.csproj
  src/GenAPI/Microsoft.DotNet.GenAPI.Tool/Program.cs
  src/GenAPI/Microsoft.DotNet.GenAPI/GenAPIApp.cs
Labels: Area-GenAPI

#29526 add item template for directory.build.props and directory.build.targets
  src/Tests/Microsoft.TemplateEngine.Cli.UnitTests/ParserTests/Approvals/TabCompletionTests.Create_GetAllSuggestions.verified.txt
  src/Tests/Microsoft.TemplateEngine.Cli.UnitTests/ParserTests/Approvals/TabCompletionTests.RootCommand_GetAllSuggestions.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/AllCommonItemsCreate.-o#MSBuild-Directory-Build-props-file#-n#item#--inherit.verified/MSBuild-Directory-Build-props-file/Directory.Build.props
  src/Tests/dotnet-new.Tests/Approvals/AllCommonItemsCreate.-o#MSBuild-Directory-Build-props-file#-n#item#--inherit.verified/std-streams/stdout.txt
  src/Tests/dotnet-new.Tests/Approvals/AllCommonItemsCreate.-o#MSBuild-Directory-Build-targets-file#-n#item#--inherit.verified/MSBuild-Directory-Build-targets-file/Directory.Build.targets
  src/Tests/dotnet-new.Tests/Approvals/AllCommonItemsCreate.-o#MSBuild-Directory-Build-targets-file#-n#item#--inherit.verified/std-streams/stdout.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewCompleteTests.CanDoTabCompletion.Linux.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewCompleteTests.CanDoTabCompletion.OSX.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewCompleteTests.CanDoTabCompletion.Windows.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewListTests.BasicTest_WhenLegacyCommandIsUsed_common.Linux.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewListTests.BasicTest_WhenLegacyCommandIsUsed_common.OSX.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewListTests.BasicTest_WhenLegacyCommandIsUsed_common.Windows.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewListTests.BasicTest_WhenListCommandIsUsed.Linux.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewListTests.BasicTest_WhenListCommandIsUsed.OSX.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewListTests.BasicTest_WhenListCommandIsUsed.Windows.verified.txt
  src/Tests/dotnet-new.Tests/CommonTemplatesTests.cs
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildProps/.template.config/ide.host.json
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildProps/.template.config/ide/icon.png
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildProps/.template.config/localize/templatestrings.cs.json
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildProps/.template.config/localize/templatestrings.de.json
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildProps/.template.config/localize/templatestrings.en.json
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildProps/.template.config/localize/templatestrings.es.json
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildProps/.template.config/localize/templatestrings.fr.json
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildProps/.template.config/localize/templatestrings.it.json
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildProps/.template.config/localize/templatestrings.ja.json
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildProps/.template.config/localize/templatestrings.ko.json
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildProps/.template.config/localize/templatestrings.pl.json
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildProps/.template.config/localize/templatestrings.pt-BR.json
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildProps/.template.config/localize/templatestrings.ru.json
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildProps/.template.config/localize/templatestrings.tr.json
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildProps/.template.config/localize/templatestrings.zh-Hans.json
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildProps/.template.config/localize/templatestrings.zh-Hant.json
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildProps/.template.config/template.json
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildProps/Directory.Build.props
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildTargets/.template.config/ide.host.json
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildTargets/.template.config/ide/icon.png
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildTargets/.template.config/localize/templatestrings.cs.json
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildTargets/.template.config/localize/templatestrings.de.json
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildTargets/.template.config/localize/templatestrings.en.json
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildTargets/.template.config/localize/templatestrings.es.json
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildTargets/.template.config/localize/templatestrings.fr.json
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildTargets/.template.config/localize/templatestrings.it.json
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildTargets/.template.config/localize/templatestrings.ja.json
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildTargets/.template.config/localize/templatestrings.ko.json
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildTargets/.template.config/localize/templatestrings.pl.json
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildTargets/.template.config/localize/templatestrings.pt-BR.json
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildTargets/.template.config/localize/templatestrings.ru.json
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildTargets/.template.config/localize/templatestrings.tr.json
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildTargets/.template.config/localize/templatestrings.zh-Hans.json
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildTargets/.template.config/localize/templatestrings.zh-Hant.json
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildTargets/.template.config/template.json
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/BuildTargets/Directory.Build.targets
Labels: Area-Templates, Area-Common templates

#29449 Change .templateengine folder path
  src/Cli/Microsoft.TemplateEngine.Cli/Commands/BaseCommand.cs
  src/Cli/Microsoft.TemplateEngine.Cli/Commands/CliPathInfo.cs
  src/Cli/Microsoft.TemplateEngine.Cli/Microsoft.TemplateEngine.Cli.csproj
  src/Tests/dotnet-new.Tests/DotnetNewTests.cs
Labels: Area-Infrastructure, Area-dotnet new

#29623 Update Verify and Verify.Diffplex
  eng/Version.Details.xml
  eng/Versions.props
  src/Tests/Microsoft.TemplateEngine.Cli.UnitTests/Microsoft.TemplateEngine.Cli.UnitTests.csproj
  src/Tests/Microsoft.TemplateEngine.Cli.UnitTests/ParserTests/VerifySettingsFixture.cs
  src/Tests/dotnet-new.Tests/CommonTemplatesTests.cs
  src/Tests/dotnet-new.Tests/VerifySettingsFixture.cs
  src/Tests/dotnet-new.Tests/dotnet-new.IntegrationTests.csproj
Labels: Area-Infrastructure, Area-Templates

#29660 Upgrade helix queues
  .vsts-ci.yml
  eng/template-engine.yml
  src/Assets/TestProjects/AppWithLibraryAndRid/LibraryWithRid/NativeCode.cs
  src/Assets/TestProjects/AppWithLibraryAndRid/LibraryWithRids/NativeCode.cs
  src/Tests/Microsoft.NET.TestFramework/ToolsetInfo.cs
Labels: Area-Infrastructure
