Repository dotnet/sdk, pull requests merged in 2025-07, with the labels that each got.

#49588 Ensure binlogs from file-based apps have evaluation data
  src/Cli/dotnet/Commands/Run/VirtualProjectBuildingCommand.cs
  test/dotnet.Tests/CommandTests/Run/RunFileTests.cs
  test/dotnet.Tests/dotnet.Tests.csproj
Labels: Area-run-file

#49511 Support `dotnet clean file.cs`
  documentation/general/dotnet-run-file.md
  src/Cli/dotnet/Commands/Clean/CleanCommand.cs
  src/Cli/dotnet/Commands/Clean/CleanCommandParser.cs
  src/Cli/dotnet/Commands/Run/VirtualProjectBuildingCommand.cs
  test/dotnet.Tests/CliSchemaTests.cs
  test/dotnet.Tests/CommandTests/MSBuild/GivenDotnetCleanInvocation.cs
  test/dotnet.Tests/CommandTests/Run/RunFileTests.cs
  test/dotnet.Tests/CompletionTests/snapshots/zsh/DotnetCliSnapshotTests.VerifyCompletions.verified.zsh
Labels: Area-run-file

#49546 The pull request label check wasn't getting run when a draft PR was published
  .github/workflows/pr-analysis.yml
Labels: Area-Infrastructure

#49532 Capstone is a native 3rd party component and shouldn't be scanned
  eng/pipelines/templates/jobs/sdk-build.yml
Labels: Area-Infrastructure

#49607 Consume shared components from external URI in non-1xx feature band
  src/Layout/redist/targets/RestoreLayout.targets
Labels: Area-Infrastructure

#49643 enable binlog in dotnet test for projects eval
  src/Cli/dotnet/Commands/Test/MSBuildUtility.cs
  src/Cli/dotnet/Commands/Test/SolutionAndProjectUtility.cs
Labels: Area-CLI

#49584 Include some default items in file-based apps
  documentation/general/dotnet-run-file.md
  src/Cli/dotnet/Commands/Project/Convert/ProjectConvertCommand.cs
  src/Cli/dotnet/Commands/Run/Api/RunApiCommand.cs
  src/Cli/dotnet/Commands/Run/RunCommand.cs
  src/Cli/dotnet/Commands/Run/VirtualProjectBuildingCommand.cs
  test/dotnet.Tests/CommandTests/Project/Convert/DotnetProjectConvertTests.cs
  test/dotnet.Tests/CommandTests/Run/RunFileTests.cs
Labels: Area-run-file

#49659 [release/8.0.1xx] Update Microsoft.NET.Build.Tests that depend on System.ValueTuple to arget netstandard2.0
  src/Assets/TestProjects/AppWithLibrary/TestLibrary/TestLibrary.csproj
  src/Assets/TestProjects/AppWithLibraryFS/TestLibrary/TestLibrary.fsproj
  src/Assets/TestProjects/AppWithLibraryVB/TestLibrary/TestLibrary.vbproj
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildADesktopExeWithFSharp.cs
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildALibrary.cs
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildALibraryWithFSharp.cs
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildALibraryWithVB.cs
  src/Tests/Microsoft.NET.Build.Tests/GivenThereAreDefaultItems.cs
Labels: needs team triage, Area-Containers

#49590 fix ordering so that getting Container config establishes RIDness
  src/Containers/packaging/build/Microsoft.NET.Build.Containers.targets
  test/Microsoft.NET.Build.Containers.IntegrationTests/TargetsTests.cs
Labels: Area-Containers

#49576 Upgrade scancode to 32.4.0 and revert pinning of click
  eng/install-scancode.sh
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/assets/LicenseScanTests/LicenseExclusions.txt
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/assets/LicenseScanTests/Licenses.source-build-externals.json
Labels: Branch Lockdown

#49653 Update branding to 9.0.109
  eng/Versions.props
Labels: needs team triage, Area-Containers

#49711 Fail when `#:project` doesn't have any argument
  src/Cli/dotnet/Commands/Run/VirtualProjectBuildingCommand.cs
  test/dotnet.Tests/CommandTests/Project/Convert/DotnetProjectConvertTests.cs
Labels: Area-run-file

#49604 Update test method to fix test issue:47861
  test/dotnet.Tests/GivenExponentialRetry.cs
Labels: Area-Infrastructure, Test Debt

#49664 push version and info command activation into the Option definitions
  src/Cli/dotnet/Commands/Workload/WorkloadCommandParser.cs
Labels: Area-CLI, Area-Workloads

#49660 Make `dotnet project convert` interactive
  src/Cli/dotnet/Commands/CliCommandStrings.resx
  src/Cli/dotnet/Commands/Project/Convert/ProjectConvertCommand.cs
  src/Cli/dotnet/Commands/Project/Convert/ProjectConvertCommandParser.cs
  src/Cli/dotnet/Commands/Tool/Execute/ToolExecuteCommand.cs
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.cs.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.de.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.es.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.fr.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.it.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ja.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ko.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.pl.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.pt-BR.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ru.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.tr.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.zh-Hans.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.zh-Hant.xlf
  src/Cli/dotnet/CommonOptions.cs
  src/Cli/dotnet/InteractiveConsole.cs
  test/dotnet.Tests/CommandTests/Project/Convert/DotnetProjectConvertTests.cs
  test/dotnet.Tests/CompletionTests/snapshots/bash/DotnetCliSnapshotTests.VerifyCompletions.verified.sh
  test/dotnet.Tests/CompletionTests/snapshots/pwsh/DotnetCliSnapshotTests.VerifyCompletions.verified.ps1
  test/dotnet.Tests/CompletionTests/snapshots/zsh/DotnetCliSnapshotTests.VerifyCompletions.verified.zsh
Labels: Area-run-file

#49772 make SdkResolver try to locate the dotnet host closest to the resolved SDK
  src/Resolvers/Microsoft.DotNet.MSBuildSdkResolver/MSBuildSdkResolver.cs
  src/Resolvers/Microsoft.DotNet.SdkResolver/VSSettings.cs
  test/Microsoft.DotNet.MSBuildSdkResolver.Tests/GivenAnMSBuildSdkResolver.cs
Labels: Area-SdkResolvers, Area-NetSDK, Area-MSBuild

#49842 Fix outdated info about EnableDefaultItems in file-based apps doc
  documentation/general/dotnet-run-file.md
Labels: documentation, Area-run-file

#49861 Add property FileBasedProgram
  documentation/general/dotnet-run-file.md
  src/Cli/dotnet/Commands/Run/VirtualProjectBuildingCommand.cs
  test/dotnet.Tests/CommandTests/Run/RunFileTests.cs
Labels: Area-run-file

#49848 Update copilot-setup-steps.yml
  .github/workflows/copilot-setup-steps.yml
Labels: Area-CodeFlow

#49911 Add Version.Details.props
  eng/Version.Details.props
Labels: Area-CodeFlow

#49808 Allow skipping project fallback with file-based run
  documentation/general/dotnet-run-file.md
  src/Cli/dotnet/Commands/CliCommandStrings.resx
  src/Cli/dotnet/Commands/Run/RunCommand.cs
  src/Cli/dotnet/Commands/Run/RunCommandParser.cs
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.cs.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.de.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.es.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.fr.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.it.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ja.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ko.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.pl.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.pt-BR.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ru.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.tr.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.zh-Hans.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.zh-Hant.xlf
  src/Cli/dotnet/Program.cs
  test/dotnet.Tests/CommandTests/Run/RunFileTests.cs
  test/dotnet.Tests/CompletionTests/snapshots/bash/DotnetCliSnapshotTests.VerifyCompletions.verified.sh
  test/dotnet.Tests/CompletionTests/snapshots/pwsh/DotnetCliSnapshotTests.VerifyCompletions.verified.ps1
  test/dotnet.Tests/CompletionTests/snapshots/zsh/DotnetCliSnapshotTests.VerifyCompletions.verified.zsh
Labels: Area-run-file

#49909 Fix recognizing `dotnet ./file.cs` with special arguments
  src/Cli/dotnet/Program.cs
  test/dotnet.Tests/CommandTests/New/DotnetSlnPostActionTests.cs
  test/dotnet.Tests/CommandTests/Run/RunFileTests.cs
Labels: Area-run-file

#49919 Update version branding to rc1
  eng/Versions.props
Labels: Area-CodeFlow

#49769 Add support for flat launch settings
  src/BuiltInTools/dotnet-watch/Browser/BrowserConnector.cs
  src/BuiltInTools/dotnet-watch/Process/LaunchSettingsProfile.cs
  src/Cli/dotnet/Commands/CliCommandStrings.resx
  src/Cli/dotnet/Commands/Run/CommonRunHelpers.cs
  src/Cli/dotnet/Commands/Run/LaunchSettings/LaunchSettingsManager.cs
  src/Cli/dotnet/Commands/Run/RunCommand.cs
  src/Cli/dotnet/Commands/Test/SolutionAndProjectUtility.cs
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.cs.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.de.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.es.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.fr.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.it.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ja.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ko.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.pl.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.pt-BR.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ru.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.tr.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.zh-Hans.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.zh-Hant.xlf
  test/dotnet-watch.Tests/Process/LaunchSettingsProfileTest.cs
  test/dotnet.Tests/CommandTests/Run/GivenDotnetRunBuildsCsProj.cs
  test/dotnet.Tests/CommandTests/Run/GivenDotnetRunBuildsVbProj.cs
  test/dotnet.Tests/CommandTests/Run/RunFileTests.cs
  test/dotnet.Tests/CommandTests/Test/GivenDotnetTestBuildsAndRunsTests.cs
  test/dotnet.Tests/CompletionTests/snapshots/pwsh/DotnetCliSnapshotTests.VerifyCompletions.verified.ps1
  test/dotnet.Tests/CompletionTests/snapshots/zsh/DotnetCliSnapshotTests.VerifyCompletions.verified.zsh
Labels: Area-run-file

#49927 Fix dotnet/sdk#49921 by making the dgspec inner build silent
  src/Cli/dotnet/Commands/Package/Add/PackageAddCommand.cs
Labels: Area-NuGet, Area-CLI, cli-ux

#49528 Skip MSBuild and call only CSC for simple file-based apps
  Directory.Packages.props
  eng/Version.Details.xml
  eng/Versions.props
  src/Cli/Microsoft.DotNet.Cli.Utils/ArgumentEscaper.cs
  src/Cli/Microsoft.DotNet.Cli.Utils/Product.cs
  src/Cli/dotnet/Commands/CliCommandStrings.resx
  src/Cli/dotnet/Commands/Run/CSharpCompilerCommand.Generated.cs
  src/Cli/dotnet/Commands/Run/CSharpCompilerCommand.cs
  src/Cli/dotnet/Commands/Run/RunCommand.cs
  src/Cli/dotnet/Commands/Run/VirtualProjectBuildingCommand.cs
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.cs.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.de.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.es.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.fr.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.it.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ja.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ko.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.pl.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.pt-BR.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ru.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.tr.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.zh-Hans.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.zh-Hant.xlf
  src/Cli/dotnet/dotnet.csproj
  test/Microsoft.NET.Publish.Tests/GivenThatWeWantToPublishAHelloWorldProject.cs
  test/Microsoft.NET.TestFramework/TestAssetsManager.cs
  test/Microsoft.NET.TestFramework/ToolsetInfo.cs
  test/Microsoft.NET.TestFramework/Utilities/TestPathUtility.cs
  test/dotnet.Tests/CommandTests/Run/RunFileTests.cs
Labels: Area-run-file

#49938 Revert "Make GenerateDepsFile and GenerateRuntimeConfigurationFiles tasks internally-incremental"
  src/Tasks/Microsoft.NET.Build.Tasks.UnitTests/GivenAGenerateDepsFile.cs
  src/Tasks/Microsoft.NET.Build.Tasks.UnitTests/GivenAGenerateRuntimeConfigurationFiles.cs
  src/Tasks/Microsoft.NET.Build.Tasks/GenerateDepsFile.cs
  src/Tasks/Microsoft.NET.Build.Tasks/GenerateRuntimeConfigurationFiles.cs
  src/Tasks/Microsoft.NET.Build.Tasks/HashingUtils.cs
Labels: Area-Infrastructure

#49867 Add a series of changes to make devcontainer experiences nicer for this repo
  .devcontainer/devcontainer.json
  .devcontainer/scripts/post-creation.sh
  .vscode/launch.json
  .vscode/mcp.json
  .vscode/settings.json
Labels: Area-Infrastructure

#49936 Update named pipe for dotnet test
  src/Cli/dotnet/Commands/Test/IPC/NamedPipeServer.cs
  src/Cli/dotnet/Commands/Test/TestApplication.cs
Labels: Area-CLI

#49966 Unskip razor tests
  test/Microsoft.NET.Sdk.BlazorWebAssembly.Tests/BlazorLegacyIntegrationTest60.cs
  test/Microsoft.NET.Sdk.Razor.Tests/BuildWithComponentsIntegrationTest.cs
Labels: Area-AspNetCore

#49969 Avoid double disposal of terminal logger
  src/Cli/dotnet/Commands/Run/VirtualProjectBuildingCommand.cs
Labels: Area-run-file

#49944 NuGet's dotnet cli commands should use common interactive option
  src/Cli/dotnet/Parser.cs
  test/dotnet.Tests/CompletionTests/snapshots/pwsh/DotnetCliSnapshotTests.VerifyCompletions.verified.ps1
  test/dotnet.Tests/CompletionTests/snapshots/zsh/DotnetCliSnapshotTests.VerifyCompletions.verified.zsh
Labels: Area-CLI

#49780 Update xlf copilot instructions
  .github/copilot-instructions.md
Labels: Area-Infrastructure

#49847 Send Ctrl+C to launched process before killing it on Windows
  src/BuiltInTools/AspireService/AspireServerService.cs
  src/BuiltInTools/DotNetDeltaApplier/Microsoft.Extensions.DotNetDeltaApplier.csproj
  src/BuiltInTools/DotNetDeltaApplier/StartupHook.cs
  src/BuiltInTools/dotnet-watch/Aspire/AspireServiceFactory.cs
  src/BuiltInTools/dotnet-watch/Build/ProjectGraphUtilities.cs
  src/BuiltInTools/dotnet-watch/HotReload/CompilationHandler.cs
  src/BuiltInTools/dotnet-watch/HotReload/HotReloadDotNetWatcher.cs
  src/BuiltInTools/dotnet-watch/Process/ProcessRunner.cs
  src/BuiltInTools/dotnet-watch/Process/ProcessSpec.cs
  src/BuiltInTools/dotnet-watch/Process/ProjectLauncher.cs
  src/BuiltInTools/dotnet-watch/Program.cs
  src/BuiltInTools/dotnet-watch/Properties/launchSettings.json
  src/BuiltInTools/dotnet-watch/UI/IReporter.cs
  src/BuiltInTools/dotnet-watch/UI/PhysicalConsole.cs
  src/BuiltInTools/dotnet-watch/Utilities/ProcessUtilities.cs
  src/BuiltInTools/dotnet-watch/Watch/DotNetWatcher.cs
  src/BuiltInTools/dotnet-watch/Watch/MsBuildFileSetFactory.cs
  test/dotnet-watch.Tests/Build/EvaluationTests.cs
  test/dotnet-watch.Tests/HotReload/ApplyDeltaTests.cs
  test/dotnet-watch.Tests/HotReload/CompilationHandlerTests.cs
  test/dotnet-watch.Tests/HotReload/RuntimeProcessLauncherTests.cs
  test/dotnet-watch.Tests/TestUtilities/MockFileSetFactory.cs
  test/dotnet-watch.Tests/TestUtilities/WatchableApp.cs
  test/dotnet-watch.Tests/Watch/BuildEvaluatorTests.cs
  test/dotnet-watch.Tests/Watch/NoRestoreTests.cs
Labels: Area-AspNetCore
