Repository dotnet/sdk, pull requests merged in 2025-09, with the labels that each got.

#50569 `dotnet test` MTP: Don't use CallTarget
  src/Layout/redist/MSBuildImports/Current/Microsoft.Common.CrossTargeting.targets/ImportAfter/Microsoft.TestPlatform.CrossTargeting.targets
  src/Layout/redist/MSBuildImports/Current/Microsoft.Common.targets/ImportAfter/Microsoft.TestPlatform.ImportAfter.targets
Labels: Area-dotnet test, Area-dotnet test (MTP)

#50571 MTP dotnet test: Better handling for pipe failures
  src/Cli/dotnet/Commands/CliCommandStrings.resx
  src/Cli/dotnet/Commands/Test/IPC/NamedPipeServer.cs
  src/Cli/dotnet/Commands/Test/TestApplication.cs
  src/Cli/dotnet/Commands/Test/TestApplicationActionQueue.cs
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.cs.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.de.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.es.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.fr.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.it.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ja.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ko.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.pl.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.pt-BR.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ru.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.tr.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.zh-Hans.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.zh-Hant.xlf
Labels: Area-dotnet test (MTP)

#50625 Cleanup dotnet test for MTP
  src/Cli/dotnet/Commands/Test/CustomEventArgs.cs
  src/Cli/dotnet/Commands/Test/Models.cs
  src/Cli/dotnet/Commands/Test/Terminal/TerminalTestReporter.cs
  src/Cli/dotnet/Commands/Test/TestApplication.cs
  src/Cli/dotnet/Commands/Test/TestApplicationActionQueue.cs
  src/Cli/dotnet/Commands/Test/TestApplicationHandler.cs
  src/Cli/dotnet/Commands/Test/TestingPlatformCommand.Help.cs
  src/Cli/dotnet/Commands/Test/TestingPlatformCommand.cs
Labels: Area-dotnet test, Area-dotnet test (MTP)

#50487 [Blazor] Treat `RuntimeIdentifiers` as local property
  src/BlazorWasmSdk/Targets/Microsoft.NET.Sdk.BlazorWebAssembly.Current.props
  test/Microsoft.NET.Sdk.BlazorWebAssembly.Tests/WasmBuildIntegrationTest.cs
Labels: Area-AspNetCore

#43929 dotnet-format: Support hidden severity for analyzers and code fixes
  src/BuiltInTools/dotnet-format/Commands/FormatCommandCommon.cs
  src/BuiltInTools/dotnet-format/FixSeverity.cs
Labels: untriaged, Area-Format

#50666 Cleanup dotnet test
  src/Cli/dotnet/Commands/Test/MTP/IPC/Serializers/BaseSerializer.cs
  src/Cli/dotnet/Commands/Test/MTP/IPC/Serializers/CommandLineOptionMessagesSerializer.cs
  src/Cli/dotnet/Commands/Test/MTP/IPC/Serializers/DiscoveredTestMessagesSerializer.cs
  src/Cli/dotnet/Commands/Test/MTP/IPC/Serializers/FileArtifactMessagesSerializer.cs
  src/Cli/dotnet/Commands/Test/MTP/IPC/Serializers/HandshakeMessageSerializer.cs
  src/Cli/dotnet/Commands/Test/MTP/IPC/Serializers/TestResultMessagesSerializer.cs
  src/Cli/dotnet/Commands/Test/MTP/IPC/Serializers/TestSessionEventSerializer.cs
  src/Cli/dotnet/Commands/Test/MTP/MicrosoftTestingPlatformTestCommand.cs
  src/Cli/dotnet/Commands/Test/MTP/Terminal/TerminalTestReporter.cs
  src/Cli/dotnet/Commands/Test/MTP/Terminal/TerminalTestReporterOptions.cs
  src/Cli/dotnet/Commands/Test/MTP/Terminal/TestProgressStateAwareTerminal.cs
  src/Cli/dotnet/Commands/Test/MTP/TestApplicationActionQueue.cs
  src/Cli/dotnet/Commands/Test/MTP/TestApplicationHandler.cs
Labels: Area-dotnet test, Area-dotnet test (MTP)

#50704 FailFast in UnknownMessageSerializer.Serialize
  src/Cli/dotnet/Commands/Test/MTP/IPC/Serializers/UnknownMessageSerializer.cs
Labels: Area-dotnet test, Area-dotnet test (MTP)

#50703 Stricter implementation of test session events for MTP
  src/Cli/dotnet/Commands/CliCommandStrings.resx
  src/Cli/dotnet/Commands/Test/MTP/CustomEventArgs.cs
  src/Cli/dotnet/Commands/Test/MTP/MicrosoftTestingPlatformTestCommand.Help.cs
  src/Cli/dotnet/Commands/Test/MTP/MicrosoftTestingPlatformTestCommand.cs
  src/Cli/dotnet/Commands/Test/MTP/Models.cs
  src/Cli/dotnet/Commands/Test/MTP/Options.cs
  src/Cli/dotnet/Commands/Test/MTP/Terminal/TerminalTestReporter.cs
  src/Cli/dotnet/Commands/Test/MTP/TestApplication.cs
  src/Cli/dotnet/Commands/Test/MTP/TestApplicationActionQueue.cs
  src/Cli/dotnet/Commands/Test/MTP/TestApplicationHandler.cs
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.cs.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.de.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.es.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.fr.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.it.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ja.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ko.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.pl.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.pt-BR.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ru.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.tr.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.zh-Hans.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.zh-Hant.xlf
Labels: Area-dotnet test, Area-dotnet test (MTP)

#50723 [dotnet test MTP]: Pipe cleanup and add tests
  src/Cli/dotnet/Commands/Test/MTP/IPC/NamedPipeServer.cs
  test/dotnet.Tests/CommandTests/Test/IPCTests.cs
  test/dotnet.Tests/CommandTests/Test/NamedPipeClient.cs
Labels: Area-dotnet test, Area-dotnet test (MTP)

#50727 Ensure dotnet test messages are received in the right timings/modes
  src/Cli/dotnet/Commands/CliCommandStrings.resx
  src/Cli/dotnet/Commands/Test/MTP/IPC/Models/HandshakeMessage.cs
  src/Cli/dotnet/Commands/Test/MTP/IPC/Serializers/HandshakeMessageSerializer.cs
  src/Cli/dotnet/Commands/Test/MTP/TestApplication.cs
  src/Cli/dotnet/Commands/Test/MTP/TestApplicationHandler.cs
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.cs.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.de.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.es.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.fr.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.it.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ja.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ko.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.pl.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.pt-BR.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ru.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.tr.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.zh-Hans.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.zh-Hant.xlf
Labels: Area-dotnet test, Area-dotnet test (MTP)

#50629 Dotnet watch browser refresh configurable port
  documentation/manpages/sdk/dotnet-watch.1
  src/BuiltInTools/HotReloadClient/Web/BrowserRefreshServer.cs
  src/BuiltInTools/dotnet-watch/CommandLine/EnvironmentOptions.cs
  src/BuiltInTools/dotnet-watch/CommandLine/EnvironmentVariables.cs
  src/BuiltInTools/dotnet-watch/HotReload/AppModels/WebApplicationAppModel.cs
Labels: Area-AspNetCore, Area-Watch

#50810 Support env variables for dotnet test (MTP)
  src/Cli/dotnet/Commands/Test/MTP/MicrosoftTestingPlatformTestCommand.cs
  src/Cli/dotnet/Commands/Test/MTP/Options.cs
  src/Cli/dotnet/Commands/Test/MTP/TestApplication.cs
  src/Cli/dotnet/Commands/Test/TestCommandParser.cs
  test/TestAssets/TestProjects/TestProjectShowingEnvVariable/Program.cs
  test/TestAssets/TestProjects/TestProjectShowingEnvVariable/Properties/launchSettings.json
  test/TestAssets/TestProjects/TestProjectShowingEnvVariable/TestProjectShowingEnvVariable.csproj
  test/TestAssets/TestProjects/TestProjectShowingEnvVariable/global.json
  test/dotnet.Tests/CommandTests/Test/GivenDotnetTestBuildsAndRunsTests.cs
Labels: Area-dotnet test, Area-dotnet test (MTP)

#50808 Simplify reading process stdout/stderr for dotnet test [MTP]
  src/Cli/dotnet/Commands/Test/MTP/TestApplication.cs
Labels: Area-dotnet test, Area-dotnet test (MTP)

#50399 [8.0.1xx] detect .NET 10 RID-specific tools and provide a more actionable error
  src/Cli/dotnet/ToolPackage/ToolConfigurationDeserializer.cs
  src/Tests/Microsoft.NET.Build.Containers.IntegrationTests/CreateNewImageTests.cs
  src/Tests/Microsoft.NET.Build.Containers.IntegrationTests/DockerRegistryTests.cs
  src/Tests/Microsoft.NET.Build.Containers.IntegrationTests/DockerTestsCollection.cs
  src/Tests/Microsoft.NET.Build.Containers.IntegrationTests/EndToEndTests.cs
Labels: Servicing-approved

#50414 [8.0.4xx] detect .NET 10 RID-specific tools and provide a more actionable error
  src/Cli/dotnet/ToolPackage/ToolConfigurationDeserializer.cs
Labels: Servicing-approved

#50294 Make duplicate deb/rpm packages so we can sign them with the new PMC key
  src/Installer/redist-installer/targets/GenerateDebs.targets
  src/Installer/redist-installer/targets/GenerateRPMs.targets
  src/Installer/redist-installer/targets/GetRuntimeInformation.targets
Labels: Servicing-approved, Area-Infrastructure

#50783 Implicitly set UserSecretsId for file-based apps
  documentation/general/dotnet-run-file.md
  src/Cli/dotnet/Commands/Project/Convert/ProjectConvertCommand.cs
  src/Cli/dotnet/Commands/Run/VirtualProjectBuildingCommand.cs
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.props
  test/dotnet.Tests/CommandTests/Project/Convert/DotnetProjectConvertTests.cs
  test/dotnet.Tests/CommandTests/Run/RunFileTests.cs
Labels: Area-run-file

#50780 Fix backflow from VMR's main
  eng/Version.Details.props
  eng/Version.Details.xml
  eng/common/core-templates/steps/generate-sbom.yml
  eng/common/core-templates/steps/source-index-stage1-publish.yml
  eng/common/sdk-task.sh
  global.json
  src/BuiltInTools/BrowserRefresh/Microsoft.AspNetCore.Watch.BrowserRefresh.csproj
  src/Cli/dotnet/Parser.cs
  src/Layout/redist/targets/BundledSdks.targets
  src/Layout/redist/targets/BundledTemplates.targets
  src/RazorSdk/Tool/Json/JsonDataReader.cs
  src/RazorSdk/Tool/Json/ObjectReaders_TagHelpers.cs
  src/RazorSdk/Tool/Json/ObjectWriters_TagHelpers.cs
  src/RazorSdk/Tool/Json/WellKnownPropertyNames.cs
  test/EndToEnd.Tests/GivenUnixPlatform.cs
  test/EndToEnd.Tests/ProjectBuildTests.cs
  test/dotnet-new.IntegrationTests/Approvals/DotnetNewCompleteTests.CanDoTabCompletion.Linux.verified.txt
  test/dotnet-new.IntegrationTests/Approvals/DotnetNewCompleteTests.CanDoTabCompletion.OSX.verified.txt
  test/dotnet-new.IntegrationTests/Approvals/DotnetNewDebugOptionsTests.CanShowConfigWithDebugShowConfig.Linux.verified.txt
  test/dotnet-new.IntegrationTests/Approvals/DotnetNewDebugOptionsTests.CanShowConfigWithDebugShowConfig.OSX.verified.txt
  test/dotnet-new.IntegrationTests/Approvals/DotnetNewListTests.BasicTest_WhenLegacyCommandIsUsed_common.Linux.verified.txt
  test/dotnet-new.IntegrationTests/Approvals/DotnetNewListTests.BasicTest_WhenLegacyCommandIsUsed_common.OSX.verified.txt
  test/dotnet-new.IntegrationTests/Approvals/DotnetNewListTests.BasicTest_WhenListCommandIsUsed.Linux.verified.txt
  test/dotnet-new.IntegrationTests/Approvals/DotnetNewListTests.BasicTest_WhenListCommandIsUsed.OSX.verified.txt
  test/dotnet-new.IntegrationTests/Approvals/DotnetNewTests.CanShowBasicInfo.Linux.verified.txt
  test/dotnet-new.IntegrationTests/Approvals/DotnetNewTests.CanShowBasicInfo.OSX.verified.txt
Labels: Area-Infrastructure

#42266 Allow charset to be `unset`
  src/BuiltInTools/dotnet-format/Formatters/CharsetFormatter.cs
Labels: untriaged, Area-Format

#51004 Allow SDKs to overwrite default file-based app properties
  src/Cli/dotnet/Commands/Project/Convert/ProjectConvertCommand.cs
  src/Cli/dotnet/Commands/Run/VirtualProjectBuildingCommand.cs
  test/dotnet.Tests/CommandTests/Run/RunFileTests.cs
Labels: Area-run-file

#50956 Improve where file-level directives are added
  src/Cli/dotnet/Commands/Run/FileBasedAppSourceEditor.cs
  test/dotnet.Tests/CommandTests/Run/FileBasedAppSourceEditorTests.cs
Labels: Servicing-approved, Area-run-file
