Repository dotnet/sdk, pull requests merged in 2025-06, with the labels that each got.

#49194 Support Helix testing on CentOS Stream 9
  eng/pipelines/templates/jobs/sdk-job-matrix.yml
  test/Microsoft.NET.TestFramework/EnvironmentInfo.cs
  test/dotnet.Tests/CommandTests/Workload/Restore/GivenDotnetWorkloadRestore.cs
Labels: Area-Infrastructure

#49268 Trusted roots: 2025-05 CTL
  src/Layout/redist/trustedroots/timestampctl.pem
  test/trustedroots.Tests/GivenCodeSigningCtlFile.cs
  test/trustedroots.Tests/GivenTimestampingCtlFile.cs
Labels: Area-Infrastructure

#49009 Support binlog in build/restore of file-based programs
  src/Cli/dotnet/Commands/Build/BuildCommand.cs
  src/Cli/dotnet/Commands/Restore/RestoreCommand.cs
  src/Cli/dotnet/Commands/Run/RunCommand.cs
  src/Cli/dotnet/Commands/Test/MSBuildUtility.cs
  src/Cli/dotnet/LoggerUtility.cs
  test/dotnet.Tests/CommandTests/Run/RunFileTests.cs
Labels: Area-run-file

#48906 `dotnet tool install --local` works by default, by creating a manifest by default, utilizing `--create-manifest-if-needed`
  src/Cli/dotnet/CliStrings.resx
  src/Cli/dotnet/Commands/CliCommandStrings.resx
  src/Cli/dotnet/Commands/Tool/Install/ToolInstallCommandParser.cs
  src/Cli/dotnet/Commands/Tool/Install/ToolInstallLocalCommand.cs
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.cs.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.de.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.es.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.fr.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.it.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ja.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ko.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.pl.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.pt-BR.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ru.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.tr.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.zh-Hans.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.zh-Hant.xlf
  src/Cli/dotnet/ToolManifest/ToolManifestCannotBeFoundException.cs
  src/Cli/dotnet/ToolManifest/ToolManifestFinder.cs
  src/Cli/dotnet/xlf/CliStrings.cs.xlf
  src/Cli/dotnet/xlf/CliStrings.de.xlf
  src/Cli/dotnet/xlf/CliStrings.es.xlf
  src/Cli/dotnet/xlf/CliStrings.fr.xlf
  src/Cli/dotnet/xlf/CliStrings.it.xlf
  src/Cli/dotnet/xlf/CliStrings.ja.xlf
  src/Cli/dotnet/xlf/CliStrings.ko.xlf
  src/Cli/dotnet/xlf/CliStrings.pl.xlf
  src/Cli/dotnet/xlf/CliStrings.pt-BR.xlf
  src/Cli/dotnet/xlf/CliStrings.ru.xlf
  src/Cli/dotnet/xlf/CliStrings.tr.xlf
  src/Cli/dotnet/xlf/CliStrings.zh-Hans.xlf
  src/Cli/dotnet/xlf/CliStrings.zh-Hant.xlf
  test/dotnet.Tests/CommandTests/Tool/Install/ToolInstallLocalCommandTests.cs
  test/dotnet.Tests/CommandTests/Tool/Restore/ToolRestoreCommandTests.cs
  test/dotnet.Tests/CommandTests/Tool/Uninstall/ToolUninstallLocalCommandTests.cs
  test/dotnet.Tests/CommandTests/Tool/Update/ToolUpdateLocalCommandTests.cs
  test/dotnet.Tests/CompletionTests/snapshots/bash/DotnetCliSnapshotTests.VerifyCompletions.verified.sh
  test/dotnet.Tests/CompletionTests/snapshots/nushell/DotnetCliSnapshotTests.VerifyCompletions.verified.nu
  test/dotnet.Tests/CompletionTests/snapshots/zsh/DotnetCliSnapshotTests.VerifyCompletions.verified.zsh
  test/dotnet.Tests/ToolManifestTests/ToolManifestFinderTests.cs
Labels: Bug, Review for breaking changes, tool, breaking-change, needs-breaking-change-doc-created, Tab Completion

#49013 Allow `build --no-restore` for file-based programs
  src/Cli/dotnet/Commands/Run/RunCommand.cs
  src/Cli/dotnet/Commands/Run/VirtualProjectBuildingCommand.cs
  test/dotnet.Tests/CommandTests/Run/RunFileTests.cs
Labels: Area-run-file

#49287 Add dotnet package update command
  src/Cli/dotnet/Parser.cs
  test/dotnet.Tests/CommandTests/NuGet/GivenANuGetCommand.cs
  test/dotnet.Tests/CompletionTests/snapshots/bash/DotnetCliSnapshotTests.VerifyCompletions.verified.sh
  test/dotnet.Tests/CompletionTests/snapshots/pwsh/DotnetCliSnapshotTests.VerifyCompletions.verified.ps1
  test/dotnet.Tests/CompletionTests/snapshots/zsh/DotnetCliSnapshotTests.VerifyCompletions.verified.zsh
Labels: Area-CLI

#49330 Set runtime config values for path to executing script
  src/Cli/Microsoft.DotNet.Cli.Utils/BuiltInCommand.cs
  src/Cli/Microsoft.DotNet.Cli.Utils/Command.cs
  src/Cli/Microsoft.DotNet.Cli.Utils/ICommand.cs
  src/Cli/dotnet/Commands/Run/VirtualProjectBuildingCommand.cs
  test/Microsoft.NET.TestFramework/Commands/TestCommand.cs
  test/dotnet.Tests/CommandTests/Run/RunFileTests.cs
Labels: Area-run-file

#49309 Consolidate file-level directive separators
  documentation/general/dotnet-run-file.md
  src/Cli/dotnet/Commands/CliCommandStrings.resx
  src/Cli/dotnet/Commands/Run/VirtualProjectBuildingCommand.cs
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.cs.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.de.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.es.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.fr.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.it.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ja.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ko.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.pl.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.pt-BR.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ru.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.tr.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.zh-Hans.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.zh-Hant.xlf
  test/dotnet.Tests/CommandTests/Project/Convert/DotnetProjectConvertTests.cs
  test/dotnet.Tests/CommandTests/Run/RunFileTests.cs
Labels: Area-run-file

#49361 Document that multi-file support is postponed
  documentation/general/dotnet-run-file.md
Labels: documentation, Area-run-file

#45548 Update all test sdk references to the latest version.
  test/TestAssets/TestPackages/dotnet-new/test_templates/PostActions/RestoreNuGet/Files_MatchSpecifiedFiles/Tool.Test/Tool.Test.csproj
  test/TestAssets/TestPackages/dotnet-new/test_templates/PostActions/RestoreNuGet/Files_MismatchSpecifiedFiles/Tool.Test/Tool.Test.csproj
  test/TestAssets/TestPackages/dotnet-new/test_templates/PostActions/RestoreNuGet/Files_PatternWithFileName/Tool.Test/Tool.Test.csproj
  test/TestAssets/TestPackages/dotnet-new/test_templates/PostActions/RestoreNuGet/Files_PatternWithGlobstar/Tool.Test/Tool.Test.csproj
  test/TestAssets/TestPackages/dotnet-new/test_templates/PostActions/RestoreNuGet/Files_PatternWithWildcard/Tool.Test/Tool.Test.csproj
  test/TestAssets/TestPackages/dotnet-new/test_templates/PostActions/RestoreNuGet/Files_SupportSemicolonDelimitedList/Tool.Test/Tool.Test.csproj
  test/TestAssets/TestProjects/XUnitTestProject/XUnitTestProject.csproj
  test/dotnet-test.Tests/GivenDotnetTestBuildsAndRunsTestFromCsprojForMultipleTFM.cs
Labels: Area-Infrastructure

#49310 Allow publishing file-based apps
  documentation/general/dotnet-run-file.md
  src/Cli/dotnet/Commands/Build/BuildCommand.cs
  src/Cli/dotnet/Commands/Publish/PublishCommand.cs
  src/Cli/dotnet/Commands/Publish/PublishCommandParser.cs
  src/Cli/dotnet/Commands/Run/CommonRunHelpers.cs
  src/Cli/dotnet/Commands/Run/VirtualProjectBuildingCommand.cs
  test/dotnet.Tests/CommandTests/MSBuild/GivenDotnetPublishInvocation.cs
  test/dotnet.Tests/CommandTests/MSBuild/MSBuildArgumentCommandLineParserTests.cs
  test/dotnet.Tests/CommandTests/Project/Convert/DotnetProjectConvertTests.cs
  test/dotnet.Tests/CommandTests/Run/RunFileTests.cs
  test/dotnet.Tests/CompletionTests/snapshots/zsh/DotnetCliSnapshotTests.VerifyCompletions.verified.zsh
Labels: Area-run-file

#49373 [wasm] Prepare for new boot config schema
  test/Microsoft.NET.Sdk.BlazorWebAssembly.Tests/BootJsonData.cs
  test/Microsoft.NET.Sdk.BlazorWebAssembly.Tests/WasmPublishIntegrationTestBase.cs
Labels: Area-WasmSdk

#48387 Add support for `dotnet file.cs` (without explicit `run` subcommand)
  documentation/general/dotnet-run-file.md
  src/Cli/dotnet/Program.cs
  test/dotnet.Tests/CommandTests/Run/RunFileTests.cs
Labels: untriaged, Area-run-file

#49150 File watcher: ignore directories, allow watching non-recursively
  src/BuiltInTools/dotnet-watch/DotNetWatcher.cs
  src/BuiltInTools/dotnet-watch/HotReloadDotNetWatcher.cs
  src/BuiltInTools/dotnet-watch/Internal/FileWatcher.cs
  src/BuiltInTools/dotnet-watch/Internal/FileWatcher/EventBasedDirectoryWatcher.cs
  src/BuiltInTools/dotnet-watch/Internal/FileWatcher/FileWatcherFactory.cs
  src/BuiltInTools/dotnet-watch/Internal/FileWatcher/IDirectoryWatcher.cs
  src/BuiltInTools/dotnet-watch/Internal/FileWatcher/PollingDirectoryWatcher.cs
  src/BuiltInTools/dotnet-watch/Utilities/PathUtilities.cs
  test/dotnet-watch.Tests/FileWatcherTests.cs
Labels: Area-AspNetCore

#49394 Don't include runtime config info during publish
  src/Cli/dotnet/Commands/Run/VirtualProjectBuildingCommand.cs
Labels: Area-run-file

#49385 Use terminal logger when building file-based apps
  src/Cli/dotnet/Commands/Build/BuildCommand.cs
  src/Cli/dotnet/Commands/Publish/PublishCommand.cs
  src/Cli/dotnet/Commands/Restore/RestoreCommand.cs
  src/Cli/dotnet/Commands/Run/Api/RunApiCommand.cs
  src/Cli/dotnet/Commands/Run/RunCommand.cs
  src/Cli/dotnet/Commands/Run/VirtualProjectBuildingCommand.cs
Labels: Area-run-file

#49118 dotnet CLI: Add --cli-schema option for CLI structure JSON
  src/Cli/Microsoft.DotNet.Cli.Utils/Extensions/StringExtensions.cs
  src/Cli/Microsoft.DotNet.Cli.Utils/Extensions/TypeExtensions.cs
  src/Cli/dotnet/CliSchema.cs
  src/Cli/dotnet/CliStrings.resx
  src/Cli/dotnet/Extensions/ParseResultExtensions.cs
  src/Cli/dotnet/Parser.cs
  src/Cli/dotnet/Program.cs
  src/Cli/dotnet/xlf/CliStrings.cs.xlf
  src/Cli/dotnet/xlf/CliStrings.de.xlf
  src/Cli/dotnet/xlf/CliStrings.es.xlf
  src/Cli/dotnet/xlf/CliStrings.fr.xlf
  src/Cli/dotnet/xlf/CliStrings.it.xlf
  src/Cli/dotnet/xlf/CliStrings.ja.xlf
  src/Cli/dotnet/xlf/CliStrings.ko.xlf
  src/Cli/dotnet/xlf/CliStrings.pl.xlf
  src/Cli/dotnet/xlf/CliStrings.pt-BR.xlf
  src/Cli/dotnet/xlf/CliStrings.ru.xlf
  src/Cli/dotnet/xlf/CliStrings.tr.xlf
  src/Cli/dotnet/xlf/CliStrings.zh-Hans.xlf
  src/Cli/dotnet/xlf/CliStrings.zh-Hant.xlf
  test/dotnet.Tests/CliSchemaTests.cs
Labels: Area-CLI

#49186 Exclude upstream files from Emscripten and code coverage
  eng/pipelines/templates/jobs/sdk-build.yml
Labels: Area-Infrastructure

#49323 Update .NET 10 Preview 5 MAUI baseline manifests
  eng/Versions.props
Labels: Area-CodeFlow

#49348 Allow reading file-based app from stdin
  documentation/general/dotnet-run-file.md
  src/Cli/dotnet/Commands/CliCommandStrings.resx
  src/Cli/dotnet/Commands/Run/Api/RunApiCommand.cs
  src/Cli/dotnet/Commands/Run/RunCommand.cs
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.cs.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.de.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.es.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.fr.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.it.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ja.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ko.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.pl.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.pt-BR.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ru.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.tr.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.zh-Hans.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.zh-Hant.xlf
  test/dotnet.Tests/CommandTests/Run/RunFileTests.cs
Labels: Area-run-file

#49461 Add dnx scripts
  src/Layout/redist/dnx
  src/Layout/redist/dnx.cmd
  src/Layout/redist/targets/GenerateInstallerLayout.targets
  src/Layout/redist/targets/GenerateLayout.targets
Labels: Area-Infrastructure

#49485 Prefer CLI commands to loose files
  src/Cli/dotnet/Program.cs
Labels: Area-run-file

#49488 [release/10.0.1xx-preview6] Add `dnx` support
  src/Cli/Microsoft.TemplateEngine.Cli/Help/HelpBuilder.cs
  src/Cli/dotnet/Commands/Dnx/DnxCommandParser.cs
  src/Cli/dotnet/Parser.cs
  src/Layout/redist/dnx
  src/Layout/redist/dnx.cmd
  src/Layout/redist/targets/GenerateInstallerLayout.targets
  src/Layout/redist/targets/GenerateLayout.targets
Labels: Servicing-approved

#46611 Select the NativeAOT runtime pack as the target package when it's provided as part of the KnownILCompilerPack metadata
  src/Layout/redist/targets/GenerateBundledVersions.targets
  src/Tasks/Microsoft.NET.Build.Tasks/ProcessFrameworkReferences.cs
  test/Microsoft.NET.Publish.Tests/GivenThatWeWantToPublishAnAotApp.cs
Labels: untriaged, Area-NetSDK

#49477 Instructions for adding MSBuild fast paths
  test/Microsoft.NET.Build.Tests/EvaluatorFastPathTests.cs
Labels: Area-Infrastructure

#49510 Fix and test more `dotnet file` precedence cases
  src/Cli/dotnet/CommandFactory/CommandFactoryUsingResolver.cs
  src/Cli/dotnet/Program.cs
  test/dotnet.Tests/CommandTests/Run/RunFileTests.cs
Labels: Area-run-file

#49509 Remove `(2)` from folder names in sdk.slnx
  sdk.slnx
Labels: Area-Infrastructure

#49523 Ignore date-only changes during manpage update
  .github/workflows/update-man-pages.yml
Labels: Area-Infrastructure

#49483 Adjust message for bad #:package / #:sdk to indicate what the parts mean
  src/Cli/dotnet/Commands/CliCommandStrings.resx
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.cs.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.de.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.es.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.fr.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.it.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ja.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ko.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.pl.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.pt-BR.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ru.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.tr.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.zh-Hans.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.zh-Hant.xlf
Labels: Area-run-file

#49538 Remove cgmanifest.json and save packages dynamically
  eng/cgmanifest.json
  test/dotnet-new.IntegrationTests/DotnetNewTestTemplatesTests.cs
Labels: Area-Infrastructure

#49454 Default excludes
  src/BuiltInTools/dotnet-watch/EvaluationResult.cs
  src/BuiltInTools/dotnet-watch/HotReload/BlazorWebAssemblyDeltaApplier.cs
  src/BuiltInTools/dotnet-watch/HotReload/CompilationHandler.cs
  src/BuiltInTools/dotnet-watch/HotReload/FilePathExclusions.cs
  src/BuiltInTools/dotnet-watch/HotReloadDotNetWatcher.cs
  src/BuiltInTools/dotnet-watch/Internal/FileWatcher.cs
  src/BuiltInTools/dotnet-watch/Internal/FileWatcher/DirectoryWatcher.cs
  src/BuiltInTools/dotnet-watch/Internal/FileWatcher/EventBasedDirectoryWatcher.cs
  src/BuiltInTools/dotnet-watch/Internal/FileWatcher/FileWatcherFactory.cs
  src/BuiltInTools/dotnet-watch/Internal/FileWatcher/IDirectoryWatcher.cs
  src/BuiltInTools/dotnet-watch/Internal/FileWatcher/PollingDirectoryWatcher.cs
  src/BuiltInTools/dotnet-watch/Internal/IReporter.cs
  src/BuiltInTools/dotnet-watch/Internal/MsBuildFileSetFactory.cs
  src/BuiltInTools/dotnet-watch/Utilities/ProjectGraphNodeExtensions.cs
  test/TestAssets/TestProjects/WatchAppWithProjectDeps/AppWithDeps/Program.cs
  test/TestAssets/TestProjects/WatchAppWithProjectDeps/Dependency/Dependency.csproj
  test/TestAssets/TestProjects/WatchAppWithProjectDeps/Directory.Build.props
  test/TestAssets/TestProjects/WatchHotReloadApp/WatchHotReloadApp.csproj
  test/dotnet-watch.Tests/FileWatcherTests.cs
  test/dotnet-watch.Tests/HotReload/ApplyDeltaTests.cs
  test/dotnet-watch.Tests/HotReload/CompilationHandlerTests.cs
  test/dotnet-watch.Tests/HotReload/RuntimeProcessLauncherTests.cs
Labels: Area-Watch

#49554 Update test template tests
  test/TestPackages/cgmanifest.json
  test/dotnet-new.IntegrationTests/DotnetNewTestTemplatesTests.cs
Labels: Area-dotnet test

#49555 Accept version ranges via `package@version` syntax
  src/Cli/dotnet/Commands/Package/Add/PackageAddCommand.cs
  src/Cli/dotnet/Commands/Package/Add/PackageAddCommandParser.cs
  src/Cli/dotnet/Commands/Tool/Execute/ToolExecuteCommand.cs
  src/Cli/dotnet/Commands/Tool/Execute/ToolExecuteCommandParser.cs
  src/Cli/dotnet/Commands/Tool/Install/ParseResultExtension.cs
  src/Cli/dotnet/Commands/Tool/Install/ToolInstallCommandParser.cs
  src/Cli/dotnet/Commands/Tool/Install/ToolInstallGlobalOrToolPathCommand.cs
  src/Cli/dotnet/Commands/Tool/Install/ToolInstallLocalCommand.cs
  src/Cli/dotnet/Commands/Tool/Update/ToolUpdateCommand.cs
  src/Cli/dotnet/Commands/Tool/Update/ToolUpdateCommandParser.cs
  src/Cli/dotnet/CommonArguments.cs
  test/dotnet.Tests/CommandTests/Package/Add/GivenDotnetPackageAdd.cs
  test/dotnet.Tests/CommandTests/Tool/Install/InstallToolParserTests.cs
  test/dotnet.Tests/CommandTests/Tool/Update/UpdateToolParserTests.cs
Labels: Area-CLI

#49514 Set publishDir for file based apps
  src/Cli/dotnet/Commands/Run/VirtualProjectBuildingCommand.cs
  test/dotnet.Tests/CommandTests/Run/RunFileTests.cs
Labels: Area-run-file

#49581 Set a default for the Http3Support feature switch
  src/BlazorWasmSdk/Targets/Microsoft.NET.Sdk.BlazorWebAssembly.6_0.targets
Labels: Area-AspNetCore

#49583 Set a default for the Http3Support feature switch
  src/Workloads/Manifests/Microsoft.NET.Workload.Mono.Toolchain.Current.Manifest/WasmFeatures.props
Labels: Area-Workloads

#49599 If a user expresses the intent to stifle the preview 'warning', make it happen on their behalf
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.RuntimeIdentifierInference.targets
  test/Microsoft.NET.Build.Tests/GivenThatWeWantAMessageWhenBuildingWithAPreviewSdk.cs
Labels: Area-NetSDK
