Repository dotnet/sdk, pull requests merged in 2025-08, with the labels that each got.

#50000 add System.Net.Http.WasmEnableStreamingResponse to RuntimeHostConfigurationOption
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.targets
  test/Microsoft.NET.Publish.Tests/GivenThatWeWantToPublishAProjectWithAllFeatures.cs
  test/TestAssets/TestProjects/KitchenSink/TestApp/TestApp.csproj
Labels: arch-wasm

#50021 Stop promoting nuget-client via sdk
  .config/dotnet-tools.json
  Directory.Packages.props
  eng/Version.Details.xml
  eng/Versions.props
  eng/pipelines/templates/jobs/promote-nuget-client.yml
  eng/pipelines/templates/steps/get-asset-info.yml
  eng/pipelines/templates/steps/install-darc.yml
Labels: Area-Infrastructure

#49642 Re-enable DotNet.Watcher.Tests
  test/dotnet-watch.Tests/Watch/GlobbingAppTests.cs
Labels: Test Debt

#49745 Remove MSBuild hacks for virtual project building
  src/Cli/dotnet/Commands/Run/VirtualProjectBuildingCommand.cs
  test/dotnet.Tests/CommandTests/Run/RunFileTests.cs
Labels: Area-run-file

#50035 Update branding to 8.0.120
  eng/Versions.props
Labels: Branch Lockdown

#50002 [watch] Fix /bl option parsing, use it for build logging
  src/BuiltInTools/dotnet-watch/Build/BuildReporter.cs
  src/BuiltInTools/dotnet-watch/Build/EvaluationResult.cs
  src/BuiltInTools/dotnet-watch/CommandLine/CommandLineOptions.cs
  src/BuiltInTools/dotnet-watch/CommandLine/EnvironmentOptions.cs
  src/BuiltInTools/dotnet-watch/CommandLine/GlobalOptions.cs
  src/BuiltInTools/dotnet-watch/HotReload/HotReloadDotNetWatcher.cs
  src/BuiltInTools/dotnet-watch/HotReload/ScopedCssFileHandler.cs
  src/BuiltInTools/dotnet-watch/Program.cs
  src/BuiltInTools/dotnet-watch/Properties/launchSettings.json
  src/BuiltInTools/dotnet-watch/Watch/BuildEvaluator.cs
  src/BuiltInTools/dotnet-watch/Watch/MsBuildFileSetFactory.cs
  test/dotnet-watch.Tests/Build/EvaluationTests.cs
  test/dotnet-watch.Tests/CommandLine/BinaryLoggerTests.cs
  test/dotnet-watch.Tests/CommandLine/CommandLineOptionsTests.cs
  test/dotnet-watch.Tests/CommandLine/EnvironmentOptionsTests.cs
  test/dotnet-watch.Tests/CommandLine/ProgramTests.cs
  test/dotnet-watch.Tests/HotReload/ApplyDeltaTests.cs
  test/dotnet-watch.Tests/TestUtilities/MockFileSetFactory.cs
  test/dotnet-watch.Tests/TestUtilities/WatchableApp.cs
Labels: Area-Watch

#50047 Mimic dotnet run handling of DOTNET_ROOT in dotnet test
  src/Cli/dotnet/Commands/Test/Models.cs
  src/Cli/dotnet/Commands/Test/SolutionAndProjectUtility.cs
  src/Cli/dotnet/Commands/Test/TestApplication.cs
  src/Cli/dotnet/Commands/Test/TestModulesFilterHandler.cs
  src/Common/EnvironmentVariableNames.cs
Labels: Area-dotnet test

#50114 ensure that the run commands operates on minimal verbosity by default
  src/Cli/dotnet/Commands/Run/RunCommand.cs
  test/dotnet.Tests/CommandTests/Run/RunFileTests.cs
Labels: Area-CLI, Area-Run

#50154 fix #50008 by bumping precedence so the 10 template is treated as the primary
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/Solution/.template.config/template.json
Labels: Area-Common templates

#50056 Cleanup TestProgressState
  src/Cli/dotnet/Commands/Test/Terminal/TerminalTestReporter.cs
  src/Cli/dotnet/Commands/Test/Terminal/TestProgressState.cs
  src/Cli/dotnet/Commands/Test/TestApplicationEventHandlers.cs
  test/dotnet.Tests/CommandTests/Test/TestProgressStateTests.cs
Labels: Area-dotnet test

#45039 [Static Web Assets] Fix relative path matching
  src/StaticWebAssetsSdk/Tasks/DefineStaticWebAssets.cs
  test/Microsoft.NET.Sdk.StaticWebAssets.Tests/StaticWebAssets/DiscoverStaticWebAssetsTest.cs
Labels: untriaged, Area-AspNetCore

#50138 [wasm] Don't call .NET runtime if browser refresh script for HotReload is missing
  src/BuiltInTools/HotReloadAgent.WebAssembly.Browser/wwwroot/Microsoft.DotNet.HotReload.WebAssembly.Browser.lib.module.js
Labels: Area-AspNetCore

#50171 Remove setting copilot firewall env var in copilot-setup-steps.yml
  .github/workflows/copilot-setup-steps.yml
Labels: Area-Infrastructure

#50187 Test terminal logger with file-based apps
  test/dotnet.Tests/CommandTests/Run/RunFileTests.cs
Labels: Area-run-file

#50239 [wasm] Update list of properties to trigger need for workload
  src/Workloads/Manifests/Microsoft.NET.Workload.Mono.Toolchain.Current.Manifest/WorkloadManifest.targets.in
Labels: Area-Workloads, arch-wasm

#50117 Update xunit templates to xunit.v3
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.10.0/content/XUnit-CSharp/Company.TestProject1.csproj
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.10.0/content/XUnit-CSharp/xunit.runner.json
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.10.0/content/XUnit-FSharp/Company.TestProject1.fsproj
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.10.0/content/XUnit-FSharp/Program.fs
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.10.0/content/XUnit-FSharp/xunit.runner.json
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.10.0/content/XUnit-VisualBasic/Company.TestProject1.vbproj
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.10.0/content/XUnit-VisualBasic/xunit.runner.json
  test/Microsoft.NET.Build.Tests/ReferenceExeTests.cs
Labels: Servicing-approved

#49813 Implementing dotnet pack with nuspec files
  src/Cli/dotnet/CliStrings.resx
  src/Cli/dotnet/Commands/CliCommandStrings.resx
  src/Cli/dotnet/Commands/Pack/PackCommand.cs
  src/Cli/dotnet/Commands/Pack/PackCommandParser.cs
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.cs.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.de.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.es.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.fr.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.it.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ja.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ko.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.pl.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.pt-BR.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.ru.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.tr.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.zh-Hans.xlf
  src/Cli/dotnet/Commands/xlf/CliCommandStrings.zh-Hant.xlf
  src/Cli/dotnet/CommonOptions.cs
  src/Cli/dotnet/NugetPackageDownloader/NuGetConsoleLogger.cs
  src/Cli/dotnet/xlf/CliStrings.cs.xlf
  src/Cli/dotnet/xlf/CliStrings.de.xlf
  src/Cli/dotnet/xlf/CliStrings.es.xlf
  src/Cli/dotnet/xlf/CliStrings.fr.xlf
  src/Cli/dotnet/xlf/CliStrings.it.xlf
  src/Cli/dotnet/xlf/CliStrings.ja.xlf
  src/Cli/dotnet/xlf/CliStrings.ko.xlf
  src/Cli/dotnet/xlf/CliStrings.pl.xlf
  src/Cli/dotnet/xlf/CliStrings.pt-BR.xlf
  src/Cli/dotnet/xlf/CliStrings.ru.xlf
  src/Cli/dotnet/xlf/CliStrings.tr.xlf
  src/Cli/dotnet/xlf/CliStrings.zh-Hans.xlf
  src/Cli/dotnet/xlf/CliStrings.zh-Hant.xlf
  test/TestAssets/TestProjects/TestNuspecProject/PackNoCsproj.nuspec
  test/TestAssets/TestProjects/TestNuspecProject/content/one.txt
  test/TestAssets/TestProjects/TestNuspecWithConfigFiles/TestingPackWithConfig.nuspec
  test/TestAssets/TestProjects/TestNuspecWithConfigFiles/content/one.txt
  test/dotnet.Tests/CommandTests/Pack/PackTests.cs
  test/dotnet.Tests/CompletionTests/snapshots/bash/DotnetCliSnapshotTests.VerifyCompletions.verified.sh
  test/dotnet.Tests/CompletionTests/snapshots/pwsh/DotnetCliSnapshotTests.VerifyCompletions.verified.ps1
  test/dotnet.Tests/CompletionTests/snapshots/zsh/DotnetCliSnapshotTests.VerifyCompletions.verified.zsh
Labels: Area-CLI

#50182 Update MSTest templates to v4
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.10.0/content/MSTest-CSharp/Company.TestProject1.csproj
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.10.0/content/MSTest-FSharp/Company.TestProject1.fsproj
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.10.0/content/MSTest-VisualBasic/Company.TestProject1.vbproj
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.10.0/content/Playwright-MSTest-CSharp/Company.TestProject1.csproj
  test/dotnet-new.IntegrationTests/DotnetNewTestTemplatesTests.cs
Labels: Servicing-approved

#50348 Generate pruning data correctly
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.FrameworkReferenceResolution.targets
  test/Microsoft.NET.Build.Tests/GivenThatWeWantToResolveConflicts.cs
Labels: Servicing-approved

#50376 Allow `any`-RID builds to resolve assets like completely-RID-less builds
  src/Tasks/Microsoft.NET.Build.Tasks/ResolvePackageAssets.cs
  test/Microsoft.DotNet.PackageInstall.Tests/EndToEndToolTests.cs
  test/Microsoft.DotNet.PackageInstall.Tests/TestToolBuilder.cs
Labels: Area-Tools

#50243 Consolidate default verbosity of msbuild-based commands
  src/Cli/Microsoft.DotNet.Cli.Utils/MSBuildArgs.cs
  src/Cli/Microsoft.DotNet.Cli.Utils/MSBuildForwardingAppWithoutLogging.cs
  src/Cli/dotnet/Commands/Run/VirtualProjectBuildingCommand.cs
  test/dotnet.Tests/CommandTests/Run/RunFileTests.cs
Labels: Area-run-file

#50407 Remove emsdk packages from Version.Details.xml
  eng/Version.Details.props
  eng/Version.Details.xml
Labels: Area-CodeFlow

#50168 Support `dotnet pack file.cs`
  documentation/general/dotnet-run-file.md
  src/Cli/dotnet/Commands/Pack/PackCommand.cs
  src/Cli/dotnet/Commands/Pack/PackCommandParser.cs
  src/Cli/dotnet/Commands/Publish/PublishCommand.cs
  src/Cli/dotnet/Commands/Run/VirtualProjectBuildingCommand.cs
  test/dotnet.Tests/CommandTests/MSBuild/GivenDotnetPackInvocation.cs
  test/dotnet.Tests/CommandTests/Run/RunFileTests.cs
  test/dotnet.Tests/CompletionTests/snapshots/zsh/DotnetCliSnapshotTests.VerifyCompletions.verified.zsh
Labels: Area-run-file

#50482 Update MSTest template.json to create dotnet.config
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.10.0/content/MSTest-CSharp/.template.config/template.json
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.10.0/content/MSTest-FSharp/.template.config/template.json
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.10.0/content/MSTest-VisualBasic/.template.config/template.json
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.10.0/content/Playwright-MSTest-CSharp/.template.config/template.json
  test/dotnet-new.IntegrationTests/DotnetNewTestTemplatesTests.cs
Labels: Area-Test templates

#49963 Remove unnecessary license and xml headers
  Directory.Build.props
  Directory.Build.targets
  OverrideTest.targets
  src/Layout/pkg/windows/Directory.Build.props
  src/Layout/pkg/windows/Directory.Build.targets
  src/Layout/pkg/windows/bundles/sdk/bundle.wixproj
  src/Layout/pkg/windows/bundles/sdk/bundle.wxs
  src/Layout/pkg/windows/msis/Directory.Build.props
  src/Layout/pkg/windows/msis/placeholder/placeholder.wixproj
  src/Layout/pkg/windows/msis/templates/templates.wixproj
  src/Layout/pkg/windows/msis/toolset/toolset.wixproj
  src/Layout/redist/targets/GenerateMSIs.targets
  src/Tasks/Microsoft.NET.Build.Extensions.Tasks.UnitTests/Microsoft.NET.Build.Extensions.Tasks.UnitTests.csproj
  src/Tasks/Microsoft.NET.Build.Extensions.Tasks/Microsoft.NET.Build.Extensions.Tasks.csproj
  src/Tasks/Microsoft.NET.Build.Tasks.UnitTests/Microsoft.NET.Build.Tasks.UnitTests.csproj
  test/Common/Empty.props
  test/Common/Empty.targets
  test/Directory.Build.targets
  test/Microsoft.NET.Build.Tests/Microsoft.NET.Build.Tests.csproj
  test/Microsoft.NET.Clean.Tests/Microsoft.NET.Clean.Tests.csproj
  test/Microsoft.NET.Rebuild.Tests/Microsoft.NET.Rebuild.Tests.csproj
  test/Microsoft.NET.Restore.Tests/Microsoft.NET.Restore.Tests.csproj
  test/Microsoft.NET.Sdk.Razor.Tests/content/ExternalStaticAssets.targets
  test/Microsoft.NET.Sdk.Razor.Tool.Tests/Microsoft.NET.Sdk.Razor.Tool.Tests.csproj
  test/Microsoft.NET.Sdk.StaticWebAssets.Tests/content/ExternalStaticAssets.targets
  test/Microsoft.NET.TestFramework/Microsoft.NET.TestFramework.csproj
  test/Microsoft.NET.TestFramework/SetupTestRoot.targets
  test/Microsoft.NET.ToolPack.Tests/Microsoft.NET.ToolPack.Tests.csproj
  test/dotnet-new.IntegrationTests/TestDirectoryBuildFiles/Directory.Build.props
  test/dotnet-new.IntegrationTests/TestDirectoryBuildFiles/Directory.Build.targets
  test/dotnet-watch.Tests/Directory.Build.targets
Labels: Area-Infrastructure

#50511 Disallow RID on solution for MTP dotnet test
  src/Tasks/Microsoft.NET.Build.Extensions.Tasks/msbuildExtensions-ver/SolutionFile/ImportAfter/Microsoft.NET.Sdk.Solution.targets
  test/dotnet.Tests/CommandTests/Test/GivenDotnetTestBuildsAndRunsTestsForMultipleTFMs.cs
  test/dotnet.Tests/CommandTests/Test/GivenDotnetTestBuildsAndRunsTestsWithDifferentOptions.cs
Labels: Area-dotnet test (MTP)

#50531 [10.0.1xx] Consolidate default verbosity of msbuild-based commands
  src/Cli/Microsoft.DotNet.Cli.Utils/MSBuildArgs.cs
  src/Cli/Microsoft.DotNet.Cli.Utils/MSBuildForwardingAppWithoutLogging.cs
  src/Cli/dotnet/Commands/Run/VirtualProjectBuildingCommand.cs
  test/dotnet.Tests/CommandTests/Run/RunFileTests.cs
Labels: Area-run-file

#50533 Remove NETStandard.Library.Ref from Version.Details.xml/.props
  eng/Version.Details.props
  eng/Version.Details.xml
Labels: Area-CodeFlow

#48512 Add suppressor support for `dotnet format`
  src/BuiltInTools/dotnet-format/Analyzers/AnalyzerFormatter.cs
  src/BuiltInTools/dotnet-format/Analyzers/CodeStyleInformationProvider.cs
  test/TestAssets/dotnet-format/for_code_formatter/suppressor_project/.editorconfig
  test/TestAssets/dotnet-format/for_code_formatter/suppressor_project/Program.cs
  test/TestAssets/dotnet-format/for_code_formatter/suppressor_project/suppressor_project.csproj
  test/dotnet-format.UnitTests/CodeFormatterTests.cs
Labels: untriaged, Area-Format

#50443 Update the minimum msbuild version for .NET 10 (#49531)
  eng/Versions.props
  src/Layout/redist/minimumMSBuildVersion
  src/Resolvers/Microsoft.DotNet.MSBuildSdkResolver/Microsoft.DotNet.MSBuildSdkResolver.csproj
  src/StaticWebAssetsSdk/Tasks/Microsoft.NET.Sdk.StaticWebAssets.Tasks.csproj
  test/Microsoft.NET.TestFramework/ToolsetInfo.cs
  test/TestAssets/TestProjects/TestProjectSolutionWithCodeCoverage/TestProject/TestProject.csproj
  test/UnitTests.proj
Labels: breaking-change, needs-breaking-change-doc-created
