Repository dotnet/sdk, changes with the owners that CODEOWNERS names for each.
All owners: @vijayrkn, @dotnet/aspnet-blazor-eng, @lewing, @radical, @pavelsavara, @maraf, @sharwell, @arkalyanms, @dotnet/nuget-team, @dotnet/fsharp, @dotnet/dotnet-test-templates-admin, @dotnet/templating-engine-maintainers, clrappmodel@microsoft.com, @dotnet/illink-contrib, @AntonLapounov, @dotnet/dotnet-cli, @sujitnayak, @tmat, @dotnet/roslyn-ide, @ericstj, @dotnet/area-infrastructure-libraries, @joperezr, @andriipatsula, @dotnet/sdk-container-builds-maintainers

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @dotnet/dotnet-cli  will be requested for
# review when someone opens a pull request.
# Issue/PR labels to use are listed before each section

# Area-WebSDK
/src/WebSdk/ @vijayrkn
/src/Tests/Microsoft.NET.Sdk.Publish.Tasks.Tests/ @vijayrkn

# Area-AspNetCore
/src/BlazorWasmSdk/ @dotnet/aspnet-blazor-eng
/src/Tests/Microsoft.NET.Sdk.BlazorWebAssembly.Tests/ @dotnet/aspnet-blazor-eng
/src/Assets/TestProjects/BlazorHosted/ @dotnet/aspnet-blazor-eng
/src/Assets/TestProjects/BlazorHostedRID/ @dotnet/aspnet-blazor-eng
/src/Assets/TestProjects/BlazorWasmMinimal/ @dotnet/aspnet-blazor-eng
/src/Assets/TestProjects/BlazorWasmWithLibrary/ @dotnet/aspnet-blazor-eng
/src/RazorSdk/ @dotnet/aspnet-blazor-eng
/src/Tests/Microsoft.NET.Sdk.BlazorWebAssembly.AoT.Tests/ @dotnet/aspnet-blazor-eng
/src/Tests/Microsoft.NET.Sdk.Razor.Tests/ @dotnet/aspnet-blazor-eng
/src/Tests/Microsoft.NET.Sdk.Razor.Tool.Tests/ @dotnet/aspnet-blazor-eng
/src/Assets/TestPackages/PackageLibraryDirectDependency/ @dotnet/aspnet-blazor-eng
/src/Assets/TestPackages/PackageLibraryTransitiveDependency/ @dotnet/aspnet-blazor-eng
/src/src/Assets/TestProjects/Razor*/ @dotnet/aspnet-blazor-eng

# Area-Wasm
/src/WasmSdk @lewing @radical @pavelsavara @maraf

# Area-Format
/src/Cli/dotnet/commands/dotnet-format @sharwell @arkalyanms
/src/Tests/dotnet-format.Tests @sharwell @arkalyanms

# Area-NuGet
/src/Cli/dotnet/commands/dotnet-add/dotnet-add-package @dotnet/nuget-team
/src/Tests/dotnet-add-package.Tests @dotnet/nuget-team
/src/Cli/dotnet/commands/dotnet-nuget @dotnet/nuget-team
/src/Tests/dotnet-nuget.UnitTests @dotnet/nuget-team

# Area-FSharp
/src/Cli/dotnet/commands/dotnet-fsi @dotnet/fsharp
/src/Tests/dotnet-fsi.Tests @dotnet/fsharp

# Area-DotNet Test
/src/Cli/dotnet/commands/dotnet-test @dotnet/dotnet-test-templates-admin
/src/Cli/dotnet/commands/dotnet-vstest @dotnet/dotnet-test-templates-admin
/src/Tests/dotnet-test.Tests @dotnet/dotnet-test-templates-admin
/src/Tests/dotnet-vstest.Tests @dotnet/dotnet-test-templates-admin

# Area-Templates
/src/Cli/dotnet/commands/dotnet-new @dotnet/templating-engine-maintainers 
/src/Cli/dotnet-new3 @dotnet/templating-engine-maintainers 
/src/Cli/Microsoft.TemplateEngine.Cli @dotnet/templating-engine-maintainers 
/src/Tests/dotnet-new.Tests @dotnet/templating-engine-maintainers
/src/Tests/Microsoft.TemplateEngine.* @dotnet/templating-engine-maintainers 
/template_feed @dotnet/templating-engine-maintainers 

# ILLink and ReadyToRun targets and tasks owned by runtime team
# Area-ILLink Area-ReadyToRun
/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.ILLink.targets clrappmodel@microsoft.com @dotnet/illink-contrib
/src/Tasks/Microsoft.NET.Build.Tasks/PrepareForReadyToRunCompilation.cs @AntonLapounov
/src/Tasks/Microsoft.NET.Build.Tasks/RunReadyToRunCompiler.cs @AntonLapounov
/src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToRunILLink.cs clrappmodel@microsoft.com @dotnet/illink-contrib
/src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToPublishReadyToRun.cs @AntonLapounov
# Publish.targets related to ILLink and ReadyToRun is own by both runtime and SDK team
/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Publish.targets clrappmodel@microsoft.com @dotnet/illink-contrib @AntonLapounov @dotnet/dotnet-cli
/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.ClickOnce.targets @sujitnayak

# Area-Watch
/src/Assets/TestProjects/Watch*/     @tmat @arkalyanms @dotnet/roslyn-ide
/src/Tests/dotnet-watch.Tests/       @tmat @arkalyanms @dotnet/roslyn-ide
/src/Tests/Microsoft.AspNetCore.Watch.BrowserRefresh.Tests/       @dotnet/aspnet-blazor-eng
/src/BuiltInTools/*   @tmat @arkalyanms @dotnet/roslyn-ide
/src/BuiltInTools/BrowserRefresh   @dotnet/aspnet-blazor-eng

# ApiCompat tools owned by runtime team
# Area-ApiCompat
/src/ApiCompat/ @ericstj @dotnet/area-infrastructure-libraries @joperezr 
/src/Tests/Microsoft.DotNet.ApiCompatibility*/ @ericstj @dotnet/area-infrastructure-libraries @joperezr 
/src/Tests/Microsoft.DotNet.ApiCompat*/ @ericstj @dotnet/area-infrastructure-libraries @joperezr 
/src/Tests/Microsoft.DotNet.PackageValidation*/ @ericstj @dotnet/area-infrastructure-libraries @joperezr 

# Area-GenAPI
/src/GenAPI/ @andriipatsula @dotnet/area-infrastructure-libraries
/src/Tests/Microsoft.DotNet.GenAPI/ @andriipatsula @dotnet/area-infrastructure-libraries
/src/Microsoft.DotNet.ApiSymbolExtensions/ @andriipatsula @dotnet/area-infrastructure-libraries

# Area: dotnet containers
/src/Cli/Containers @dotnet/sdk-container-builds-maintainers
/src/Tests/containerize.UnitTests @dotnet/sdk-container-builds-maintainers
/src/Tests/Microsoft.NET.Build.Containers.IntegrationTests @dotnet/sdk-container-builds-maintainers
/src/Tests/Microsoft.NET.Build.Containers.UnitTests @dotnet/sdk-container-builds-maintainers

Add link to NETSDK1195 docs
  src/Tasks/Common/Resources/Strings.resx
  src/Tasks/Common/Resources/xlf/Strings.cs.xlf
  src/Tasks/Common/Resources/xlf/Strings.de.xlf
  src/Tasks/Common/Resources/xlf/Strings.es.xlf
  src/Tasks/Common/Resources/xlf/Strings.fr.xlf
  src/Tasks/Common/Resources/xlf/Strings.it.xlf
  src/Tasks/Common/Resources/xlf/Strings.ja.xlf
  src/Tasks/Common/Resources/xlf/Strings.ko.xlf
  src/Tasks/Common/Resources/xlf/Strings.pl.xlf
  src/Tasks/Common/Resources/xlf/Strings.pt-BR.xlf
  src/Tasks/Common/Resources/xlf/Strings.ru.xlf
  src/Tasks/Common/Resources/xlf/Strings.tr.xlf
  src/Tasks/Common/Resources/xlf/Strings.zh-Hans.xlf
  src/Tasks/Common/Resources/xlf/Strings.zh-Hant.xlf
Owners: none

Load workspace solution before starting to watch for changes.
  src/Assets/TestProjects/WatchAppWithProjectDeps/AppWithDeps/AppWithDeps.csproj
  src/Assets/TestProjects/WatchAppWithProjectDeps/AppWithDeps/Program.cs
  src/Assets/TestProjects/WatchAppWithProjectDeps/Dependency/Foo.cs
  src/Assets/TestProjects/WatchAppWithProjectDeps/FSharp/Lib.fs
  src/Assets/TestProjects/WatchAppWithProjectDeps/FSharp/Lib.fsproj
  src/BuiltInTools/dotnet-watch/HotReload/CompilationHandler.cs
  src/BuiltInTools/dotnet-watch/HotReload/CompilationWorkspaceProvider.cs
  src/BuiltInTools/dotnet-watch/HotReload/HotReload.cs
  src/BuiltInTools/dotnet-watch/HotReloadDotNetWatcher.cs
  src/BuiltInTools/dotnet-watch/Properties/launchSettings.json
  src/Tests/dotnet-watch.Tests/Watch/AppWithDepsTests.cs
  src/Tests/dotnet-watch.Tests/Watch/Utilities/WatchableApp.cs
Owners: @tmat, @arkalyanms, @dotnet/roslyn-ide

Added some tests
  src/Cli/Microsoft.TemplateEngine.Cli/Commands/NewCommand.cs
  src/Cli/Microsoft.TemplateEngine.Cli/Commands/details/DetailsCommand.cs
  src/Cli/Microsoft.TemplateEngine.Cli/TemplatePackageCoordinator.cs
  src/Tests/Microsoft.TemplateEngine.Cli.UnitTests/ParserTests/Approvals/TabCompletionTests.RootCommand_GetAllSuggestions.verified.txt
  src/Tests/Microsoft.TemplateEngine.Cli.UnitTests/ParserTests/TabCompletionTests.Approval.cs
  src/Tests/Microsoft.TemplateEngine.Cli.UnitTests/TemplatePackageCoordinatorTests.cs
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewCompleteTests.CanDoTabCompletion.Windows.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewHelpTests.CanShowHelp_common.verified.txt
  src/Tests/dotnet-new.Tests/DotnetNewDetailsTest.cs
Owners: @dotnet/templating-engine-maintainers

Moved messages to localizable strings
  src/Cli/Microsoft.TemplateEngine.Cli/Commands/SymbolStrings.Designer.cs
  src/Cli/Microsoft.TemplateEngine.Cli/Commands/SymbolStrings.resx
  src/Cli/Microsoft.TemplateEngine.Cli/Commands/details/DetailsCommand.cs
  src/Cli/Microsoft.TemplateEngine.Cli/Commands/xlf/SymbolStrings.cs.xlf
  src/Cli/Microsoft.TemplateEngine.Cli/Commands/xlf/SymbolStrings.de.xlf
  src/Cli/Microsoft.TemplateEngine.Cli/Commands/xlf/SymbolStrings.es.xlf
  src/Cli/Microsoft.TemplateEngine.Cli/Commands/xlf/SymbolStrings.fr.xlf
  src/Cli/Microsoft.TemplateEngine.Cli/Commands/xlf/SymbolStrings.it.xlf
  src/Cli/Microsoft.TemplateEngine.Cli/Commands/xlf/SymbolStrings.ja.xlf
  src/Cli/Microsoft.TemplateEngine.Cli/Commands/xlf/SymbolStrings.ko.xlf
  src/Cli/Microsoft.TemplateEngine.Cli/Commands/xlf/SymbolStrings.pl.xlf
  src/Cli/Microsoft.TemplateEngine.Cli/Commands/xlf/SymbolStrings.pt-BR.xlf
  src/Cli/Microsoft.TemplateEngine.Cli/Commands/xlf/SymbolStrings.ru.xlf
  src/Cli/Microsoft.TemplateEngine.Cli/Commands/xlf/SymbolStrings.tr.xlf
  src/Cli/Microsoft.TemplateEngine.Cli/Commands/xlf/SymbolStrings.zh-Hans.xlf
  src/Cli/Microsoft.TemplateEngine.Cli/Commands/xlf/SymbolStrings.zh-Hant.xlf
  src/Cli/Microsoft.TemplateEngine.Cli/LocalizableStrings.Designer.cs
  src/Cli/Microsoft.TemplateEngine.Cli/LocalizableStrings.resx
  src/Cli/Microsoft.TemplateEngine.Cli/TemplatePackageCoordinator.cs
  src/Cli/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.cs.xlf
  src/Cli/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.de.xlf
  src/Cli/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.es.xlf
  src/Cli/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.fr.xlf
  src/Cli/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.it.xlf
  src/Cli/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.ja.xlf
  src/Cli/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.ko.xlf
  src/Cli/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.pl.xlf
  src/Cli/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.pt-BR.xlf
  src/Cli/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.ru.xlf
  src/Cli/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.tr.xlf
  src/Cli/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.zh-Hans.xlf
  src/Cli/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.zh-Hant.xlf
Owners: @dotnet/templating-engine-maintainers

Adapt to the change to MockPostAction
  src/Tests/Microsoft.TemplateEngine.Cli.UnitTests/PostActionDispatcherTests.cs
  src/Tests/Microsoft.TemplateEngine.Cli.UnitTests/PostActionTests/AddJsonPropertyPostActionTests.cs
  src/Tests/dotnet.Tests/dotnet-new/DotnetAddPostActionTests.cs
  src/Tests/dotnet.Tests/dotnet-new/DotnetRestorePostActionTests.cs
  src/Tests/dotnet.Tests/dotnet-new/DotnetSlnPostActionTests.cs
Owners: @dotnet/templating-engine-maintainers

A few fixes and an out-of for the TPM
  src/ApiCompat/Microsoft.DotNet.ApiCompat.Task/ValidatePackageTask.cs
  src/ApiCompat/Microsoft.DotNet.ApiCompat.Tool/Program.cs
  src/ApiCompat/Microsoft.DotNet.PackageValidation/ApiCompatRunnerExtensions.cs
  src/ApiCompat/Microsoft.DotNet.PackageValidation/PackageAssemblyReferenceCollection.cs
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.ApiCompat.ValidatePackage.targets
Owners: @ericstj, @dotnet/area-infrastructure-libraries, @joperezr

Remove unnecessary using
  src/ApiCompat/Microsoft.DotNet.ApiCompat.Task/ValidatePackageTask.cs
Owners: @ericstj, @dotnet/area-infrastructure-libraries, @joperezr

More fixes and feedback
  src/ApiCompat/Microsoft.DotNet.ApiCompat.Shared/ValidatePackage.cs
  src/ApiCompat/Microsoft.DotNet.ApiCompat.Task/ValidatePackageTask.cs
  src/ApiCompat/Microsoft.DotNet.ApiCompat.Tool/Program.cs
  src/ApiCompat/Microsoft.DotNet.PackageValidation/ApiCompatRunnerExtensions.cs
  src/ApiCompat/Microsoft.DotNet.PackageValidation/Package.cs
  src/ApiCompat/Microsoft.DotNet.PackageValidation/PackageAssemblyReferenceCollection.cs
  src/Tests/Microsoft.DotNet.ApiCompat.IntegrationTests/Task/ValidatePackageTargetIntegrationTests.cs
Owners: @ericstj, @dotnet/area-infrastructure-libraries, @joperezr

Duplicate TFM fix
  src/ApiCompat/Microsoft.DotNet.ApiCompat.Task/ValidatePackageTask.cs
  src/ApiCompat/Microsoft.DotNet.ApiCompat.Tool/Program.cs
Owners: @ericstj, @dotnet/area-infrastructure-libraries, @joperezr

Cover the specific case for 'onlyIf' statement with the suggested workaround for "http://localhost:" (dotnet/templating#6680) + docs
  documentation/TemplateEngine/Conditional-processing-and-comment-syntax.md
  test/TemplateEngine/Microsoft.TemplateEngine.IDE.IntegrationTests/Approvals/TemplateWithOnlyIfStatementTestForLocalhostTest.Basic.verified/TestAssets.TemplateWithOnlyIfForLocalhost/test.json
  test/TemplateEngine/Microsoft.TemplateEngine.IDE.IntegrationTests/SnapshotTests.cs
  test/TemplateEngine/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithOnlyIfForLocalhost/.template.config/template.json
  test/TemplateEngine/Microsoft.TemplateEngine.TestTemplates/test_templates/TemplateWithOnlyIfForLocalhost/test.json
Owners: none

a bunch of logging and madness
  src/Containers/Microsoft.NET.Build.Containers/Registry.cs
Owners: none

refactor chunk processing and read written ranges from responses
  src/Containers/Microsoft.NET.Build.Containers/Registry.cs
Owners: none

chunk min size of 5MB for AWS
  src/Containers/Microsoft.NET.Build.Containers/Registry.cs
Owners: none

restructure for clarity
  src/Containers/Microsoft.NET.Build.Containers/Registry.cs
Owners: none

ensure ranges are >= 0
  src/Containers/Microsoft.NET.Build.Containers/Registry.cs
Owners: none

Lots of docs
  src/Containers/Microsoft.NET.Build.Containers/Registry.cs
Owners: none

Use logMessages instead of raw strings
  src/Containers/Microsoft.NET.Build.Containers/ContainerBuilder.cs
  src/Containers/Microsoft.NET.Build.Containers/LocalDaemons/LocalDocker.cs
  src/Containers/Microsoft.NET.Build.Containers/PublicAPI/net7.0/PublicAPI.Unshipped.txt
  src/Containers/Microsoft.NET.Build.Containers/Registry.cs
  src/Containers/Microsoft.NET.Build.Containers/Tasks/CreateNewImage.cs
  src/Tests/Microsoft.NET.Build.Containers.IntegrationTests/DockerRegistryManager.cs
  src/Tests/Microsoft.NET.Build.Containers.IntegrationTests/EndToEndTests.cs
  src/Tests/Microsoft.NET.Build.Containers.UnitTests/DockerDaemonAvailableUtils.cs
  src/Tests/Microsoft.NET.Build.Containers.UnitTests/DockerDaemonTests.cs
Owners: @dotnet/sdk-container-builds-maintainers

remove chunked upload env var because we intelligently detect this now
  src/Containers/Microsoft.NET.Build.Containers/Registry.cs
Owners: none

first end-to-end-test after refactoring httpclient away from direct use
  src/Containers/Microsoft.NET.Build.Containers/Globals.cs
  src/Containers/Microsoft.NET.Build.Containers/Layer.cs
  src/Containers/Microsoft.NET.Build.Containers/Registry.cs
  src/Tests/Microsoft.NET.Build.Containers.UnitTests/Microsoft.NET.Build.Containers.UnitTests.csproj
  src/Tests/Microsoft.NET.Build.Containers.UnitTests/RegistryTests.cs
Owners: @dotnet/sdk-container-builds-maintainers

factor out direct HttpClient usage into a Facade that we can test against
  src/Containers/Microsoft.NET.Build.Containers/Registry.cs
Owners: none

test fixes:
  src/Cli/Microsoft.TemplateEngine.Cli/Commands/Example.cs
  src/Cli/Microsoft.TemplateEngine.Cli/Commands/create/InstantiateCommand.cs
  src/Cli/dotnet/Parser.cs
  src/Cli/dotnet/Program.cs
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewHelpTests.CanShowAllowScriptsOption.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewHelpTests.CanShowHelpForTemplateWhenRequiredParamIsMissed.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewHelpTests.CanShowHelpForTemplateWhenRequiredParamIsMissedAndConditionIntroduced.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewHelpTests.CanShowHelpForTemplate_ConditionalParams.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewHelpTests.CanShowHelpForTemplate_MatchOnChoice.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewHelpTests.CanShowHelpForTemplate_MatchOnLanguage.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewHelpTests.CanShowHelpForTemplate_MatchOnNonChoiceParam.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewHelpTests.CanShowHelpForTemplate_MultipleValueChoice.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewHelpTests.CanShowHelpForTemplate_RequiredParams.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewHelpTests.CanShowHelpForTemplate_classlib.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewHelpTests.CanShowHelpForTemplate_console.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewHelpTests.CanShowHelpForTemplate_globaljson.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewHelpTests.CanShowHelp_Create_common.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewHelpTests.CanShowHelp_Install_common.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewHelpTests.CanShowHelp_List_common.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/DotnetNewHelpTests.CanShowHelp_common.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/WebProjectsTests.CanShowHelp_Mvc.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/WebProjectsTests.CanShowHelp_WebAPI.verified.txt
  src/Tests/dotnet-new.Tests/Approvals/WebProjectsTests.CanShowHelp_Webapp_common.verified.txt
Owners: @dotnet/templating-engine-maintainers

logging implementation
  src/Containers/Microsoft.NET.Build.Containers/Constants.cs
  src/Containers/Microsoft.NET.Build.Containers/ContainerBuilder.cs
  src/Containers/Microsoft.NET.Build.Containers/ImageReference.cs
  src/Containers/Microsoft.NET.Build.Containers/LocalDaemons/LocalDocker.cs
  src/Containers/Microsoft.NET.Build.Containers/Logging/MSBuildLogger.cs
  src/Containers/Microsoft.NET.Build.Containers/Logging/MSBuildLoggerProvider .cs
  src/Containers/Microsoft.NET.Build.Containers/Microsoft.NET.Build.Containers.csproj
  src/Containers/Microsoft.NET.Build.Containers/PublicAPI/net7.0/PublicAPI.Unshipped.txt
  src/Containers/Microsoft.NET.Build.Containers/Registry/DefaultBlobOperations.cs
  src/Containers/Microsoft.NET.Build.Containers/Registry/DefaultBlobUploadOperations.cs
  src/Containers/Microsoft.NET.Build.Containers/Registry/DefaultManifestOperations.cs
  src/Containers/Microsoft.NET.Build.Containers/Registry/DefaultRegistryAPI.cs
  src/Containers/Microsoft.NET.Build.Containers/Registry/FinalizeUploadInformation.cs
  src/Containers/Microsoft.NET.Build.Containers/Registry/HttpExtensions.cs
  src/Containers/Microsoft.NET.Build.Containers/Registry/IBlobOperations.cs
  src/Containers/Microsoft.NET.Build.Containers/Registry/IBlobUploadOperations.cs
  src/Containers/Microsoft.NET.Build.Containers/Registry/IManifestOperations.cs
  src/Containers/Microsoft.NET.Build.Containers/Registry/IRegistryAPI.cs
  src/Containers/Microsoft.NET.Build.Containers/Registry/RegistryManager.cs
  src/Containers/Microsoft.NET.Build.Containers/Registry/SchemaTypes.cs
  src/Containers/Microsoft.NET.Build.Containers/Registry/StartUploadInformation.cs
  src/Containers/Microsoft.NET.Build.Containers/Tasks/CreateNewImage.cs
  src/Containers/containerize/ContainerizeCommand.cs
  src/Containers/containerize/containerize.csproj
  src/Containers/packaging/package.csproj
  src/Tests/Microsoft.NET.Build.Containers.IntegrationTests/DockerRegistryManager.cs
  src/Tests/Microsoft.NET.Build.Containers.IntegrationTests/EndToEndTests.cs
  src/Tests/Microsoft.NET.Build.Containers.IntegrationTests/PackageTests.cs
  src/Tests/Microsoft.NET.Build.Containers.IntegrationTests/RegistryTests.cs
  src/Tests/Microsoft.NET.Build.Containers.UnitTests/DockerDaemonAvailableUtils.cs
  src/Tests/Microsoft.NET.Build.Containers.UnitTests/DockerDaemonTests.cs
  src/Tests/Microsoft.NET.Build.Containers.UnitTests/RegistryTests.cs
  src/Tests/Microsoft.NET.TestFramework/Microsoft.NET.TestFramework.csproj
  src/Tests/Microsoft.NET.TestFramework/TestLoggerFactory.cs
  src/Tests/Microsoft.NET.TestFramework/XunitLoggerProvider.cs
Owners: @dotnet/sdk-container-builds-maintainers

updated Microsoft.Extensions.Logging version
  eng/Versions.props
  src/Containers/Microsoft.NET.Build.Containers/Logging/MSBuildLogger.cs
  src/Containers/Microsoft.NET.Build.Containers/Microsoft.NET.Build.Containers.csproj
  src/Containers/containerize/containerize.csproj
  src/Tests/Microsoft.NET.TestFramework/Microsoft.NET.TestFramework.csproj
  src/Tests/Microsoft.NET.TestFramework/XunitLoggerProvider.cs
Owners: none

fixed couple of issues in logging in tests
  src/Tests/Microsoft.NET.Build.Containers.IntegrationTests/EndToEndTests.cs
  src/Tests/Microsoft.NET.Build.Containers.UnitTests/DockerDaemonTests.cs
Owners: @dotnet/sdk-container-builds-maintainers

fixed logging conflict in templating tests
  src/Tests/dotnet-new.Tests/CommonTemplatesTests.cs
  src/Tests/dotnet-new.Tests/DotnetClassTemplateTests.cs
Owners: @dotnet/templating-engine-maintainers

Add a test for fallback of atomic upload
  src/Containers/Microsoft.NET.Build.Containers/Logging/MSBuildLogger.cs
  src/Tests/Microsoft.NET.Build.Containers.UnitTests/RegistryTests.cs
  src/Tests/Microsoft.NET.TestFramework/XunitLoggerProvider.cs
Owners: @dotnet/sdk-container-builds-maintainers

add another test
  src/Tests/Microsoft.NET.Build.Containers.UnitTests/RegistryTests.cs
Owners: @dotnet/sdk-container-builds-maintainers

use some environment variables
  src/Cli/dotnet/CommandFactory/CommandResolution/WindowsExePreferredCommandSpecFactory.cs
  src/Cli/dotnet/Telemetry/MacAddressGetter.cs
  src/Cli/dotnet/commands/dotnet-help/HelpCommand.cs
Owners: none

Fix the BaseAddresses for API calls
  src/Containers/Microsoft.NET.Build.Containers/Registry/DefaultBlobOperations.cs
  src/Containers/Microsoft.NET.Build.Containers/Registry/DefaultBlobUploadOperations.cs
  src/Containers/Microsoft.NET.Build.Containers/Registry/DefaultManifestOperations.cs
Owners: none

pin Moq version and fix scope nullability via explicit interface implementation
  eng/Versions.props
  src/Containers/Microsoft.NET.Build.Containers/Logging/MSBuildLogger.cs
  src/Tests/Microsoft.NET.Build.Containers.UnitTests/Microsoft.NET.Build.Containers.UnitTests.csproj
  src/Tests/Microsoft.NET.TestFramework/XunitLoggerProvider.cs
Owners: @dotnet/sdk-container-builds-maintainers

Update branding to 7.0.207
  eng/Versions.props
Owners: none

Adding interactive auth option
  src/Cli/Microsoft.TemplateEngine.Cli/Commands/details/DetailsCommand.cs
  src/Cli/Microsoft.TemplateEngine.Cli/Commands/details/DetailsCommandArgs.cs
  src/Cli/Microsoft.TemplateEngine.Cli/TemplatePackageCoordinator.cs
Owners: @dotnet/templating-engine-maintainers

fix negated condition for the mount check
  src/Containers/Microsoft.NET.Build.Containers/Registry/RegistryManager.cs
Owners: none

remove category header from msbuild logging so that display isn't cluttered
  src/Containers/Microsoft.NET.Build.Containers/Logging/MSBuildLogger.cs
Owners: none

Process KnownRuntimePack/KnownFrameworkReference to determine KnownRuntimeIdentifierPlatforms for current target framework
  src/redist/targets/GenerateBundledVersions.targets
Owners: none

ProcessFrameworkReferences if tool packs are required
  src/Tasks/Microsoft.NET.Build.Tasks/ProcessFrameworkReferences.cs
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.FrameworkReferenceResolution.targets
  src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToRunILLink.cs
Owners: clrappmodel@microsoft.com, @dotnet/illink-contrib

Revert "Add link to NETSDK1195 docs"
  src/Tasks/Common/Resources/Strings.resx
  src/Tasks/Common/Resources/xlf/Strings.cs.xlf
  src/Tasks/Common/Resources/xlf/Strings.de.xlf
  src/Tasks/Common/Resources/xlf/Strings.es.xlf
  src/Tasks/Common/Resources/xlf/Strings.fr.xlf
  src/Tasks/Common/Resources/xlf/Strings.it.xlf
  src/Tasks/Common/Resources/xlf/Strings.ja.xlf
  src/Tasks/Common/Resources/xlf/Strings.ko.xlf
  src/Tasks/Common/Resources/xlf/Strings.pl.xlf
  src/Tasks/Common/Resources/xlf/Strings.pt-BR.xlf
  src/Tasks/Common/Resources/xlf/Strings.ru.xlf
  src/Tasks/Common/Resources/xlf/Strings.tr.xlf
  src/Tasks/Common/Resources/xlf/Strings.zh-Hans.xlf
  src/Tasks/Common/Resources/xlf/Strings.zh-Hant.xlf
Owners: none

Fix issue link
  src/Tasks/Common/Resources/Strings.resx
  src/Tasks/Common/Resources/xlf/Strings.cs.xlf
  src/Tasks/Common/Resources/xlf/Strings.de.xlf
  src/Tasks/Common/Resources/xlf/Strings.es.xlf
  src/Tasks/Common/Resources/xlf/Strings.fr.xlf
  src/Tasks/Common/Resources/xlf/Strings.it.xlf
  src/Tasks/Common/Resources/xlf/Strings.ja.xlf
  src/Tasks/Common/Resources/xlf/Strings.ko.xlf
  src/Tasks/Common/Resources/xlf/Strings.pl.xlf
  src/Tasks/Common/Resources/xlf/Strings.pt-BR.xlf
  src/Tasks/Common/Resources/xlf/Strings.ru.xlf
  src/Tasks/Common/Resources/xlf/Strings.tr.xlf
  src/Tasks/Common/Resources/xlf/Strings.zh-Hans.xlf
  src/Tasks/Common/Resources/xlf/Strings.zh-Hant.xlf
Owners: none

Update the ubuntu build image
  .vsts-ci.yml
Owners: none

Update the build image
  .vsts-ci.yml
Owners: none
