Repository dotnet/sdk, changes with the owners that CODEOWNERS names for each.
All owners: @vijayrkn, @captainsafia, @mkArtakMSFT, @TanayParikh, @javiercn, @jmarolf, @JoeRobich, @dotnet/nuget-team, @dotnet/fsharp, @dotnet/dotnet-test-templates-admin, @DonJoseLuis, clrappmodel@microsoft.com, @AntonLapounov, @dotnet/dotnet-cli, @sujitnayak, @ericstj, @dotnet/area-infrastructure-libraries, @joperezr

Add some tests of sadness
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.NetCore.Analyzers/InteropServices/DisableRuntimeMarshalling.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Microsoft.CodeAnalysis.NetAnalyzers.UnitTests/Microsoft.NetCore.Analyzers/InteropServices/DisableRuntimeMarshallingTests.cs
Owners: none

Fix test failures
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.CSharp.NetAnalyzers/Microsoft.NetCore.Analyzers/InteropServices/CSharpDisableRuntimeMarshalling.FixAllProvider.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Microsoft.CodeAnalysis.NetAnalyzers.UnitTests/Microsoft.NetCore.Analyzers/InteropServices/DisableRuntimeMarshallingTests.cs
Owners: none

Merged PR 21865: [internal/release/5.0.4xx] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: none

Merged PR 21557: [internal/release/5.0.4xx] Update dependencies from dnceng/internal/dotnet-aspnetcore
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: none

Merged PR 21880: [internal/release/5.0.2xx] Update dependencies from dnceng/internal/dotnet-aspnetcore
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: none

Update test with expected warning
  src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToRunILLink.cs
Owners: clrappmodel@microsoft.com

Add .tye folder back in
  template_feed/Microsoft.DotNet.Common.ItemTemplates/content/Gitignore/.gitignore
Owners: none

Add SDL checks
  src/finalizer/CMakeLists.txt
Owners: none

Merged PR 21560: [internal/release/6.0.1xx] Update dependencies from dnceng/internal/dotnet-sdk
  src/SourceBuild/tarball/patches/runtime/0001-Define-SystemReflectionMetadataLoadContextVersion-pr.patch
  src/redist/targets/GenerateLayout.targets
Owners: none

Merged PR 21732: [internal/release/6.0.2xx] Update dependencies from dnceng/internal/dotnet-sdk
  src/SourceBuild/tarball/patches/runtime/0001-Define-SystemReflectionMetadataLoadContextVersion-pr.patch
  src/redist/targets/GenerateLayout.targets
Owners: none

Refactor build.sh to optimize PackageVersions.props retrieval (#13443)
  src/SourceBuild/tarball/content/build.sh
Owners: none

Merged PR 21901: Use 1es pool for publish-build-assets for 5.0.4xx
  .vsts-ci.yml
Owners: none

Merged PR 21915: [internal/release/5.0.4xx] Update dependencies from dnceng/internal/dotnet-windowsdesktop
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: none

Merged PR 21914: [internal/release/5.0.2xx] Update dependencies from dnceng/internal/dotnet-windowsdesktop
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: none

Merged PR 21916: Use 1es pool for publish-build-assets for 5.0.2xx
  .vsts-ci.yml
Owners: none

SDK support for NativeAot publish
  src/Tasks/Microsoft.NET.Build.Tasks/targets/CoreRTNatVis.natvis
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.DotNet.ILCompiler.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NETCore.Native.Publish.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NETCore.Native.Unix.props
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NETCore.Native.Windows.props
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NETCore.Native.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/WindowsAPIs.txt
  src/Tasks/Microsoft.NET.Build.Tasks/targets/findvcvarsall.bat
  src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToRunAnAotApp.cs
Owners: none

Make enabling C++/CLI activation feature also enable native hosting
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.ILLink.targets
Owners: clrappmodel@microsoft.com

Update NuGet path issue in Run Tests CI step (#13453)
  src/SourceBuild/Arcade/eng/common/templates/steps/source-build-build-tarball.yml
Owners: none

Refactor SdkContentTests to warn on diffs when run in CI (#13432)
  src/SourceBuild/Arcade/eng/common/templates/steps/source-build-build-tarball.yml
  src/SourceBuild/tarball/content/build.proj
  src/SourceBuild/tarball/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/BaselineHelper.cs
  src/SourceBuild/tarball/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/Config.cs
  src/SourceBuild/tarball/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/SdkContentTests.cs
Owners: none

Check arm64 folder for hostfxr.dll
  src/Resolvers/Microsoft.DotNet.NativeWrapper/Interop.cs
Owners: none

Update param in CoreGenerateSatelliteAssemblies
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.targets
Owners: none

Don't specifically condition on hostfxr
  src/Resolvers/Microsoft.DotNet.NativeWrapper/Interop.cs
Owners: none

changes after review
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/Commands/SymbolStrings.Designer.cs
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/Commands/SymbolStrings.resx
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/Commands/xlf/SymbolStrings.cs.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/Commands/xlf/SymbolStrings.de.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/Commands/xlf/SymbolStrings.es.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/Commands/xlf/SymbolStrings.fr.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/Commands/xlf/SymbolStrings.it.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/Commands/xlf/SymbolStrings.ja.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/Commands/xlf/SymbolStrings.ko.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/Commands/xlf/SymbolStrings.pl.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/Commands/xlf/SymbolStrings.pt-BR.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/Commands/xlf/SymbolStrings.ru.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/Commands/xlf/SymbolStrings.tr.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/Commands/xlf/SymbolStrings.zh-Hans.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/Commands/xlf/SymbolStrings.zh-Hant.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/LocalizableStrings.Designer.cs
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/LocalizableStrings.resx
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/TemplatePackageCoordinator.cs
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.cs.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.de.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.es.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.fr.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.it.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.ja.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.ko.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.pl.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.pt-BR.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.ru.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.tr.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.zh-Hans.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.zh-Hant.xlf
  src/TemplateEngine/dotnet-new3/defaultinstall.template.list.debug
  src/TemplateEngine/dotnet-new3/defaultinstall.template.list.release
  test/TemplateEngine/Microsoft.TemplateEngine.Cli.UnitTests/ParserTests/Approvals/TabCompletionTests.Install_GetAllSuggestions.verified.txt
  test/TemplateEngine/dotnet-new3.UnitTests/Approvals/DotnetNewHelp.CanShowHelp_Install_common.verified.txt
  test/TemplateEngine/dotnet-new3.UnitTests/Approvals/DotnetNewInstallTests.CanInstallPackageAvailableFromBuiltInsWithForce.verified.txt
  test/TemplateEngine/dotnet-new3.UnitTests/Approvals/DotnetNewInstallTests.CannotInstallMultiplePackageAvailableFromBuiltIns.verified.txt
  test/TemplateEngine/dotnet-new3.UnitTests/Approvals/DotnetNewInstallTests.CannotInstallPackageAvailableFromBuiltIns.verified.txt
Owners: none

Remove 'reflecting any global.json' from info label
  src/Cli/Microsoft.DotNet.Cli.Utils/LocalizableStrings.resx
  src/Cli/Microsoft.DotNet.Cli.Utils/xlf/LocalizableStrings.cs.xlf
  src/Cli/Microsoft.DotNet.Cli.Utils/xlf/LocalizableStrings.de.xlf
  src/Cli/Microsoft.DotNet.Cli.Utils/xlf/LocalizableStrings.es.xlf
  src/Cli/Microsoft.DotNet.Cli.Utils/xlf/LocalizableStrings.fr.xlf
  src/Cli/Microsoft.DotNet.Cli.Utils/xlf/LocalizableStrings.it.xlf
  src/Cli/Microsoft.DotNet.Cli.Utils/xlf/LocalizableStrings.ja.xlf
  src/Cli/Microsoft.DotNet.Cli.Utils/xlf/LocalizableStrings.ko.xlf
  src/Cli/Microsoft.DotNet.Cli.Utils/xlf/LocalizableStrings.pl.xlf
  src/Cli/Microsoft.DotNet.Cli.Utils/xlf/LocalizableStrings.pt-BR.xlf
  src/Cli/Microsoft.DotNet.Cli.Utils/xlf/LocalizableStrings.ru.xlf
  src/Cli/Microsoft.DotNet.Cli.Utils/xlf/LocalizableStrings.tr.xlf
  src/Cli/Microsoft.DotNet.Cli.Utils/xlf/LocalizableStrings.zh-Hans.xlf
  src/Cli/Microsoft.DotNet.Cli.Utils/xlf/LocalizableStrings.zh-Hant.xlf
Owners: none

Fix handling of recursive types in DisableRuntimeMarshalling analyzer (#5928)
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.NetCore.Analyzers/InteropServices/DisableRuntimeMarshalling.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Microsoft.CodeAnalysis.NetAnalyzers.UnitTests/Microsoft.NetCore.Analyzers/InteropServices/DisableRuntimeMarshallingTests.cs
Owners: none

Update dependencies from https://github.com/dotnet/templating build 20220324.10
  eng/Version.Details.xml
  eng/Versions.props
Owners: none

SDK integration via BundledNetCoreApp
  src/Layout/toolset-tasks/OverrideAndCreateBundledNETCoreAppPackageVersion.cs
  src/Tasks/Microsoft.NET.Build.Tasks/ProcessFrameworkReferences.cs
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.FrameworkReferenceResolution.targets
  src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToRunAnAotApp.cs
Owners: none

added test on error when templates have same short name
  test/TemplateEngine/Microsoft.TemplateEngine.TestTemplates/test_templates/Invalid/SameShortName/TemplateA/.template.config/template.json
  test/TemplateEngine/Microsoft.TemplateEngine.TestTemplates/test_templates/Invalid/SameShortName/TemplateA/bar.cs
  test/TemplateEngine/Microsoft.TemplateEngine.TestTemplates/test_templates/Invalid/SameShortName/TemplateB/.template.config/template.json
  test/TemplateEngine/Microsoft.TemplateEngine.TestTemplates/test_templates/Invalid/SameShortName/TemplateB/bar.cs
  test/TemplateEngine/dotnet-new3.UnitTests/Approvals/DotnetNewInstantiate.CanShowError_OnTemplatesWithSameShortName.verified.txt
  test/TemplateEngine/dotnet-new3.UnitTests/DotnetNewInstantiate.Approval.cs
Owners: none

Packages update check reporting (dotnet/templating#4502)
  src/TemplateEngine/Microsoft.TemplateEngine.Abstractions/PublicAPI.Unshipped.txt
  src/TemplateEngine/Microsoft.TemplateEngine.Abstractions/TemplatePackage/IManagedTemplatePackage.cs
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/TemplatePackageCoordinator.cs
  src/TemplateEngine/Microsoft.TemplateEngine.Edge/Installers/Folder/FolderManagedTemplatePackage.cs
  src/TemplateEngine/Microsoft.TemplateEngine.Edge/Installers/NuGet/NuGetInstaller.cs
  src/TemplateEngine/Microsoft.TemplateEngine.Edge/Installers/NuGet/NuGetManagedTemplatePackage.cs
  src/TemplateEngine/Microsoft.TemplateEngine.Edge/Installers/NuGet/NugetApiPackageManager.cs
  test/TemplateEngine/Microsoft.TemplateEngine.Cli.TestHelper/Sdk/Assertions/CommandResultAssertions.cs
  test/TemplateEngine/Microsoft.TemplateEngine.Edge.UnitTests/NuGetInstallerTests.cs
  test/TemplateEngine/Microsoft.TemplateEngine.Mocks/MockManagedTemplatePackage.cs
  test/TemplateEngine/Microsoft.TemplateEngine.TestHelper/PackageManager.cs
  test/TemplateEngine/Microsoft.TemplateEngine.TestHelper/TestUtils.cs
  test/TemplateEngine/dotnet-new3.UnitTests/DotnetNewInstantiate.cs
  test/TemplateEngine/dotnet-new3.UnitTests/DotnetNewUpdateCheck.cs
Owners: none

[automated] Merge branch 'release/6.0.2xx' => 'release/6.0.3xx' (#13461)
  src/SourceBuild/Arcade/eng/common/templates/steps/source-build-build-tarball.yml
  src/SourceBuild/Arcade/tools/TextOnlyPackages.csproj
  src/SourceBuild/tarball/content/build.proj
  src/SourceBuild/tarball/content/build.sh
  src/SourceBuild/tarball/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/BaselineHelper.cs
  src/SourceBuild/tarball/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/Config.cs
  src/SourceBuild/tarball/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/DotNetHelper.cs
  src/SourceBuild/tarball/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/DotNetWatchTests.cs
  src/SourceBuild/tarball/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/ExecuteHelper.cs
  src/SourceBuild/tarball/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/SdkContentTests.cs
  src/SourceBuild/tarball/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/assets/baselines/MsftToSbSdk.diff
  src/redist/targets/BundledManifests.targets
  src/redist/targets/BundledTemplates.targets
Owners: none

Fix globalConfig generator tool
  src/Microsoft.CodeAnalysis.NetAnalyzers/tools/GenerateDocumentationAndConfigFiles/Program.cs
Owners: none

Update to the 6.0.3 runtime
  eng/Version.Details.xml
  eng/Versions.props
Owners: none

changed names of dotnet new providers
  src/Cli/dotnet/commands/dotnet-new/BuiltInTemplatePackageProviderFactory.cs
  src/Cli/dotnet/commands/dotnet-new/OptionalWorkloadProviderFactory.cs
Owners: @DonJoseLuis

Fix build break and respond to PR comments
  eng/Versions.props
  src/Cli/dotnet/CommonOptions.cs
Owners: none

no more abstract Options and Arguments
  src/Cli/dotnet/commands/dotnet-format/common/FormatCommandCommon.cs
  src/Cli/dotnet/commands/dotnet-nuget/NuGetCommandParser.cs
Owners: @jmarolf, @JoeRobich, @dotnet/nuget-team

changed names of dotnet new providers
  src/Cli/dotnet/commands/dotnet-new/BuiltInTemplatePackageProviderFactory.cs
  src/Cli/dotnet/commands/dotnet-new/OptionalWorkloadProviderFactory.cs
Owners: @DonJoseLuis

dotnet/templating#4298 add a notice if newer version is available from built-in provider on template instantiation
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/Commands/create/TemplateCommand.cs
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/LocalizableStrings.Designer.cs
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/LocalizableStrings.resx
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/TemplatePackageCoordinator.cs
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.cs.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.de.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.es.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.fr.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.it.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.ja.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.ko.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.pl.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.pt-BR.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.ru.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.tr.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.zh-Hans.xlf
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/xlf/LocalizableStrings.zh-Hant.xlf
  src/TemplateEngine/dotnet-new3/BuiltInTemplatePackagesProvider.cs
  test/TemplateEngine/dotnet-new3.UnitTests/Approvals/DotnetNewInstantiate.CanShowWarningIfPackageIsAvailableFromBuiltInSources.verified.txt
  test/TemplateEngine/dotnet-new3.UnitTests/DotnetNewInstantiate.Approval.cs
Owners: none

Remove NuGet.Client source-build patches that were backported
  src/SourceBuild/tarball/patches/nuget-client/0001-Remove-uneeded-source-build-patches-and-re-patch.patch
  src/SourceBuild/tarball/patches/nuget-client/0010-Re-enable-fullfx-TFM-in-NuGet.patch
Owners: none

[automated] Merge branch 'release/6.0.2xx' => 'release/6.0.3xx' (#13461) (#13469)
  src/SourceBuild/Arcade/eng/common/templates/steps/source-build-build-tarball.yml
  src/SourceBuild/Arcade/tools/TextOnlyPackages.csproj
  src/SourceBuild/tarball/content/build.proj
  src/SourceBuild/tarball/content/build.sh
  src/SourceBuild/tarball/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/BaselineHelper.cs
  src/SourceBuild/tarball/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/Config.cs
  src/SourceBuild/tarball/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/DotNetHelper.cs
  src/SourceBuild/tarball/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/DotNetWatchTests.cs
  src/SourceBuild/tarball/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/ExecuteHelper.cs
  src/SourceBuild/tarball/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/SdkContentTests.cs
  src/SourceBuild/tarball/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/assets/baselines/MsftToSbSdk.diff
  src/redist/targets/BundledTemplates.targets
Owners: none

Remove additional NuGet.Client source-build patch that was backported
  src/SourceBuild/tarball/patches/nuget-client/0011-Update-System.Threading.Tasks.DataFlow-version.patch
Owners: none

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @dotnet/dotnet-cli  will be requested for
# review when someone opens a pull request.
# Issue/PR labels to use are listed before each section

# Area-WebSDK
/src/WebSdk/ @vijayrkn
/src/Tests/Microsoft.NET.Sdk.Publish.Tasks.Tests/ @vijayrkn

# Area-AspNetCore
/src/BlazorWasmSdk/ @captainsafia @mkArtakMSFT @TanayParikh @javiercn
/src/Tests/Microsoft.NET.Sdk.BlazorWebAssembly.Tests/ @captainsafia @mkArtakMSFT
/src/Assets/TestProjects/BlazorHosted/ @captainsafia @mkArtakMSFT
/src/Assets/TestProjects/BlazorHostedRID/ @captainsafia @mkArtakMSFT
/src/Assets/TestProjects/BlazorWasmMinimal/ @captainsafia @mkArtakMSFT
/src/Assets/TestProjects/BlazorWasmWithLibrary/ @captainsafia @mkArtakMSFT
/src/RazorSdk/ @captainsafia @mkArtakMSFT
/src/Tests/Microsoft.NET.Sdk.BlazorWebAssembly.AoT.Tests/ @mkArtakMSFT @TanayParikh @javiercn
/src/Tests/Microsoft.NET.Sdk.Razor.Tests/ @captainsafia @mkArtakMSFT
/src/Tests/Microsoft.NET.Sdk.Razor.Tool.Tests/ @captainsafia @mkArtakMSFT
/src/Assets/TestPackages/PackageLibraryDirectDependency/ @captainsafia @mkArtakMSFT
/src/Assets/TestPackages/PackageLibraryTransitiveDependency/ @captainsafia @mkArtakMSFT
/src/src/Assets/TestProjects/Razor*/ @captainsafia @mkArtakMSFT

# Area-Format
/src/Cli/dotnet/commands/dotnet-format @jmarolf @JoeRobich
/src/Tests/dotnet-format.Tests @jmarolf @JoeRobich

# Area-NuGet
/src/Cli/dotnet/commands/dotnet-add/dotnet-add-package @dotnet/nuget-team
/src/Tests/dotnet-add-package.Tests @dotnet/nuget-team
/src/Cli/dotnet/commands/dotnet-nuget @dotnet/nuget-team
/src/Tests/dotnet-nuget.UnitTests @dotnet/nuget-team

# Area-FSharp
/src/Cli/dotnet/commands/dotnet-fsi @dotnet/fsharp
/src/Tests/dotnet-fsi.Tests @dotnet/fsharp

# Area-DotNet Test
/src/Cli/dotnet/commands/dotnet-test @dotnet/dotnet-test-templates-admin
/src/Cli/dotnet/commands/dotnet-vstest @dotnet/dotnet-test-templates-admin
/src/Tests/dotnet-test.Tests @dotnet/dotnet-test-templates-admin
/src/Tests/dotnet-vstest.Tests @dotnet/dotnet-test-templates-admin

# Area-Templates
/src/Cli/dotnet/commands/dotnet-new @DonJoseLuis
/src/Tests/dotnet-new.Tests @DonJoseLuis

# ILLink and ReadyToRun targets and tasks owned by runtime team
# Area-ILLink Area-ReadyToRun
/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.ILLink.targets clrappmodel@microsoft.com
/src/Tasks/Microsoft.NET.Build.Tasks/PrepareForReadyToRunCompilation.cs @AntonLapounov
/src/Tasks/Microsoft.NET.Build.Tasks/RunReadyToRunCompiler.cs @AntonLapounov
/src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToRunILLink.cs clrappmodel@microsoft.com
/src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToPublishReadyToRun.cs @AntonLapounov
# Publish.targets related to ILLink and ReadyToRun is own by both runtime and SDK team
/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Publish.targets clrappmodel@microsoft.com @AntonLapounov @dotnet/dotnet-cli
/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.ClickOnce.targets @sujitnayak

# Area-Watch
/src/Assets/TestProjects/Watch*/     @captainsafia @mkArtakMSFT
/src/Tests/dotnet-watch.Tests/       @captainsafia @mkArtakMSFT
/src/Tests/Microsoft.AspNetCore.Watch.BrowserRefresh.Tests/       @captainsafia @mkArtakMSFT
/src/BuiltInTools/   @captainsafia @mkArtakMSFT

# Compatibility tools owned by runtime team
# Area-Compatibility
/src/Compatibility/ @ericstj @dotnet/area-infrastructure-libraries @joperezr 
/src/Tests/Microsoft.DotNet.ApiCompatibility.Tests/ @ericstj @dotnet/area-infrastructure-libraries @joperezr 
/src/Tests/Microsoft.DotNet.PackageValidation.Tests/ @ericstj @dotnet/area-infrastructure-libraries @joperezr
