Repository dotnet/sdk, changes with the owners that CODEOWNERS names for each.
All owners: @vijayrkn, @captainsafia, @mkArtakMSFT, @TanayParikh, @javiercn, @jmarolf, @JoeRobich, @dotnet/nuget-team, @dotnet/fsharp, @dotnet/dotnet-test-templates-admin, @DonJoseLuis, clrappmodel@microsoft.com, @AntonLapounov, @dotnet/dotnet-cli, @sujitnayak, @ericstj, @dotnet/area-infrastructure-libraries, @joperezr

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @dotnet/dotnet-cli  will be requested for
# review when someone opens a pull request.
# Issue/PR labels to use are listed before each section

# Area-WebSDK
/src/WebSdk/ @vijayrkn
/src/Tests/Microsoft.NET.Sdk.Publish.Tasks.Tests/ @vijayrkn

# Area-AspNetCore
/src/BlazorWasmSdk/ @captainsafia @mkArtakMSFT @TanayParikh @javiercn
/src/Tests/Microsoft.NET.Sdk.BlazorWebAssembly.Tests/ @captainsafia @mkArtakMSFT
/src/Assets/TestProjects/BlazorHosted/ @captainsafia @mkArtakMSFT
/src/Assets/TestProjects/BlazorHostedRID/ @captainsafia @mkArtakMSFT
/src/Assets/TestProjects/BlazorWasmMinimal/ @captainsafia @mkArtakMSFT
/src/Assets/TestProjects/BlazorWasmWithLibrary/ @captainsafia @mkArtakMSFT
/src/RazorSdk/ @captainsafia @mkArtakMSFT
/src/Tests/Microsoft.NET.Sdk.BlazorWebAssembly.AoT.Tests/ @mkArtakMSFT @TanayParikh @javiercn
/src/Tests/Microsoft.NET.Sdk.Razor.Tests/ @captainsafia @mkArtakMSFT
/src/Tests/Microsoft.NET.Sdk.Razor.Tool.Tests/ @captainsafia @mkArtakMSFT
/src/Assets/TestPackages/PackageLibraryDirectDependency/ @captainsafia @mkArtakMSFT
/src/Assets/TestPackages/PackageLibraryTransitiveDependency/ @captainsafia @mkArtakMSFT
/src/src/Assets/TestProjects/Razor*/ @captainsafia @mkArtakMSFT

# Area-Format
/src/Cli/dotnet/commands/dotnet-format @jmarolf @JoeRobich
/src/Tests/dotnet-format.Tests @jmarolf @JoeRobich

# Area-NuGet
/src/Cli/dotnet/commands/dotnet-add/dotnet-add-package @dotnet/nuget-team
/src/Tests/dotnet-add-package.Tests @dotnet/nuget-team
/src/Cli/dotnet/commands/dotnet-nuget @dotnet/nuget-team
/src/Tests/dotnet-nuget.UnitTests @dotnet/nuget-team

# Area-FSharp
/src/Cli/dotnet/commands/dotnet-fsi @dotnet/fsharp
/src/Tests/dotnet-fsi.Tests @dotnet/fsharp

# Area-DotNet Test
/src/Cli/dotnet/commands/dotnet-test @dotnet/dotnet-test-templates-admin
/src/Cli/dotnet/commands/dotnet-vstest @dotnet/dotnet-test-templates-admin
/src/Tests/dotnet-test.Tests @dotnet/dotnet-test-templates-admin
/src/Tests/dotnet-vstest.Tests @dotnet/dotnet-test-templates-admin

# Area-Templates
/src/Cli/dotnet/commands/dotnet-new @DonJoseLuis
/src/Tests/dotnet-new.Tests @DonJoseLuis

# ILLink and ReadyToRun targets and tasks owned by runtime team
# Area-ILLink Area-ReadyToRun
/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.ILLink.targets clrappmodel@microsoft.com
/src/Tasks/Microsoft.NET.Build.Tasks/PrepareForReadyToRunCompilation.cs @AntonLapounov
/src/Tasks/Microsoft.NET.Build.Tasks/RunReadyToRunCompiler.cs @AntonLapounov
/src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToRunILLink.cs clrappmodel@microsoft.com
/src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToPublishReadyToRun.cs @AntonLapounov
# Publish.targets related to ILLink and ReadyToRun is own by both runtime and SDK team
/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Publish.targets clrappmodel@microsoft.com @AntonLapounov @dotnet/dotnet-cli
/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.ClickOnce.targets @sujitnayak

# Area-Watch
/src/Assets/TestProjects/Watch*/     @captainsafia @mkArtakMSFT
/src/Tests/dotnet-watch.Tests/       @captainsafia @mkArtakMSFT
/src/Tests/Microsoft.AspNetCore.Watch.BrowserRefresh.Tests/       @captainsafia @mkArtakMSFT
/src/BuiltInTools/   @captainsafia @mkArtakMSFT

# Compatibility tools owned by runtime team
# Area-Compatibility
/src/Compatibility/ @ericstj @dotnet/area-infrastructure-libraries @joperezr 
/src/Tests/Microsoft.DotNet.ApiCompatibility.Tests/ @ericstj @dotnet/area-infrastructure-libraries @joperezr 
/src/Tests/Microsoft.DotNet.PackageValidation.Tests/ @ericstj @dotnet/area-infrastructure-libraries @joperezr

Removed backported vstest source-build patch
  src/SourceBuild/tarball/patches/vstest/0001-Update-nuspec-project-target-frameworks-for-source-b.patch
Owners: none

Update and restore files to try to fix
  src/Cli/dotnet/Parser.cs
  src/Cli/dotnet/Telemetry/TelemetryFilter.cs
  src/Cli/dotnet/commands/dotnet-new/NewCommandParser.cs
  src/Cli/dotnet/commands/dotnet-new/NewCommandShim.cs
  src/Cli/dotnet/commands/dotnet-workload/list/WorkloadListCommand.cs
  src/Tests/dotnet-workload-update.Tests/TempDirectoryWorkloadManifestProviderTests.cs
  src/Tests/dotnet.Tests/TelemetryCommandTest.cs
  src/Tests/dotnet.Tests/dotnet.Tests.csproj
Owners: @DonJoseLuis

Update and restore files to try to fix
  src/Cli/dotnet/commands/dotnet-workload/install/WorkloadInstallCommand.cs
  src/Cli/dotnet/commands/dotnet-workload/list/WorkloadListCommand.cs
Owners: none

Update and restore files to try to fix
  src/Cli/dotnet/CommonOptions.cs
  src/Cli/dotnet/commands/dotnet-restore/RestoreCommandParser.cs
  src/Cli/dotnet/commands/dotnet-test/Program.cs
Owners: @dotnet/dotnet-test-templates-admin

Update and restore files to try to fix
  src/Cli/dotnet/CommonOptions.cs
Owners: none

Update and restore files to try to fix
  src/Tests/dotnet-workload-update.Tests/TempDirectoryWorkloadManifestProviderTests.cs
Owners: none

Update and restore files to try to fix
  eng/Version.Details.xml
Owners: none

Update and restore files to try to fix
  src/Layout/tool_fsharp/tool_fsc.csproj
Owners: none

Restore the runHelixAndNonHelixInParallel.ps1 file
  eng/runHelixAndNonHelixInParallel.ps1
Owners: none

Restore the runHelixAndNonHelixInParallel.ps1 file
  eng/runHelixAndNonHelixInParallel.ps1
Owners: none

Build aspnetcore project templates in source-build (#13459)
  src/SourceBuild/Arcade/tools/TextOnlyPackages.csproj
  src/SourceBuild/tarball/patches/aspnetcore/0001-Revert-Revert-release-6.0-Build-ProjectTemplates-in-.patch
Owners: none

Add arm64 leg to CI (#13500)
  src/SourceBuild/Arcade/eng/common/templates/job/source-build-build-tarball.yml
  src/SourceBuild/Arcade/eng/common/templates/job/source-build-run-tarball-build.yml
  src/SourceBuild/Arcade/eng/common/templates/steps/source-build-build-tarball.yml
  src/SourceBuild/tarball/content/Directory.Build.props
  src/SourceBuild/tarball/content/build.proj
  src/SourceBuild/tarball/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/BaselineHelper.cs
  src/SourceBuild/tarball/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/Config.cs
  src/SourceBuild/tarball/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/SdkContentTests.cs
  src/SourceBuild/tarball/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/assets/baselines/MsftToSbSdk.diff
Owners: none

Reset the value when CreationOperation is visited again
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/QualityGuidelines/AvoidMultipleEnumerations/AvoidMultipleEnumerations.DataFlowOperationVisitor.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/QualityGuidelines/AvoidMultipleEnumerations/FlowAnalysis/GlobalFlowStateDictionaryAnalysisValue.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/QualityGuidelines/AvoidMultipleEnumerations/FlowAnalysis/GlobalFlowStateDictionaryFlowOperationVisitor.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Microsoft.CodeAnalysis.NetAnalyzers.UnitTests/Microsoft.CodeQuality.Analyzers/QualityGuidelines/AvoidMultipleEnumerationsTests.cs
Owners: none

Update test
  src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToRunILLink.cs
Owners: clrappmodel@microsoft.com

Don't retarget testhost
  src/Layout/redist/targets/GenerateLayout.targets
Owners: none

Localized file check-in by OneLocBuild Task: Build definition ID 303: Build ID 1707336 (dotnet/templating#4571)
  src/TemplateEngine/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/xlf/LocalizableStrings.ja.xlf
Owners: none

Resolve source-build patch conflict
  src/SourceBuild/tarball/patches/roslyn-analyzers/0001-Eliminate-pre-built-assets-during-source-build-for-r.patch
Owners: none

using the same entrypoint target
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.ILCompiler.targets
  src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToRunAnAotApp.cs
Owners: none

Update AbstractFormatterTests.cs
  tests/Formatters/AbstractFormatterTests.cs
Owners: none

Localized file check-in by OneLocBuild Task: Build definition ID 830: Build ID 1710370
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.cs.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.de.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.es.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.fr.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.it.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.ja.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.ko.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.pl.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.pt-BR.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.ru.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.tr.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.zh-Hans.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.zh-Hant.xlf
Owners: none

update tool_fsc.csproj
  src/Layout/tool_fsharp/tool_fsc.csproj
Owners: none

Update Version.Details.xml
  eng/Version.Details.xml
Owners: none

Update Version.Details.xml
  eng/Version.Details.xml
Owners: none

Update Version.Details.xml
  eng/Version.Details.xml
Owners: none

props and targets
  src/Layout/tool_fsharp/tool_fsc.csproj
Owners: none

Fix False positives found in Platform Compatibility Analyzer (#5963)
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.NetCore.Analyzers/InteropServices/PlatformCompatibilityAnalyzer.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Microsoft.CodeAnalysis.NetAnalyzers.UnitTests/Microsoft.NetCore.Analyzers/InteropServices/PlatformCompatibilityAnalyzerTests.GuardedCallsTests.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Microsoft.CodeAnalysis.NetAnalyzers.UnitTests/Microsoft.NetCore.Analyzers/InteropServices/PlatformCompatibilityAnalyzerTests.cs
Owners: none

Fix NRE for __arglist
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.NetCore.Analyzers/Runtime/ForwardCancellationTokenToInvocations.Analyzer.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Microsoft.CodeAnalysis.NetAnalyzers.UnitTests/Microsoft.NetCore.Analyzers/Runtime/ForwardCancellationTokenToInvocationsTests.cs
Owners: none

Update ForwardCancellationTokenToInvocations.Analyzer.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.NetCore.Analyzers/Runtime/ForwardCancellationTokenToInvocations.Analyzer.cs
Owners: none

Remove aspnetcore source-build patch that was already backported
  src/SourceBuild/tarball/patches/aspnetcore/0001-Revert-Revert-release-6.0-Build-ProjectTemplates-in-.patch
Owners: none

Fix CA2256 false positive for nested types
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.CSharp.NetAnalyzers/Microsoft.NetCore.Analyzers/InteropServices/CSharpDynamicInterfaceCastableImplementation.Fixer.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.NetCore.Analyzers/InteropServices/DynamicInterfaceCastableImplementation.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Microsoft.CodeAnalysis.NetAnalyzers.UnitTests/Microsoft.NetCore.Analyzers/InteropServices/DynamicInterfaceCastableImplementationTests.cs
Owners: none

Replace rollForward in tools runtimeconfig
  src/Layout/redist/targets/GenerateLayout.targets
Owners: none

Fix codefix
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.CSharp.NetAnalyzers/Microsoft.NetCore.Analyzers/InteropServices/CSharpDynamicInterfaceCastableImplementation.Fixer.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.NetCore.Analyzers/InteropServices/DynamicInterfaceCastableImplementation.Fixer.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Microsoft.CodeAnalysis.NetAnalyzers.UnitTests/Microsoft.NetCore.Analyzers/InteropServices/DynamicInterfaceCastableImplementationTests.cs
Owners: none

Add a test
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.CSharp.NetAnalyzers/Microsoft.NetCore.Analyzers/InteropServices/CSharpDynamicInterfaceCastableImplementation.Fixer.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Microsoft.CodeAnalysis.NetAnalyzers.UnitTests/Microsoft.NetCore.Analyzers/InteropServices/DynamicInterfaceCastableImplementationTests.cs
Owners: none

Workaround roslyn bug
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.CSharp.NetAnalyzers/Microsoft.NetCore.Analyzers/InteropServices/CSharpDynamicInterfaceCastableImplementation.Fixer.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.NetCore.Analyzers/InteropServices/DynamicInterfaceCastableImplementation.Fixer.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Microsoft.CodeAnalysis.NetAnalyzers.UnitTests/Microsoft.NetCore.Analyzers/InteropServices/DynamicInterfaceCastableImplementationTests.cs
Owners: none

Fix build error
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.CSharp.NetAnalyzers/Microsoft.NetCore.Analyzers/InteropServices/CSharpDynamicInterfaceCastableImplementation.Fixer.cs
Owners: none

Cleanup
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.CSharp.NetAnalyzers/Microsoft.NetCore.Analyzers/InteropServices/CSharpDynamicInterfaceCastableImplementation.Fixer.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.NetCore.Analyzers/InteropServices/DynamicInterfaceCastableImplementation.Fixer.cs
Owners: none

Update asp.net templates/downlevel runtimes (#13546)
  src/redist/targets/GenerateBundledVersions.targets
Owners: none

Stabilize branding for the SDK
  eng/Versions.props
Owners: none

update global.json and Versions.props for .NET SDK 6.0.104 (#13607)
  src/SourceBuild/tarball/content/global.json
Owners: none

Final branding for 6.0.300 (#13608)
  src/redist/targets/GenerateBundledVersions.targets
Owners: none
