Repository dotnet/sdk, changes with the owners that CODEOWNERS names for each.
All owners: @vijayrkn, @captainsafia, @mkArtakMSFT, @TanayParikh, @javiercn, @jmarolf, @JoeRobich, @dotnet/nuget-team, @dotnet/fsharp, @dotnet/dotnet-test-templates-admin, @DonJoseLuis, clrappmodel@microsoft.com, @AntonLapounov, @dotnet/dotnet-cli, @sujitnayak, @ericstj, @dotnet/area-infrastructure-libraries, @joperezr

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @dotnet/dotnet-cli  will be requested for
# review when someone opens a pull request.
# Issue/PR labels to use are listed before each section

# Area-WebSDK
/src/WebSdk/ @vijayrkn
/src/Tests/Microsoft.NET.Sdk.Publish.Tasks.Tests/ @vijayrkn

# Area-AspNetCore
/src/BlazorWasmSdk/ @captainsafia @mkArtakMSFT @TanayParikh @javiercn
/src/Tests/Microsoft.NET.Sdk.BlazorWebAssembly.Tests/ @captainsafia @mkArtakMSFT
/src/Assets/TestProjects/BlazorHosted/ @captainsafia @mkArtakMSFT
/src/Assets/TestProjects/BlazorHostedRID/ @captainsafia @mkArtakMSFT
/src/Assets/TestProjects/BlazorWasmMinimal/ @captainsafia @mkArtakMSFT
/src/Assets/TestProjects/BlazorWasmWithLibrary/ @captainsafia @mkArtakMSFT
/src/RazorSdk/ @captainsafia @mkArtakMSFT
/src/Tests/Microsoft.NET.Sdk.BlazorWebAssembly.AoT.Tests/ @mkArtakMSFT @TanayParikh @javiercn
/src/Tests/Microsoft.NET.Sdk.Razor.Tests/ @captainsafia @mkArtakMSFT
/src/Tests/Microsoft.NET.Sdk.Razor.Tool.Tests/ @captainsafia @mkArtakMSFT
/src/Assets/TestPackages/PackageLibraryDirectDependency/ @captainsafia @mkArtakMSFT
/src/Assets/TestPackages/PackageLibraryTransitiveDependency/ @captainsafia @mkArtakMSFT
/src/src/Assets/TestProjects/Razor*/ @captainsafia @mkArtakMSFT

# Area-Format
/src/Cli/dotnet/commands/dotnet-format @jmarolf @JoeRobich
/src/Tests/dotnet-format.Tests @jmarolf @JoeRobich

# Area-NuGet
/src/Cli/dotnet/commands/dotnet-add/dotnet-add-package @dotnet/nuget-team
/src/Tests/dotnet-add-package.Tests @dotnet/nuget-team
/src/Cli/dotnet/commands/dotnet-nuget @dotnet/nuget-team
/src/Tests/dotnet-nuget.UnitTests @dotnet/nuget-team

# Area-FSharp
/src/Cli/dotnet/commands/dotnet-fsi @dotnet/fsharp
/src/Tests/dotnet-fsi.Tests @dotnet/fsharp

# Area-DotNet Test
/src/Cli/dotnet/commands/dotnet-test @dotnet/dotnet-test-templates-admin
/src/Cli/dotnet/commands/dotnet-vstest @dotnet/dotnet-test-templates-admin
/src/Tests/dotnet-test.Tests @dotnet/dotnet-test-templates-admin
/src/Tests/dotnet-vstest.Tests @dotnet/dotnet-test-templates-admin

# Area-Templates
/src/Cli/dotnet/commands/dotnet-new @DonJoseLuis
/src/Tests/dotnet-new.Tests @DonJoseLuis

# ILLink and ReadyToRun targets and tasks owned by runtime team
# Area-ILLink Area-ReadyToRun
/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.ILLink.targets clrappmodel@microsoft.com
/src/Tasks/Microsoft.NET.Build.Tasks/PrepareForReadyToRunCompilation.cs @AntonLapounov
/src/Tasks/Microsoft.NET.Build.Tasks/RunReadyToRunCompiler.cs @AntonLapounov
/src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToRunILLink.cs clrappmodel@microsoft.com
/src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToPublishReadyToRun.cs @AntonLapounov
# Publish.targets related to ILLink and ReadyToRun is own by both runtime and SDK team
/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Publish.targets clrappmodel@microsoft.com @AntonLapounov @dotnet/dotnet-cli
/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.ClickOnce.targets @sujitnayak

# Area-Watch
/src/Assets/TestProjects/Watch*/     @captainsafia @mkArtakMSFT
/src/Tests/dotnet-watch.Tests/       @captainsafia @mkArtakMSFT
/src/Tests/Microsoft.AspNetCore.Watch.BrowserRefresh.Tests/       @captainsafia @mkArtakMSFT
/src/BuiltInTools/   @captainsafia @mkArtakMSFT

# Compatibility tools owned by runtime team
# Area-Compatibility
/src/Compatibility/ @ericstj @dotnet/area-infrastructure-libraries @joperezr 
/src/Tests/Microsoft.DotNet.ApiCompatibility.Tests/ @ericstj @dotnet/area-infrastructure-libraries @joperezr 
/src/Tests/Microsoft.DotNet.PackageValidation.Tests/ @ericstj @dotnet/area-infrastructure-libraries @joperezr

Update unit tests for package installs
  src/Tests/Microsoft.DotNet.PackageInstall.Tests/MockFirstPartyNuGetPackageSigningVerifier.cs
  src/Tests/Microsoft.DotNet.PackageInstall.Tests/NuGetPackageInstallerTests.cs
Owners: none

importing aot target
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.NativeAot.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.FrameworkReferenceResolution.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.targets
  src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToRunAnAotApp.cs
Owners: none

Pin the compiler version in RSG to an exact version
  eng/Versions.props
  src/RazorSdk/SourceGenerators/Microsoft.NET.Sdk.Razor.SourceGenerators.csproj
Owners: @captainsafia, @mkArtakMSFT

Fix regression in installing nugets specified by wildcards (dotnet/templating#4521)
  src/TemplateEngine/Microsoft.TemplateEngine.Cli/TemplatePackageCoordinator.cs
  src/TemplateEngine/Microsoft.TemplateEngine.Edge/Installers/NuGet/NuGetInstaller.cs
  src/TemplateEngine/Microsoft.TemplateEngine.Edge/Installers/NuGet/NuGetVersionHelper.cs
  src/TemplateEngine/Microsoft.TemplateEngine.Edge/Installers/NuGet/NugetApiPackageManager.cs
  test/TemplateEngine/Microsoft.TemplateEngine.Edge.UnitTests/NuGetVersionHelperTests.cs
  test/TemplateEngine/dotnet-new3.UnitTests/DotnetNewInstall.cs
Owners: none

Update implicit version for March release
  src/redist/targets/GenerateBundledVersions.targets
Owners: none

Remove CliCommandLineParser from source-build
  src/SourceBuild/tarball/content/repos/clicommandlineparser.proj
  src/SourceBuild/tarball/content/repos/installer.proj
  src/SourceBuild/tarball/content/repos/known-good.proj
  src/SourceBuild/tarball/content/repos/templating.proj
  src/SourceBuild/tarball/patches/clicommandlineparser/0001-Remove-installation-of-runtime-2.1.0-from-build.sh.patch
Owners: none

basic support for publish native aot
  src/Tasks/Microsoft.NET.Build.Tasks/targets/CoreRTNatVis.natvis
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.DotNet.ILCompiler.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.NativeAot.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.FrameworkReferenceResolution.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NETCore.Native.Publish.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NETCore.Native.Unix.props
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NETCore.Native.Windows.props
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NETCore.Native.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/WindowsAPIs.txt
  src/Tasks/Microsoft.NET.Build.Tasks/targets/findvcvarsall.bat
  src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToRunAnAotApp.cs
Owners: none

update markdown files :(
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers.sarif
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/RulesMissingDocumentation.md
Owners: none

add ide.host.json files to project templates (dotnet/templating#4522)
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ClassLibrary-CSharp/.template.config/ide.host.json
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ClassLibrary-CSharp/.template.config/ide/icon.ico
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ClassLibrary-FSharp/.template.config/ide.host.json
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ClassLibrary-FSharp/.template.config/ide/icon.ico
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ClassLibrary-VisualBasic/.template.config/ide.host.json
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ClassLibrary-VisualBasic/.template.config/ide/icon.ico
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ConsoleApplication-CSharp/.template.config/ide.host.json
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ConsoleApplication-CSharp/.template.config/ide/icon.ico
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ConsoleApplication-FSharp/.template.config/ide.host.json
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ConsoleApplication-FSharp/.template.config/ide/icon.ico
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ConsoleApplication-VisualBasic/.template.config/ide.host.json
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ConsoleApplication-VisualBasic/.template.config/ide/icon.ico
Owners: none

introduced --use-program-main option for console template to disable top-level program
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ConsoleApplication-CSharp/.template.config/dotnetcli.host.json
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ConsoleApplication-CSharp/.template.config/ide.host.json
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ConsoleApplication-CSharp/.template.config/localize/templatestrings.cs.json
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ConsoleApplication-CSharp/.template.config/localize/templatestrings.de.json
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ConsoleApplication-CSharp/.template.config/localize/templatestrings.en.json
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ConsoleApplication-CSharp/.template.config/localize/templatestrings.es.json
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ConsoleApplication-CSharp/.template.config/localize/templatestrings.fr.json
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ConsoleApplication-CSharp/.template.config/localize/templatestrings.it.json
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ConsoleApplication-CSharp/.template.config/localize/templatestrings.ja.json
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ConsoleApplication-CSharp/.template.config/localize/templatestrings.ko.json
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ConsoleApplication-CSharp/.template.config/localize/templatestrings.pl.json
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ConsoleApplication-CSharp/.template.config/localize/templatestrings.pt-BR.json
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ConsoleApplication-CSharp/.template.config/localize/templatestrings.ru.json
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ConsoleApplication-CSharp/.template.config/localize/templatestrings.tr.json
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ConsoleApplication-CSharp/.template.config/localize/templatestrings.zh-Hans.json
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ConsoleApplication-CSharp/.template.config/localize/templatestrings.zh-Hant.json
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ConsoleApplication-CSharp/.template.config/template.json
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ConsoleApplication-CSharp/Program.cs
  test/TemplateEngine/Microsoft.TemplateEngine.Cli.UnitTests/ParserTests/Approvals/TabCompletionTests.TemplateCommand_GetAllSuggestions.verified.txt
  test/TemplateEngine/dotnet-new3.UnitTests/Approvals/DotnetNewHelp.CanShowHelpForTemplate_MatchOnChoice.verified.txt
  test/TemplateEngine/dotnet-new3.UnitTests/Approvals/DotnetNewHelp.CanShowHelpForTemplate_MatchOnNonChoiceParam.verified.txt
  test/TemplateEngine/dotnet-new3.UnitTests/Approvals/DotnetNewHelp.CanShowHelpForTemplate_console.verified.txt
  test/TemplateEngine/dotnet-new3.UnitTests/CommonTemplatesTests.cs
Owners: none

Fix CA1416 failure with NullReferenceExcpetion (#5937)
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Utilities/Compiler/SmallDictionary.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Microsoft.CodeAnalysis.NetAnalyzers.UnitTests/Microsoft.NetCore.Analyzers/InteropServices/PlatformCompatibilityAnalyzerTests.cs
Owners: none

Localized file check-in by OneLocBuild Task: Build definition ID 830: Build ID 1690738
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.cs.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.de.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.es.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.fr.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.it.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.ja.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.ko.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.pl.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.pt-BR.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.ru.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.tr.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.zh-Hans.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.zh-Hant.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.NetCore.Analyzers/xlf/MicrosoftNetCoreAnalyzersResources.cs.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.NetCore.Analyzers/xlf/MicrosoftNetCoreAnalyzersResources.de.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.NetCore.Analyzers/xlf/MicrosoftNetCoreAnalyzersResources.es.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.NetCore.Analyzers/xlf/MicrosoftNetCoreAnalyzersResources.fr.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.NetCore.Analyzers/xlf/MicrosoftNetCoreAnalyzersResources.it.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.NetCore.Analyzers/xlf/MicrosoftNetCoreAnalyzersResources.ja.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.NetCore.Analyzers/xlf/MicrosoftNetCoreAnalyzersResources.ko.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.NetCore.Analyzers/xlf/MicrosoftNetCoreAnalyzersResources.pl.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.NetCore.Analyzers/xlf/MicrosoftNetCoreAnalyzersResources.pt-BR.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.NetCore.Analyzers/xlf/MicrosoftNetCoreAnalyzersResources.ru.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.NetCore.Analyzers/xlf/MicrosoftNetCoreAnalyzersResources.tr.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.NetCore.Analyzers/xlf/MicrosoftNetCoreAnalyzersResources.zh-Hans.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.NetCore.Analyzers/xlf/MicrosoftNetCoreAnalyzersResources.zh-Hant.xlf
Owners: none

handle http timeouts
  src/Microsoft.CodeAnalysis.NetAnalyzers/tools/GenerateDocumentationAndConfigFiles/Program.cs
Owners: none

Remove roslyn source-build patches that were backported
  src/SourceBuild/tarball/patches/roslyn/0003-remove-Microsoft.DotNet-prebuilts.patch
  src/SourceBuild/tarball/patches/roslyn/0004-Disable-apphost-build-of-csi-vbi-for-source-build.patch
Owners: none

PR feedback
  src/Cli/dotnet/NugetPackageDownloader/LocalizableStrings.resx
  src/Cli/dotnet/NugetPackageDownloader/NuGetPackageDownloader.cs
  src/Cli/dotnet/NugetPackageDownloader/xlf/LocalizableStrings.cs.xlf
  src/Cli/dotnet/NugetPackageDownloader/xlf/LocalizableStrings.de.xlf
  src/Cli/dotnet/NugetPackageDownloader/xlf/LocalizableStrings.es.xlf
  src/Cli/dotnet/NugetPackageDownloader/xlf/LocalizableStrings.fr.xlf
  src/Cli/dotnet/NugetPackageDownloader/xlf/LocalizableStrings.it.xlf
  src/Cli/dotnet/NugetPackageDownloader/xlf/LocalizableStrings.ja.xlf
  src/Cli/dotnet/NugetPackageDownloader/xlf/LocalizableStrings.ko.xlf
  src/Cli/dotnet/NugetPackageDownloader/xlf/LocalizableStrings.pl.xlf
  src/Cli/dotnet/NugetPackageDownloader/xlf/LocalizableStrings.pt-BR.xlf
  src/Cli/dotnet/NugetPackageDownloader/xlf/LocalizableStrings.ru.xlf
  src/Cli/dotnet/NugetPackageDownloader/xlf/LocalizableStrings.tr.xlf
  src/Cli/dotnet/NugetPackageDownloader/xlf/LocalizableStrings.zh-Hans.xlf
  src/Cli/dotnet/NugetPackageDownloader/xlf/LocalizableStrings.zh-Hant.xlf
  src/Cli/dotnet/commands/dotnet-workload/WorkloadCommandBase.cs
  src/Tests/Microsoft.DotNet.PackageInstall.Tests/NuGetPackageInstallerTests.cs
Owners: none

Add test plan for new sdk validation
  test-plan.md
Owners: none

Update test-plan.md
  test-plan.md
Owners: none

Remove source-build patches that were backported
  src/SourceBuild/tarball/patches/nuget-client/0011-Update-System.Threading.Tasks.DataFlow-version.patch
  src/SourceBuild/tarball/patches/roslyn/0003-remove-Microsoft.DotNet-prebuilts.patch
  src/SourceBuild/tarball/patches/roslyn/0004-Disable-apphost-build-of-csi-vbi-for-source-build.patch
Owners: none

Localized file check-in by OneLocBuild Task: Build definition ID 303: Build ID 1690633 (dotnet/templating#4532)
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ConsoleApplication-CSharp/.template.config/localize/templatestrings.fr.json
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ConsoleApplication-CSharp/.template.config/localize/templatestrings.pl.json
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ConsoleApplication-CSharp/.template.config/localize/templatestrings.pt-BR.json
  template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ConsoleApplication-CSharp/.template.config/localize/templatestrings.ru.json
Owners: none

Add source-build leak detection (#13434)
  src/SourceBuild/Arcade/eng/common/templates/job/source-build-run-tarball-build.yml
  src/SourceBuild/Arcade/eng/common/templates/steps/source-build-build-tarball.yml
  src/SourceBuild/tarball/content/build.proj
  src/SourceBuild/tarball/content/build.sh
  src/SourceBuild/tarball/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/BaselineHelper.cs
  src/SourceBuild/tarball/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/Config.cs
  src/SourceBuild/tarball/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/DotNetFormatTests.cs
  src/SourceBuild/tarball/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/PoisonTests.cs
  src/SourceBuild/tarball/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/SdkContentTests.cs
  src/SourceBuild/tarball/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/assets/baselines/FormatTestFormatted.cs
  src/SourceBuild/tarball/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/assets/baselines/MsftToSbSdk.diff
  src/SourceBuild/tarball/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/assets/baselines/PoisonUsage.txt
  src/SourceBuild/tarball/content/tools-local/init-build.proj
  src/SourceBuild/tarball/content/tools-local/tasks/Microsoft.DotNet.SourceBuild.Tasks.LeakDetection/CheckForPoison.cs
  src/SourceBuild/tarball/content/tools-local/tasks/Microsoft.DotNet.SourceBuild.Tasks.LeakDetection/Microsoft.DotNet.SourceBuild.Tasks.LeakDetection.csproj
Owners: none

Fix guid replacement casing (dotnet/templating#4533)
  src/TemplateEngine/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/Config/GuidMacroConfig.cs
  src/TemplateEngine/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/GuidMacro.cs
  src/TemplateEngine/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/RunnableProjectGenerator.cs
  src/TemplateEngine/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/SimpleConfigModel.cs
  test/TemplateEngine/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/MacroTests/GuidMacroTests.cs
  test/TemplateEngine/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/RunnableProjectGeneratorTests.cs
  test/TemplateEngine/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/TemplateConfigTests/TemplateConfigTestHelpers.cs
  test/TemplateEngine/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/TemplateConfigTests/TestTemplateSetup.cs
Owners: none

Update docs to reflect current behavior of guid replacements (dotnet/templating#4534)
  documentation/TemplateEngine/Available-Symbols-Generators.md
  documentation/TemplateEngine/Reference-for-template.json.md
  documentation/TemplateEngine/Runnable-Project-Templates.md
  src/TemplateEngine/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Schemas/JSON/template.json
Owners: none

Revert dotnet test build changes that slipped into this PR.
  src/Tests/dotnet.Tests/dotnet.Tests.csproj
Owners: none

Fully revert dotnet.tests changes
  src/Tests/dotnet.Tests/dotnet.Tests.csproj
Owners: none

Publish support in SDK for Native Aot Application
  eng/Version.Details.xml
  eng/Versions.props
  src/Layout/redist/targets/BundledSdks.targets
  src/Layout/toolset-tasks/OverrideAndCreateBundledNETCoreAppPackageVersion.cs
  src/Tasks/Microsoft.NET.Build.Tasks/ProcessFrameworkReferences.cs
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.ILCompiler.props
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.FrameworkReferenceResolution.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.props
  src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToRunAnAotApp.cs
Owners: none

Update template.json to reflect changes in schemastore repo
  src/TemplateEngine/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Schemas/JSON/template.json
Owners: none

Fix a typo (#5949)
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers.md
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers.sarif
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/MicrosoftCodeQualityAnalyzersResources.resx
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.cs.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.de.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.es.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.fr.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.it.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.ja.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.ko.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.pl.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.pt-BR.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.ru.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.tr.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.zh-Hans.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.zh-Hant.xlf
Owners: none

Localized file check-in by OneLocBuild Task: Build definition ID 830: Build ID 1698493
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.cs.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.de.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.es.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.fr.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.it.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.ja.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.ko.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.pl.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.pt-BR.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.ru.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.tr.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.zh-Hans.xlf
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/xlf/MicrosoftCodeQualityAnalyzersResources.zh-Hant.xlf
Owners: none

Fix doc code snippet to prevent GH highligh (dotnet/templating#4544)
  documentation/TemplateEngine/Reference-for-template.json.md
Owners: none

Fix broken blog post link
  src/Cli/Microsoft.DotNet.Cli.Utils/ArgumentEscaper.cs
Owners: none

Fix broken blog post link
  src/RazorSdk/Tool/CommandLine/ArgumentEscaper.cs
Owners: @captainsafia, @mkArtakMSFT

moving the import to targets from props
  src/Tasks/Microsoft.NET.Build.Tasks/ProcessFrameworkReferences.cs
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.ILCompiler.targets
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.props
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.targets
Owners: none

Update branding to 3.1.419
  eng/Versions.props
Owners: none

Update branding to 5.0.214
  eng/Versions.props
Owners: none

Update branding to 5.0.408
  eng/Versions.props
Owners: none

Fix false positive case: 2 mentioned in #5938 (#5953)
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.NetCore.Analyzers/InteropServices/PlatformCompatibilityAnalyzer.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Microsoft.CodeAnalysis.NetAnalyzers.UnitTests/Microsoft.NetCore.Analyzers/InteropServices/PlatformCompatibilityAnalyzerTests.GuardedCallsTests.cs
Owners: none

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20220405.7
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: none

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20220405.7
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: none

Update and restore files to try to fix
  eng/Versions.props
  src/BuiltInTools/dotnet-watch/CommandLineOptions.cs
  src/Cli/dotnet/CommonOptions.cs
  src/Cli/dotnet/commands/dotnet-vstest/Program.cs
  src/Compatibility/Microsoft.DotNet.Compatibility/ValidatePackage.cs
  src/Compatibility/Microsoft.DotNet.PackageValidation/NupkgParser.cs
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Compatibility.Common.targets
  src/Tests/Microsoft.DotNet.PackageValidation.Tests/CompatibleFrameworksInPackageTests.cs
  src/Tests/Microsoft.DotNet.PackageValidation.Tests/ValidatePackageTargetTests.cs
Owners: @captainsafia, @mkArtakMSFT, @dotnet/dotnet-test-templates-admin, @ericstj, @dotnet/area-infrastructure-libraries, @joperezr

FB
  eng/Version.Details.xml
  src/Layout/redist/targets/BundledSdks.targets
  src/Tasks/Common/Resources/Strings.resx
  src/Tasks/Common/Resources/xlf/Strings.cs.xlf
  src/Tasks/Common/Resources/xlf/Strings.de.xlf
  src/Tasks/Common/Resources/xlf/Strings.es.xlf
  src/Tasks/Common/Resources/xlf/Strings.fr.xlf
  src/Tasks/Common/Resources/xlf/Strings.it.xlf
  src/Tasks/Common/Resources/xlf/Strings.ja.xlf
  src/Tasks/Common/Resources/xlf/Strings.ko.xlf
  src/Tasks/Common/Resources/xlf/Strings.pl.xlf
  src/Tasks/Common/Resources/xlf/Strings.pt-BR.xlf
  src/Tasks/Common/Resources/xlf/Strings.ru.xlf
  src/Tasks/Common/Resources/xlf/Strings.tr.xlf
  src/Tasks/Common/Resources/xlf/Strings.zh-Hans.xlf
  src/Tasks/Common/Resources/xlf/Strings.zh-Hant.xlf
  src/Tasks/Microsoft.NET.Build.Tasks/ProcessFrameworkReferences.cs
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.ILCompiler.targets
Owners: none
