Repository dotnet/sdk, changes with the owners that CODEOWNERS names for each.
All owners: @vijayrkn, @captainsafia, @dotnet/nuget-team, @dotnet/fsharp, @dotnet/dotnet-test-templates-admin, @DonJoseLuis, clrappmodel@microsoft.com, @AntonLapounov, @dotnet/dotnet-cli

Fix ILLink_verify_analysis_warnings_hello_world_app
  src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToRunILLink.cs
Owners: clrappmodel@microsoft.com

Update Cake.Frosting url in Available templates
  documentation/TemplateEngine/Available-templates-for-dotnet-new.md
Owners: none

Update stage0
  global.json
Owners: none

Update stage0
  global.json
Owners: none

Address review comment
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Microsoft.CodeAnalysis.NetAnalyzers.UnitTests/Microsoft.NetCore.Analyzers/Usage/ProvideCorrectArgumentToEnumHasFlagTests.cs
Owners: none

add title case value form
  src/TemplateEngine/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/ValueForms/TitleCaseValueFormModel.cs
  test/TemplateEngine/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/ValueFormTests/TitleCaseValueFormTests.cs
Owners: none

add kebab case value form
  src/TemplateEngine/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/ValueForms/KebabCaseValueFormModel.cs
  test/TemplateEngine/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/ValueFormTests/KebabCaseValueFormTests.cs
Owners: none

add value form for upper casing and lower casing first character
  src/TemplateEngine/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/ValueForms/FirstLowerCaseValueFormModel.cs
  src/TemplateEngine/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/ValueForms/FirstUpperCaseValueFormModel.cs
  test/TemplateEngine/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/ValueFormTests/FirstLowerCaseValueFormTests.cs
  test/TemplateEngine/Microsoft.TemplateEngine.Orchestrator.RunnableProjects.UnitTests/ValueFormTests/FirstUpperCaseValueFormTests.cs
Owners: none

Fix up test project file
  src/BlazorWasmSdk/Tasks/Microsoft.NET.Sdk.BlazorWebAssembly.Tasks.csproj
  src/Tests/Microsoft.NET.Sdk.BlazorWebAssembly.Tests/Microsoft.NET.Sdk.BlazorWebAssembly.Tests.csproj
Owners: @captainsafia

Refactor implementation
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.NetCore.Analyzers/Runtime/SpecifyStringComparison.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Utilities/Compiler/WellKnownTypeNames.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Microsoft.CodeAnalysis.NetAnalyzers.UnitTests/Microsoft.NetCore.Analyzers/Runtime/SpecifyStringComparisonTests.cs
Owners: none

Remove unused file
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.CSharp.NetAnalyzers/Microsoft.CodeQuality.Analyzers/QualityGuidelines/CSharpRethrowToPreserveStackDetails.cs
Owners: none

Apply feedback
  src/redist/targets/GenerateBundledVersions.targets
Owners: none

Fix localization failure (#4583)
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Microsoft.CodeAnalysis.NetAnalyzers.UnitTests/Microsoft.NetCore.Analyzers/InteropServices/PlatformCompatibilityAnalyzerTests.GuardedCallsTests.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Microsoft.CodeAnalysis.NetAnalyzers.UnitTests/Microsoft.NetCore.Analyzers/InteropServices/PlatformCompatibilityAnalyzerTests.cs
Owners: none

remove tmp from path
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Microsoft.CodeAnalysis.NetAnalyzers.UnitTests/Microsoft.CodeQuality.Analyzers/Maintainability/ReviewUnusedParametersTests.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Test.Utilities/CSharpCodeFixVerifier`2+Test.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Test.Utilities/VisualBasicCodeFixVerifier`2+Test.cs
Owners: none

use unix compatible paths in test helpers
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Microsoft.CodeAnalysis.NetAnalyzers.UnitTests/Microsoft.CodeQuality.Analyzers/Maintainability/ReviewUnusedParametersTests.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Test.Utilities/CSharpCodeFixVerifier`2+Test.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Test.Utilities/VisualBasicCodeFixVerifier`2+Test.cs
Owners: none

handle mixed newlines
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Test.Utilities/StringExtensions.cs
Owners: none

fix test paths
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Microsoft.CodeAnalysis.NetAnalyzers.UnitTests/Microsoft.CodeQuality.Analyzers/ApiDesignGuidelines/AvoidEmptyInterfacesTests.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Microsoft.CodeAnalysis.NetAnalyzers.UnitTests/Microsoft.CodeQuality.Analyzers/ApiDesignGuidelines/IdentifiersShouldNotMatchKeywordsTypeRuleTests.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Microsoft.CodeAnalysis.NetAnalyzers.UnitTests/Microsoft.CodeQuality.Analyzers/Maintainability/ReviewUnusedParametersTests.cs
Owners: none

normalize line endings in test strings
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Microsoft.CodeAnalysis.NetAnalyzers.UnitTests/Microsoft.NetCore.Analyzers/Runtime/DoNotPassLiteralsAsLocalizedParametersTests.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Test.Utilities/StringExtensions.cs
Owners: none

skips tests that are windows specific
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Microsoft.CodeAnalysis.NetAnalyzers.UnitTests/Microsoft.NetCore.Analyzers/Security/UseDefaultDllImportSearchPathsAttributeTests.cs
Owners: none

use regex to normalize line endings
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Test.Utilities/StringExtensions.cs
Owners: none

newline test fix
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Microsoft.CodeAnalysis.NetAnalyzers.UnitTests/Microsoft.NetCore.Analyzers/Runtime/DoNotPassLiteralsAsLocalizedParametersTests.cs
Owners: none

disable tests that are failing on linux
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Microsoft.CodeAnalysis.NetAnalyzers.UnitTests/Microsoft.NetCore.Analyzers/Runtime/DoNotPassLiteralsAsLocalizedParametersTests.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Test.Utilities/WindowsOnlyFactAttribute.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Test.Utilities/WindowsOnlyTheoryAttribute.cs
Owners: none

use windows only attribute
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Microsoft.CodeAnalysis.NetAnalyzers.UnitTests/Microsoft.NetCore.Analyzers/Security/UseDefaultDllImportSearchPathsAttributeTests.cs
Owners: none

Revert unwanted changes
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Microsoft.CodeAnalysis.NetAnalyzers.UnitTests/Microsoft.NetCore.Analyzers/InteropServices/PlatformCompatibilityAnalyzerTests.cs
Owners: none

Restore the changes to the files in the eng/foler and global.json
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Owners: none

Fix issue location for vbnet
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Microsoft.CodeAnalysis.NetAnalyzers.UnitTests/Microsoft.CodeQuality.Analyzers/QualityGuidelines/SealMethodsThatSatisfyPrivateInterfacesTests.cs
Owners: none

Correctly fix the test
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Microsoft.CodeAnalysis.NetAnalyzers.UnitTests/Microsoft.CodeQuality.Analyzers/QualityGuidelines/SealMethodsThatSatisfyPrivateInterfacesTests.cs
Owners: none

Fix CA2119 to report only on correct interface members
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/QualityGuidelines/SealMethodsThatSatisfyPrivateInterfaces.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Microsoft.CodeAnalysis.NetAnalyzers.UnitTests/Microsoft.CodeQuality.Analyzers/QualityGuidelines/SealMethodsThatSatisfyPrivateInterfacesTests.cs
Owners: none

Invert ifs to reduce nesting
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/QualityGuidelines/SealMethodsThatSatisfyPrivateInterfaces.cs
Owners: none

Restore the changes to the files in the eng/foler and global.json
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Owners: none

Update sarif file
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers.sarif
Owners: none

Remove workaround in AnalysisEntityFactory for a possible IOperation bug
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Utilities/FlowAnalysis/FlowAnalysis/Framework/DataFlow/AnalysisEntityFactory.cs
Owners: none

Remove workaround for IPropertyReferenceExpressions in IAnonymousObjectCreationExpression
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Utilities/Compiler/Extensions/IOperationExtensions.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Utilities/FlowAnalysis/FlowAnalysis/Framework/DataFlow/AnalysisEntityFactory.cs
Owners: none

Remove ILLink warnings that were fixed by https://github.com/dotnet/runtime/pull/45984
  src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToRunILLink.cs
Owners: clrappmodel@microsoft.com

Use switch pattern
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/ApiDesignGuidelines/DoNotRaiseExceptionsInUnexpectedLocations.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/ApiDesignGuidelines/ImplementIDisposableCorrectly.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/ApiDesignGuidelines/OperatorOverloadsHaveNamedAlternates.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/Maintainability/CodeMetricsAnalyzer.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.NetCore.Analyzers/Runtime/DoNotLockOnObjectsWithWeakIdentity.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.NetCore.Analyzers/Runtime/DoNotUseEnumerableMethodsOnIndexableCollectionsInsteadUseTheCollectionDirectly.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.NetCore.Analyzers/Runtime/SerializationRulesDiagnosticAnalyzer.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Utilities/Compiler/CodeMetrics/MetricsHelper.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Utilities/Compiler/Extensions/IMethodSymbolExtensions.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Utilities/Compiler/Extensions/IOperationExtensions.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Utilities/Compiler/Extensions/ITypeSymbolExtensions.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Utilities/Compiler/Extensions/ReportDiagnosticExtensions.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Utilities/Compiler/WellKnownTypeProvider.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Utilities/Compiler/WordParser.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/CopyAnalysis/CopyAbstractValueKind.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/PointsToAnalysis/PointsToAnalysis.PointsToDataFlowOperationVisitor.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Utilities/FlowAnalysis/FlowAnalysis/Framework/DataFlow/AnalysisEntity.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Utilities/FlowAnalysis/Options/DisposeAnalysisKind.cs
Owners: none

Discard can be removed
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Utilities/FlowAnalysis/FlowAnalysis/Framework/DataFlow/DataFlowOperationVisitor.cs
Owners: none

Fix compiler warnings
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Utilities/FlowAnalysis/FlowAnalysis/Framework/DataFlow/MapAbstractDomain.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Utilities/FlowAnalysis/FlowAnalysis/Framework/DataFlow/PredicatedAnalysisData.cs
Owners: none

Remove stale TODO comment
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.NetCore.Analyzers/Security/DoNotDisableCertificateValidation.cs
Owners: none

Revert changes to Tests file
  src/Tests/Microsoft.NET.Sdk.BlazorWebAssembly.Tests/Microsoft.NET.Sdk.BlazorWebAssembly.Tests.csproj
Owners: @captainsafia

Update src/NetAnalyzers/CSharp/AnalyzerReleases.Unshipped.md
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.CSharp.NetAnalyzers/AnalyzerReleases.Unshipped.md
Owners: none

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @dotnet/dotnet-cli  will be requested for
# review when someone opens a pull request.

/src/WebSdk/ @vijayrkn
/src/Tests/Microsoft.NET.Sdk.Publish.Tasks.Tests/ @vijayrkn

/src/BlazorWasmSdk @captainsafia
/src/Tests/Microsoft.NET.Sdk.BlazorWebAssembly.Tests @captainsafia
/src/Assets/TestProjects/BlazorHosted @captainsafia
/src/Assets/TestProjects/BlazorHostedRID @captainsafia
/src/Assets/TestProjects/BlazorWasmMinimal @captainsafia
/src/Assets/TestProjects/BlazorWasmWithLibrary @captainsafia

/src/Cli/dotnet/commands/dotnet-add/dotnet-add-package @dotnet/nuget-team
/src/Tests/dotnet-add-package.Tests @dotnet/nuget-team
/src/Cli/dotnet/commands/dotnet-nuget @dotnet/nuget-team
/src/Tests/dotnet-nuget.UnitTests @dotnet/nuget-team

/src/Cli/dotnet/commands/dotnet-fsi @dotnet/fsharp
/src/Tests/dotnet-fsi.Tests @dotnet/fsharp

/src/Cli/dotnet/commands/dotnet-test @dotnet/dotnet-test-templates-admin
/src/Cli/dotnet/commands/dotnet-vstest @dotnet/dotnet-test-templates-admin
/src/Tests/dotnet-test.Tests @dotnet/dotnet-test-templates-admin
/src/Tests/dotnet-vstest.Tests @dotnet/dotnet-test-templates-admin

/src/Cli/dotnet/commands/dotnet-new @DonJoseLuis
/src/Tests/dotnet-new.Tests @DonJoseLuis

# ILLink and ReadyToRun targets and tasks owned by runtime team
/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.ILLink.targets clrappmodel@microsoft.com
/src/Tasks/Microsoft.NET.Build.Tasks/PrepareForReadyToRunCompilation.cs @AntonLapounov
/src/Tasks/Microsoft.NET.Build.Tasks/RunReadyToRunCompiler.cs @AntonLapounov
/src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToRunILLink.cs clrappmodel@microsoft.com
/src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToPublishReadyToRun.cs @AntonLapounov
# Publish.targets related to ILLink and ReadyToRun is own by both runtime and SDK team
/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Publish.targets clrappmodel@microsoft.com @AntonLapounov @dotnet/dotnet-cli
