Repository dotnet/sdk, changes with the owners that CODEOWNERS names for each.
All owners: @vijayrkn, @dotnet/nuget-team, @dotnet/fsharp, @dotnet/dotnet-test-templates-admin, @DonJoseLuis

Fix fsharp proj build
  eng/Versions.props
  src/Layout/tool_fsharp/tool_fsc.csproj
Owners: none

Workaround for P2P reference with targetplatform
  src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.BeforeCommon.targets
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildAP2PrefernceWithTargetPlatform.cs
Owners: none

Update src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildAP2PrefernceWithTargetPlatform.cs
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildAP2PrefernceWithTargetPlatform.cs
Owners: none

Tests fix
  src/Tests/dotnet-add-package.Tests/GivenDotnetPackageAdd.cs
Owners: @dotnet/nuget-team

Fixing the casing for the targets folder
  src/WebSdk/Worker/Targets/Microsoft.NET.Sdk.Worker.props
Owners: @vijayrkn

Update rules documentation template
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers.sarif
Owners: none

Update the list of analyzers supporting the api_surface configuration
  src/Microsoft.CodeAnalysis.NetAnalyzers/docs/Analyzer Configuration.md
Owners: none

Fix bad merge
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers.sarif
Owners: none

Update .editorconfig
  .editorconfig
Owners: none

Fix FP with RS1012
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/QualityGuidelines/MarkMembersAsStatic.cs
Owners: none

Update .editorconfig
  .editorconfig
Owners: none

Dispose CTS and add ConfigureAwait(false)
  src/Cli/dotnet/NugetSearch/NugetToolSearchApiRequest.cs
Owners: none

Update AddPackageParser.cs
  src/Cli/dotnet/commands/dotnet-add/dotnet-add-package/AddPackageParser.cs
Owners: @dotnet/nuget-team

Apply suggestion
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/QualityGuidelines/MarkMembersAsStatic.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Utilities/Compiler/Analyzer.Utilities.projitems
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Utilities/Compiler/Extensions/IMethodSymbolExtensions.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Utilities/Compiler/Extensions/IPropertySymbolExtensions.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Utilities/Compiler/Extensions/OperationBlockAnalysisContextExtension.cs
Owners: none

Fix broken behavior
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Utilities/Compiler/Extensions/IPropertySymbolExtensions.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Microsoft.CodeAnalysis.NetAnalyzers.UnitTests/Microsoft.CodeQuality.Analyzers/QualityGuidelines/MarkMembersAsStaticTests.cs
Owners: none

Fix remaining points
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/QualityGuidelines/MarkMembersAsStatic.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Utilities/Compiler/Extensions/OperationBlockAnalysisContextExtension.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Microsoft.CodeAnalysis.NetAnalyzers.UnitTests/Microsoft.CodeQuality.Analyzers/QualityGuidelines/MarkMembersAsStaticTests.cs
Owners: none

Bump CA2200 to be a warning
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers.md
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/AnalyzerReleases.Shipped.md
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.CodeQuality.Analyzers/QualityGuidelines/RethrowToPreserveStackDetails.cs
Owners: none

Move strings to resource
  src/Analyzers/AnalyzerRunner.cs
  src/Program.cs
  src/Resources.resx
  src/xlf/Resources.cs.xlf
  src/xlf/Resources.de.xlf
  src/xlf/Resources.es.xlf
  src/xlf/Resources.fr.xlf
  src/xlf/Resources.it.xlf
  src/xlf/Resources.ja.xlf
  src/xlf/Resources.ko.xlf
  src/xlf/Resources.pl.xlf
  src/xlf/Resources.pt-BR.xlf
  src/xlf/Resources.ru.xlf
  src/xlf/Resources.tr.xlf
  src/xlf/Resources.zh-Hans.xlf
  src/xlf/Resources.zh-Hant.xlf
Owners: none

Bump integration timeout higher
  azure-pipelines-integration.yml
Owners: none

Revert ConfigureAwait
  src/Cli/dotnet/NugetSearch/NugetToolSearchApiRequest.cs
Owners: none

Ensure rzc.dll and PresentationBuildTasks.dll are signed after running crossgen
  src/redist/targets/Signing.targets
Owners: none

Remove aliases for the fix style and fix analyzers options
  src/FormatCommand.cs
Owners: none

Remove -fs and -fa alias usage from Readme
  README.md
Owners: none

Ensure rzc.dll and PresentationBuildTasks.dll are signed
  src/redist/targets/Signing.targets
Owners: none

Use utf-8-bom instead of utf-8
  .editorconfig
Owners: none

Remove trim_trailing_whitespace
  .editorconfig
Owners: none

Update src/Utilities/Compiler/Extensions/IPropertySymbolExtensions.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Utilities/Compiler/Extensions/IPropertySymbolExtensions.cs
Owners: none

bump version of Newtonsoft.Json to 11.0.1
  src/TemplateEngine/Microsoft.TemplateSearch.ScraperOutputComparison/Microsoft.TemplateSearch.ScraperOutputComparison.csproj
  src/TemplateEngine/Microsoft.TemplateSearch.TemplateDiscovery/Microsoft.TemplateSearch.TemplateDiscovery.csproj
Owners: none

Update test assertion for empty target platform moniker
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildWithATargetPlatform.cs
Owners: none

SystemDataEntityDbSetGenerics renamed to SystemDataEntityDbSet1
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Utilities/Compiler/WellKnownTypeNames.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/TaintedDataAnalysis/SqlSinks.cs
Owners: none

Apply suggestions from code review
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Microsoft.CodeAnalysis.NetAnalyzers.UnitTests/Microsoft.NetCore.Analyzers/Security/ReviewCodeForSqlInjectionVulnerabilitiesTests.cs
Owners: none

Fix compilation
  src/Microsoft.CodeAnalysis.NetAnalyzers/tests/Microsoft.CodeAnalysis.NetAnalyzers.UnitTests/Microsoft.NetCore.Analyzers/Security/ReviewCodeForSqlInjectionVulnerabilitiesTests.cs
Owners: none

Remove internal feed
  NuGet.config
Owners: none

Apply suggestions from code review
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/TaintedDataAnalysis/TaintedDataAnalysis.TaintedDataOperationVisitor.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/TaintedDataAnalysis/WebInputSources.cs
Owners: none

Versioning and warning wave related changes for MS.CA.NetAnalyzers package
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Directory.Build.props
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers.Package.csproj
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers.sarif
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/AnalyzerReleases.Shipped.md
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/AnalyzerReleases.Unshipped.md
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.NetFramework.Analyzers/DoNotUseInsecureDtdProcessing.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.NetFramework.Analyzers/DoNotUseInsecureDtdProcessingInApiDesign.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers/Microsoft.NetFramework.Analyzers/DoNotUseInsecureXSLTScriptExecution.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.VisualBasic.NetAnalyzers/AnalyzerReleases.Shipped.md
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/RulesMissingDocumentation.md
  src/Microsoft.CodeAnalysis.NetAnalyzers/tools/GenerateDocumentationAndConfigFiles/Program.cs
Owners: none

Update required MSBuild version for test
  src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToBuildWithATargetPlatform.cs
Owners: none

Address feedback + fix build failure for PerformanceSensitiveAnalyzers
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Directory.Build.props
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Microsoft.CodeAnalysis.NetAnalyzers.Package.csproj
Owners: none

Bumping version to 3.1.108
  eng/Versions.props
Owners: none

Update src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/TaintedDataAnalysis/SqlSinks.cs
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/TaintedDataAnalysis/SqlSinks.cs
Owners: none

Cache only method symbol info
  src/Microsoft.CodeAnalysis.NetAnalyzers/src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/TaintedDataAnalysis/WebInputSources.cs
Owners: none

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @dotnet/dotnet-cli  will be requested for
# review when someone opens a pull request.

/src/WebSdk/ @vijayrkn
/src/Tests/Microsoft.NET.Sdk.Publish.Tasks.Tests/ @vijayrkn

/src/Cli/dotnet/commands/dotnet-add/dotnet-add-package @dotnet/nuget-team
/src/Tests/dotnet-add-package.Tests @dotnet/nuget-team
/src/Cli/dotnet/commands/dotnet-nuget @dotnet/nuget-team
/src/Tests/dotnet-nuget.UnitTests @dotnet/nuget-team

/src/Cli/dotnet/commands/dotnet-fsi @dotnet/fsharp
/src/Tests/dotnet-fsi.Tests @dotnet/fsharp

/src/Cli/dotnet/commands/dotnet-test @dotnet/dotnet-test-templates-admin
/src/Cli/dotnet/commands/dotnet-vstest @dotnet/dotnet-test-templates-admin
/src/Tests/dotnet-test.Tests @dotnet/dotnet-test-templates-admin
/src/Tests/dotnet-vstest.Tests @dotnet/dotnet-test-templates-admin

/src/Cli/dotnet/commands/dotnet-new @DonJoseLuis
/src/Tests/dotnet-new.Tests @DonJoseLuis
