Repository dotnet/sdk, changes with the owners that CODEOWNERS names for each.
All owners: @vijayrkn, @dotnet/aspnet-blazor-eng, @dotnet/razor-compiler, @lewing, @akoeplinger, @pavelsavara, @maraf, @sharwell, @arkalyanms, @dotnet/nuget-team, @dotnet/fsharp, @dotnet/dotnet-testing-admin, @dotnet/templating-engine-maintainers, @dotnet/illink, @AntonLapounov, @dotnet/dotnet-cli, @sujitnayak, @tmat, @dotnet/roslyn-ide, @BillHiebert, @dotnet/area-infrastructure-libraries, @dotnet/sdk-container-builds-maintainers, @dotnet/source-build, @dotnet/product-construction

Localized file check-in by OneLocBuild Task: Build definition ID 140: Build ID 2558429
  src/WebSdk/Publish/Tasks/Properties/xlf/Resources.cs.xlf
  src/WebSdk/Publish/Tasks/Properties/xlf/Resources.de.xlf
  src/WebSdk/Publish/Tasks/Properties/xlf/Resources.es.xlf
  src/WebSdk/Publish/Tasks/Properties/xlf/Resources.fr.xlf
  src/WebSdk/Publish/Tasks/Properties/xlf/Resources.it.xlf
  src/WebSdk/Publish/Tasks/Properties/xlf/Resources.ja.xlf
  src/WebSdk/Publish/Tasks/Properties/xlf/Resources.ko.xlf
  src/WebSdk/Publish/Tasks/Properties/xlf/Resources.pl.xlf
  src/WebSdk/Publish/Tasks/Properties/xlf/Resources.pt-BR.xlf
  src/WebSdk/Publish/Tasks/Properties/xlf/Resources.ru.xlf
  src/WebSdk/Publish/Tasks/Properties/xlf/Resources.tr.xlf
  src/WebSdk/Publish/Tasks/Properties/xlf/Resources.zh-Hans.xlf
  src/WebSdk/Publish/Tasks/Properties/xlf/Resources.zh-Hant.xlf
Owners: @vijayrkn

Update the current target to 10.0 as some tests automatically update to that when the default TFM changes
  test/EndToEnd.Tests/Utilities/SupportedNetCoreAppVersions.cs
  test/Microsoft.NET.TestFramework/ToolsetInfo.cs
Owners: none

Fix the formatting of some of the templating tests
  test/dotnet-new.Tests/Approvals/WebProjectsTests.CanShowHelp_Mvc.verified.txt
  test/dotnet-new.Tests/Approvals/WebProjectsTests.CanShowHelp_WebAPI.verified.txt
  test/dotnet-new.Tests/Approvals/WebProjectsTests.CanShowHelp_Webapp_common.verified.txt
Owners: @dotnet/templating-engine-maintainers

Web templates have moved to target net10.0 already
  test/EndToEnd.Tests/ProjectBuildTests.cs
Owners: none

Convert to correct state
  src/Cli/dotnet/commands/dotnet-test/TestingPlatformCommand.cs
Owners: @dotnet/dotnet-testing-admin

Update source-build team references
  eng/DotNetBuild.props
  eng/SourceBuildPrebuiltBaseline.xml
Owners: @dotnet/source-build

create rpms that track inner directories for cleanup
  src/Installer/core-sdk-tasks/BuildFPMToolPreReqs.cs
Owners: none

Bump version of Microsoft.IO.Redist to preview from maintenance-packages
  eng/Versions.props
Owners: none

Custom sources should include original package mappings
  src/SourceBuild/content/eng/tools/tasks/Microsoft.DotNet.UnifiedBuild.Tasks/UpdateNuGetConfigPackageSourcesMappings.cs
Owners: @dotnet/source-build, @dotnet/product-construction

Add local package patterns to source-mappings for online feeds (#44076)
  src/SourceBuild/content/eng/tools/tasks/Microsoft.DotNet.UnifiedBuild.Tasks/UpdateNuGetConfigPackageSourcesMappings.cs
Owners: @dotnet/source-build, @dotnet/product-construction

Update source-build team references (#44118)
  eng/DotNetBuild.props
  eng/SourceBuildPrebuiltBaseline.xml
Owners: @dotnet/source-build

hard code 6.0.36 as it's going out of support after that
  eng/Versions.props
Owners: none

skip test failing on net10 for now
  test/dotnet-watch.Tests/HotReload/ApplyDeltaTests.cs
Owners: @tmat, @arkalyanms, @dotnet/roslyn-ide

Skip the lower framework versions on the ARM64 architecture and set the minimum version to net6.0
  test/Microsoft.NET.Publish.Tests/GivenThatWeWantToPublishReadyToRun.cs
  test/Microsoft.NET.Publish.Tests/GivenThatWeWantToRunILLink.cs
Owners: @AntonLapounov, @dotnet/illink

Update according to the comments
  eng/restore-toolset.ps1
  eng/restore-toolset.sh
Owners: none

Fix version
  eng/restore-toolset.ps1
  eng/restore-toolset.sh
Owners: none

The current .NET SDK does not support targeting .NET 11.0
  test/Microsoft.NET.Publish.Tests/PublishTestUtils.cs
Owners: none

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @dotnet/dotnet-cli  will be requested for
# review when someone opens a pull request.
# Issue/PR labels to use are listed before each section

# Area-WebSDK
/src/WebSdk/ @vijayrkn
/test/Microsoft.NET.Sdk.Publish.Tasks.Tests/ @vijayrkn

# Area-AspNetCore
/src/BlazorWasmSdk/ @dotnet/aspnet-blazor-eng
/test/Microsoft.NET.Sdk.BlazorWebAssembly.Tests/ @dotnet/aspnet-blazor-eng
/test/TestAssets/TestProjects/BlazorHosted/ @dotnet/aspnet-blazor-eng
/test/TestAssets/TestProjects/BlazorHostedRID/ @dotnet/aspnet-blazor-eng
/test/TestAssets/TestProjects/BlazorWasmMinimal/ @dotnet/aspnet-blazor-eng
/test/TestAssets/TestProjects/BlazorWasmWithLibrary/ @dotnet/aspnet-blazor-eng
/src/RazorSdk/ @dotnet/razor-compiler
/test/Microsoft.NET.Sdk.BlazorWebAssembly.AoT.Tests/ @dotnet/aspnet-blazor-eng
/test/Microsoft.NET.Sdk.Razor.Tests/ @dotnet/razor-compiler
/test/Microsoft.NET.Sdk.Razor.Tool.Tests/ @dotnet/razor-compiler
/test/TestAssets/TestPackages/PackageLibraryDirectDependency/ @dotnet/aspnet-blazor-eng
/test/TestAssets/TestPackages/PackageLibraryTransitiveDependency/ @dotnet/aspnet-blazor-eng
/test/TestAssets/TestProjects/Razor*/ @dotnet/razor-compiler

# Area-Wasm
/src/WasmSdk @lewing @akoeplinger @pavelsavara @maraf

# Area-Format
/src/Cli/dotnet/commands/dotnet-format @sharwell @arkalyanms
/test/dotnet-format.Tests @sharwell @arkalyanms

# Area-NuGet
/src/Cli/dotnet/commands/dotnet-add/dotnet-add-package @dotnet/nuget-team
/test/dotnet-add-package.Tests @dotnet/nuget-team
/src/Cli/dotnet/commands/dotnet-nuget @dotnet/nuget-team
/test/dotnet-nuget.UnitTests @dotnet/nuget-team
/src/Cli/dotnet/commands/dotnet-list/dotnet-list-package @dotnet/nuget-team
/test/dotnet-list-package.Tests @dotnet/nuget-team

# Area-FSharp
/src/Cli/dotnet/commands/dotnet-fsi @dotnet/fsharp
/test/dotnet-fsi.Tests @dotnet/fsharp

# Area-DotNet Test
/src/Cli/dotnet/commands/dotnet-test @dotnet/dotnet-testing-admin
/src/Cli/dotnet/commands/dotnet-vstest @dotnet/dotnet-testing-admin
/test/dotnet-test.Tests @dotnet/dotnet-testing-admin
/test/dotnet-vstest.Tests @dotnet/dotnet-testing-admin

# Area-Templates
/src/Cli/dotnet/commands/dotnet-new @dotnet/templating-engine-maintainers
/src/Cli/dotnet-new3 @dotnet/templating-engine-maintainers
/src/Cli/Microsoft.TemplateEngine.Cli @dotnet/templating-engine-maintainers
/test/dotnet-new.Tests @dotnet/templating-engine-maintainers
/test/Microsoft.TemplateEngine.* @dotnet/templating-engine-maintainers
/template_feed @dotnet/templating-engine-maintainers

# ILLink and ReadyToRun targets and tasks owned by runtime team
# Area-ILLink Area-ReadyToRun
/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.ILLink.targets @dotnet/illink
/src/Tasks/Microsoft.NET.Build.Tasks/PrepareForReadyToRunCompilation.cs @AntonLapounov
/src/Tasks/Microsoft.NET.Build.Tasks/RunReadyToRunCompiler.cs @AntonLapounov
/test/Microsoft.NET.Publish.Tests/GivenThatWeWantToRunILLink.cs @dotnet/illink
/test/Microsoft.NET.Publish.Tests/GivenThatWeWantToPublishReadyToRun.cs @AntonLapounov
# Publish.targets related to ILLink and ReadyToRun is own by both runtime and SDK team
/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Publish.targets @dotnet/illink @AntonLapounov @dotnet/dotnet-cli
# Area-ClickOnce
/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.ClickOnce.targets @sujitnayak

# Area-Watch
/test/TestAssets/TestProjects/Watch*/ @tmat @arkalyanms @dotnet/roslyn-ide
/test/dotnet-watch.Tests/ @tmat @arkalyanms @dotnet/roslyn-ide
/test/Microsoft.AspNetCore.Watch.BrowserRefresh.Tests/ @dotnet/aspnet-blazor-eng
/src/BuiltInTools/* @tmat @arkalyanms @dotnet/roslyn-ide
/src/BuiltInTools/BrowserRefresh @dotnet/aspnet-blazor-eng
/src/BuiltInTools/AspireService @BillHiebert @dotnet/aspnet-blazor-eng

# Compatibility tools owned by runtime team
/src/Compatibility/ @dotnet/area-infrastructure-libraries
/test/Microsoft.DotNet.ApiCompatibility*/ @dotnet/area-infrastructure-libraries
/test/Microsoft.DotNet.ApiCompat*/ @dotnet/area-infrastructure-libraries
/test/Microsoft.DotNet.PackageValidation*/ @dotnet/area-infrastructure-libraries

# Area-GenAPI
/src/Compatibility/GenAPI/ @dotnet/area-infrastructure-libraries
/src/Compatibility/Microsoft.DotNet.ApiSymbolExtensions/ @dotnet/area-infrastructure-libraries
/test/Microsoft.DotNet.GenAPI/ @dotnet/area-infrastructure-libraries
/test/Microsoft.DotNet.ApiSymbolExtensions.Tests/ @dotnet/area-infrastructure-libraries

# Area: dotnet containers
/src/Cli/Containers @dotnet/sdk-container-builds-maintainers
/test/containerize.UnitTests @dotnet/sdk-container-builds-maintainers
/test/Microsoft.NET.Build.Containers.IntegrationTests @dotnet/sdk-container-builds-maintainers
/test/Microsoft.NET.Build.Containers.UnitTests @dotnet/sdk-container-builds-maintainers

# dotnet-format
/src/BuiltInTools/dotnet-format @dotnet/roslyn-ide
/test/dotnet-format.Tests @dotnet/roslyn-ide

# Area: VMR & SourceBuild
/.devcontainer/ @dotnet/source-build
/eng/pipelines/ @dotnet/source-build @dotnet/product-construction
/eng/SourceBuild* @dotnet/source-build
/src/SourceBuild/ @dotnet/source-build @dotnet/product-construction
/src/VirtualMonoRepo/ @dotnet/product-construction
